# About this file:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# @mikeharder is the primary owner of this repository.
# @raosuhas and @weshaggard are secondary owners.
* @mikeharder @raosuhas @weshaggard

# Any changes to rulesets related to ARM must have @raosuhas as a reviewer and give him
# at least 2 full business days (each 9 AM - 5 PM PST) to review before being merged,
# with the exception of low-risk urgent rule bugfixes, which can be merged and deployed immediately.
#
# In addition, @raosuhas must be informed about any major upcoming planned changes to this repository
# that would end up impacting any rulesets related to ARM, including rules being modified or
# disabled/enabled for all or some subset of spec PRs.
/packages/rulesets/src/ @raosuhas @tejaswiMinnu @AkhilaIlla @mikeharder @weshaggard 
