{
  "swagger": "2.0",
  "info": {
    "version": "2020-04-15",
    "title": "CdnManagementClient",
    "description": "Cdn Management Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "description": "Lists all of the CDN profiles within an Azure subscription.",
        "operationId": "Profiles_List",
        "x-ms-examples": {
          "Profiles_List": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "profile1",
                      "id": "/subscriptions/subid/resourcegroups/RG1/providers/Microsoft.Cdn/profiles/profile1",
                      "type": "Microsoft.Cdn/profiles",
                      "tags": {},
                      "location": "WestCentralUs",
                      "sku": {
                        "name": "Standard_Akamai"
                      },
                      "properties": {
                        "provisioningState": "Succeeded",
                        "resourceState": "Active"
                      }
                    },
                    {
                      "name": "profile2",
                      "id": "/subscriptions/subid/resourcegroups/RG1/providers/Microsoft.Cdn/profiles/profile2",
                      "type": "Microsoft.Cdn/profiles",
                      "tags": {},
                      "location": "WestCentralUs",
                      "sku": {
                        "name": "Standard_Akamai"
                      },
                      "properties": {
                        "provisioningState": "Succeeded",
                        "resourceState": "Active"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProfileListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "description": "Lists all of the CDN profiles within a resource group.",
        "operationId": "Profiles_ListByResourceGroup",
        "x-ms-examples": {
          "Profiles_ListByResourceGroup": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "profile1",
                      "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1",
                      "type": "Microsoft.Cdn/profiles",
                      "tags": {},
                      "location": "WestCentralUs",
                      "sku": {
                        "name": "Standard_Akamai"
                      },
                      "properties": {
                        "provisioningState": "Succeeded",
                        "resourceState": "Active"
                      }
                    },
                    {
                      "name": "profile2",
                      "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile2",
                      "type": "Microsoft.Cdn/profiles",
                      "tags": {},
                      "location": "WestCentralUs",
                      "sku": {
                        "name": "Standard_Akamai"
                      },
                      "properties": {
                        "provisioningState": "Succeeded",
                        "resourceState": "Active"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProfileListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "description": "Gets a CDN profile with the specified profile name under the specified subscription and resource group.",
        "operationId": "Profiles_Get",
        "x-ms-examples": {
          "Profiles_Get": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "profile1",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1",
                  "type": "Microsoft.Cdn/profiles",
                  "tags": {},
                  "location": "WestCentralUs",
                  "sku": {
                    "name": "Standard_Akamai"
                  },
                  "properties": {
                    "provisioningState": "Succeeded",
                    "resourceState": "Active"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "put": {
        "tags": [
          "Profiles"
        ],
        "description": "Creates a new CDN profile with a profile name under the specified subscription and resource group.",
        "operationId": "Profiles_Create",
        "x-ms-examples": {
          "Profiles_Create": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "profile": {
                "location": "WestCentralUs",
                "sku": {
                  "name": "Standard_Verizon"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "name": "profile1",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1",
                  "type": "Microsoft.Cdn/profiles",
                  "tags": {},
                  "location": "WestCentralUs",
                  "sku": {
                    "name": "Standard_Verizon"
                  },
                  "properties": {
                    "provisioningState": "Creating",
                    "resourceState": "Creating"
                  }
                }
              },
              "201": {
                "body": {
                  "name": "profile1",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1",
                  "type": "Microsoft.Cdn/profiles",
                  "tags": {},
                  "location": "WestCentralUs",
                  "sku": {
                    "name": "Standard_Verizon"
                  },
                  "properties": {
                    "provisioningState": "Creating",
                    "resourceState": "Creating"
                  }
                }
              },
              "202": {
                "body": {
                  "name": "profile1",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1",
                  "type": "Microsoft.Cdn/profiles",
                  "tags": {},
                  "location": "WestCentralUs",
                  "sku": {
                    "name": "Standard_Verizon"
                  },
                  "properties": {
                    "provisioningState": "Creating",
                    "resourceState": "Creating"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "description": "Profile properties needed to create a new profile.",
            "in": "body",
            "name": "profile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "201": {
            "description": "Created. The request has been fulfilled and a new profile has been created.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "patch": {
        "tags": [
          "Profiles"
        ],
        "description": "Updates an existing CDN profile with the specified profile name under the specified subscription and resource group.",
        "operationId": "Profiles_Update",
        "x-ms-examples": {
          "Profiles_Update": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "profileUpdateParameters": {
                "tags": {
                  "additionalProperties": "Tag1"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "name": "profile1",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1",
                  "type": "Microsoft.Cdn/profiles",
                  "tags": {
                    "additionalProperties": "Tag1"
                  },
                  "location": "WestCentralUs",
                  "sku": {
                    "name": "Standard_Verizon"
                  },
                  "properties": {
                    "provisioningState": "Succeeded",
                    "resourceState": "Active"
                  }
                }
              },
              "202": {
                "body": {
                  "name": "profile1",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1",
                  "type": "Microsoft.Cdn/profiles",
                  "tags": {
                    "additionalProperties": "Tag1"
                  },
                  "location": "WestCentralUs",
                  "sku": {
                    "name": "Standard_Verizon"
                  },
                  "properties": {
                    "provisioningState": "Succeeded",
                    "resourceState": "Active"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileUpdateParameters",
            "in": "body",
            "description": "Profile properties needed to update an existing profile.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Profiles"
        ],
        "description": "Deletes an existing CDN profile with the specified parameters. Deleting a profile will result in the deletion of all of the sub-resources including endpoints, origins and custom domains.",
        "operationId": "Profiles_Delete",
        "x-ms-examples": {
          "Profiles_Delete": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1"
            },
            "responses": {
              "202": {},
              "204": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content. The request has been accepted but the profile was not found."
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/generateSsoUri": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "description": "Generates a dynamic SSO URI used to sign in to the CDN supplemental portal. Supplemental portal is used to configure advanced feature capabilities that are not yet available in the Azure portal, such as core reports in a standard profile; rules engine, advanced HTTP reports, and real-time stats and alerts in a premium profile. The SSO URI changes approximately every 10 minutes.",
        "operationId": "Profiles_GenerateSsoUri",
        "x-ms-examples": {
          "Profiles_GenerateSsoUri": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1"
            },
            "responses": {
              "200": {
                "body": {
                  "ssoUriValue": "https://someuri.com"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SsoUri"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getSupportedOptimizationTypes": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "description": "Gets the supported optimization types for the current profile. A user can create an endpoint with an optimization type from the listed values.",
        "operationId": "Profiles_ListSupportedOptimizationTypes",
        "x-ms-examples": {
          "Profiles_ListSupportedOptimizationTypes": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1"
            },
            "responses": {
              "200": {
                "body": {
                  "supportedOptimizationTypes": [
                    "GeneralWebDelivery",
                    "DynamicSiteAcceleration"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SupportedOptimizationTypesListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkResourceUsage": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "description": "Checks the quota and actual usage of endpoints under the given CDN profile.",
        "operationId": "Profiles_ListResourceUsage",
        "x-ms-examples": {
          "Profiles_ListResourceUsage": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "resourceType": "endpoint",
                      "unit": "count",
                      "currentValue": 0,
                      "limit": 25
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ResourceUsageListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "description": "Lists existing CDN endpoints.",
        "operationId": "Endpoints_ListByProfile",
        "x-ms-examples": {
          "Endpoints_ListByProfile": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "endpoint1",
                      "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                      "type": "Microsoft.Cdn/profiles/endpoints",
                      "tags": {},
                      "location": "CentralUs",
                      "properties": {
                        "hostName": "endpoint1.azureedge.net",
                        "originHostHeader": "www.bing.com",
                        "provisioningState": "Succeeded",
                        "resourceState": "Running",
                        "isHttpAllowed": true,
                        "isHttpsAllowed": true,
                        "queryStringCachingBehavior": "NotSet",
                        "originPath": null,
                        "origins": [
                          {
                            "name": "www-bing-com",
                            "properties": {
                              "hostName": "www.bing.com",
                              "httpPort": 80,
                              "httpsPort": 443,
                              "originHostHeader": "www.someDomain2.net",
                              "priority": 2,
                              "weight": 50,
                              "enabled": true,
                              "privateLinkResourceId": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.Network/privateLinkServices/pls1",
                              "privateLinkLocation": "eastus",
                              "privateLinkApprovalMessage": "Please approve the connection request for this Private Link"
                            }
                          }
                        ],
                        "originGroups": [
                          {
                            "name": "originGroup1",
                            "properties": {
                              "healthProbeSettings": {
                                "probePath": "/health.aspx",
                                "probeRequestType": "GET",
                                "probeProtocol": "Http",
                                "probeIntervalInSeconds": 120
                              },
                              "origins": [
                                {
                                  "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-bing-com"
                                }
                              ],
                              "responseBasedOriginErrorDetectionSettings": {
                                "responseBasedDetectedErrorTypes": "TcpErrorsOnly",
                                "responseBasedFailoverThresholdPercentage": 10
                              }
                            }
                          }
                        ],
                        "contentTypesToCompress": [],
                        "isCompressionEnabled": false,
                        "optimizationType": "DynamicSiteAcceleration",
                        "probePath": "/image",
                        "geoFilters": [],
                        "defaultOriginGroup": {
                          "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EndpointListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "description": "Gets an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.",
        "operationId": "Endpoints_Get",
        "x-ms-examples": {
          "Endpoints_Get": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "endpoint1",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                  "type": "Microsoft.Cdn/profiles/endpoints",
                  "tags": {},
                  "location": "CentralUs",
                  "properties": {
                    "hostName": "endpoint1.azureedge.net",
                    "originHostHeader": "www.bing.com",
                    "provisioningState": "Succeeded",
                    "resourceState": "Running",
                    "isHttpAllowed": true,
                    "isHttpsAllowed": true,
                    "queryStringCachingBehavior": "NotSet",
                    "originPath": null,
                    "origins": [
                      {
                        "name": "www-bing-com",
                        "properties": {
                          "hostName": "www.bing.com",
                          "httpPort": 80,
                          "httpsPort": 443,
                          "originHostHeader": "www.someDomain2.net",
                          "priority": 2,
                          "weight": 50,
                          "enabled": true,
                          "privateLinkResourceId": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.Network/privateLinkServices/pls1",
                          "privateLinkLocation": "eastus",
                          "privateLinkApprovalMessage": "Please approve the connection request for this Private Link"
                        }
                      }
                    ],
                    "originGroups": [
                      {
                        "name": "originGroup1",
                        "properties": {
                          "healthProbeSettings": {
                            "probePath": "/health.aspx",
                            "probeRequestType": "GET",
                            "probeProtocol": "Http",
                            "probeIntervalInSeconds": 120
                          },
                          "origins": [
                            {
                              "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-bing-com"
                            }
                          ]
                        }
                      }
                    ],
                    "contentTypesToCompress": [],
                    "isCompressionEnabled": false,
                    "optimizationType": "DynamicSiteAcceleration",
                    "probePath": "/image",
                    "geoFilters": [],
                    "defaultOriginGroup": {
                      "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "put": {
        "tags": [
          "Endpoints"
        ],
        "description": "Creates a new CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.",
        "operationId": "Endpoints_Create",
        "x-ms-examples": {
          "Endpoints_Create": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1",
              "endpoint": {
                "location": "WestUs",
                "tags": {
                  "key1": "value1"
                },
                "properties": {
                  "originHostHeader": "www.bing.com",
                  "originPath": "/photos",
                  "contentTypesToCompress": [
                    "text/html",
                    "application/octet-stream"
                  ],
                  "isCompressionEnabled": true,
                  "isHttpAllowed": true,
                  "isHttpsAllowed": true,
                  "queryStringCachingBehavior": "BypassCaching",
                  "defaultOriginGroup": {
                    "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1"
                  },
                  "deliveryPolicy": {
                    "description": "Test description for a policy.",
                    "rules": [
                      {
                        "name": "rule1",
                        "order": 1,
                        "conditions": [
                          {
                            "name": "RemoteAddress",
                            "parameters": {
                              "operator": "IPMatch",
                              "negateCondition": true,
                              "matchValues": [
                                "192.168.1.0/24",
                                "10.0.0.0/24"
                              ],
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters"
                            }
                          }
                        ],
                        "actions": [
                          {
                            "name": "CacheExpiration",
                            "parameters": {
                              "cacheBehavior": "Override",
                              "cacheDuration": "10:10:09",
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters",
                              "cacheType": "All"
                            }
                          },
                          {
                            "name": "ModifyResponseHeader",
                            "parameters": {
                              "headerAction": "Overwrite",
                              "headerName": "Access-Control-Allow-Origin",
                              "value": "*",
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"
                            }
                          },
                          {
                            "name": "ModifyRequestHeader",
                            "parameters": {
                              "headerAction": "Overwrite",
                              "headerName": "Accept-Encoding",
                              "value": "gzip",
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"
                            }
                          }
                        ]
                      }
                    ]
                  },
                  "origins": [
                    {
                      "name": "origin1",
                      "properties": {
                        "hostName": "www.someDomain1.net",
                        "httpPort": 80,
                        "httpsPort": 443,
                        "originHostHeader": "www.someDomain1.net",
                        "priority": 1,
                        "weight": 50,
                        "enabled": true,
                        "privateLinkResourceId": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.Network/privateLinkServices/pls1",
                        "privateLinkLocation": "eastus",
                        "privateLinkApprovalMessage": "Please approve the connection request for this Private Link"
                      }
                    },
                    {
                      "name": "origin2",
                      "properties": {
                        "hostName": "www.someDomain2.net",
                        "httpPort": 80,
                        "httpsPort": 443,
                        "originHostHeader": "www.someDomain2.net",
                        "priority": 2,
                        "weight": 50,
                        "enabled": true
                      }
                    }
                  ],
                  "originGroups": [
                    {
                      "name": "originGroup1",
                      "properties": {
                        "healthProbeSettings": {
                          "probePath": "/health.aspx",
                          "probeRequestType": "GET",
                          "probeProtocol": "Http",
                          "probeIntervalInSeconds": 120
                        },
                        "origins": [
                          {
                            "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1"
                          },
                          {
                            "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2"
                          }
                        ],
                        "responseBasedOriginErrorDetectionSettings": {
                          "responseBasedDetectedErrorTypes": "TcpErrorsOnly",
                          "responseBasedFailoverThresholdPercentage": 10
                        }
                      }
                    }
                  ]
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "name": "endpoint4899",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                  "type": "Microsoft.Cdn/profiles/endpoints",
                  "tags": {
                    "kay1": "value1"
                  },
                  "location": "WestUs",
                  "properties": {
                    "hostName": "endpoint4899.azureedge-test.net",
                    "originHostHeader": "www.bing.com",
                    "provisioningState": "Creating",
                    "resourceState": "Creating",
                    "isHttpAllowed": true,
                    "isHttpsAllowed": true,
                    "queryStringCachingBehavior": "BypassCaching",
                    "originPath": "/photos",
                    "defaultOriginGroup": {
                      "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1"
                    },
                    "origins": [
                      {
                        "name": "origin1",
                        "properties": {
                          "hostName": "www.someDomain1.net",
                          "httpPort": 80,
                          "httpsPort": 443,
                          "originHostHeader": "www.someDomain1.net",
                          "priority": 1,
                          "weight": 50,
                          "enabled": true,
                          "privateLinkResourceId": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.Network/privateLinkServices/pls1",
                          "privateLinkLocation": "eastus",
                          "privateLinkApprovalMessage": "Please approve the connection request for this Private Link"
                        }
                      },
                      {
                        "name": "origin2",
                        "properties": {
                          "hostName": "www.someDomain2.net",
                          "httpPort": 80,
                          "httpsPort": 443,
                          "originHostHeader": "www.someDomain2.net",
                          "priority": 2,
                          "weight": 50,
                          "enabled": true
                        }
                      }
                    ],
                    "originGroups": [
                      {
                        "name": "originGroup1",
                        "properties": {
                          "healthProbeSettings": {
                            "probePath": "/health.aspx",
                            "probeRequestType": "GET",
                            "probeProtocol": "Http",
                            "probeIntervalInSeconds": 120
                          },
                          "origins": [
                            {
                              "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1"
                            },
                            {
                              "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2"
                            }
                          ],
                          "responseBasedOriginErrorDetectionSettings": {
                            "responseBasedDetectedErrorTypes": "TcpErrorsOnly",
                            "responseBasedFailoverThresholdPercentage": 10
                          }
                        }
                      }
                    ],
                    "contentTypesToCompress": [
                      "text/html",
                      "application/octet-stream"
                    ],
                    "isCompressionEnabled": true,
                    "optimizationType": null,
                    "probePath": null,
                    "geoFilters": [],
                    "deliveryPolicy": {
                      "description": "Test description for a policy.",
                      "rules": [
                        {
                          "name": "rule1",
                          "order": 1,
                          "conditions": [
                            {
                              "name": "RemoteAddress",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters",
                                "operator": "IPMatch",
                                "negateCondition": true,
                                "matchValues": [
                                  "192.168.1.0/24",
                                  "10.0.0.0/24"
                                ],
                                "transforms": []
                              }
                            }
                          ],
                          "actions": [
                            {
                              "name": "CacheExpiration",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters",
                                "cacheBehavior": "Override",
                                "cacheDuration": "10:10:09",
                                "cacheType": "All"
                              }
                            },
                            {
                              "name": "ModifyResponseHeader",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters",
                                "headerAction": "Overwrite",
                                "headerName": "Access-Control-Allow-Origin",
                                "value": "*"
                              }
                            },
                            {
                              "name": "ModifyRequestHeader",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters",
                                "headerAction": "Overwrite",
                                "headerName": "Accept-Encoding",
                                "value": "gzip"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              },
              "201": {
                "body": {
                  "name": "endpoint4899",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                  "type": "Microsoft.Cdn/profiles/endpoints",
                  "tags": {
                    "kay1": "value1"
                  },
                  "location": "WestUs",
                  "properties": {
                    "hostName": "endpoint4899.azureedge-test.net",
                    "originHostHeader": "www.bing.com",
                    "provisioningState": "Creating",
                    "resourceState": "Creating",
                    "isHttpAllowed": true,
                    "isHttpsAllowed": true,
                    "queryStringCachingBehavior": "BypassCaching",
                    "originPath": "/photos",
                    "defaultOriginGroup": {
                      "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1"
                    },
                    "origins": [
                      {
                        "name": "origin1",
                        "properties": {
                          "hostName": "www.someDomain1.net",
                          "httpPort": 80,
                          "httpsPort": 443,
                          "originHostHeader": "www.someDomain1.net",
                          "priority": 1,
                          "weight": 50,
                          "enabled": true,
                          "privateLinkResourceId": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.Network/privateLinkServices/pls1",
                          "privateLinkLocation": "eastus",
                          "privateLinkApprovalMessage": "Please approve the connection request for this Private Link"
                        }
                      },
                      {
                        "name": "origin2",
                        "properties": {
                          "hostName": "www.someDomain2.net",
                          "httpPort": 80,
                          "httpsPort": 443,
                          "originHostHeader": "www.someDomain2.net",
                          "priority": 2,
                          "weight": 50,
                          "enabled": true
                        }
                      }
                    ],
                    "originGroups": [
                      {
                        "name": "originGroup1",
                        "properties": {
                          "healthProbeSettings": {
                            "probePath": "/health.aspx",
                            "probeRequestType": "GET",
                            "probeProtocol": "Http",
                            "probeIntervalInSeconds": 120
                          },
                          "origins": [
                            {
                              "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1"
                            },
                            {
                              "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2"
                            }
                          ],
                          "responseBasedOriginErrorDetectionSettings": {
                            "responseBasedDetectedErrorTypes": "TcpErrorsOnly",
                            "responseBasedFailoverThresholdPercentage": 10
                          }
                        }
                      }
                    ],
                    "contentTypesToCompress": [
                      "text/html",
                      "application/octet-stream"
                    ],
                    "isCompressionEnabled": true,
                    "optimizationType": null,
                    "probePath": null,
                    "geoFilters": [],
                    "deliveryPolicy": {
                      "description": "Test description for a policy.",
                      "rules": [
                        {
                          "name": "rule1",
                          "order": 1,
                          "conditions": [
                            {
                              "name": "RemoteAddress",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters",
                                "operator": "IPMatch",
                                "negateCondition": true,
                                "matchValues": [
                                  "192.168.1.0/24",
                                  "10.0.0.0/24"
                                ],
                                "transforms": []
                              }
                            }
                          ],
                          "actions": [
                            {
                              "name": "CacheExpiration",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters",
                                "cacheBehavior": "Override",
                                "cacheDuration": "10:10:09",
                                "cacheType": "All"
                              }
                            },
                            {
                              "name": "ModifyResponseHeader",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters",
                                "headerAction": "Overwrite",
                                "headerName": "Access-Control-Allow-Origin",
                                "value": "*"
                              }
                            },
                            {
                              "name": "ModifyRequestHeader",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters",
                                "headerAction": "Overwrite",
                                "headerName": "Accept-Encoding",
                                "value": "gzip"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              },
              "202": {
                "body": {
                  "name": "endpoint4899",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                  "type": "Microsoft.Cdn/profiles/endpoints",
                  "tags": {
                    "kay1": "value1"
                  },
                  "location": "WestUs",
                  "properties": {
                    "hostName": "endpoint4899.azureedge-test.net",
                    "originHostHeader": "www.bing.com",
                    "provisioningState": "Creating",
                    "resourceState": "Creating",
                    "isHttpAllowed": true,
                    "isHttpsAllowed": true,
                    "queryStringCachingBehavior": "BypassCaching",
                    "originPath": "/photos",
                    "defaultOriginGroup": {
                      "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1"
                    },
                    "origins": [
                      {
                        "name": "origin1",
                        "properties": {
                          "hostName": "www.someDomain1.net",
                          "httpPort": 80,
                          "httpsPort": 443,
                          "originHostHeader": "www.someDomain1.net",
                          "priority": 1,
                          "weight": 50,
                          "enabled": true,
                          "privateLinkResourceId": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.Network/privateLinkServices/pls1",
                          "privateLinkLocation": "eastus",
                          "privateLinkApprovalMessage": "Please approve the connection request for this Private Link"
                        }
                      },
                      {
                        "name": "origin2",
                        "properties": {
                          "hostName": "www.someDomain2.net",
                          "httpPort": 80,
                          "httpsPort": 443,
                          "originHostHeader": "www.someDomain2.net",
                          "priority": 2,
                          "weight": 50,
                          "enabled": true
                        }
                      }
                    ],
                    "originGroups": [
                      {
                        "name": "originGroup1",
                        "properties": {
                          "healthProbeSettings": {
                            "probePath": "/health.aspx",
                            "probeRequestType": "GET",
                            "probeProtocol": "Http",
                            "probeIntervalInSeconds": 120
                          },
                          "origins": [
                            {
                              "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1"
                            },
                            {
                              "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2"
                            }
                          ],
                          "responseBasedOriginErrorDetectionSettings": {
                            "responseBasedDetectedErrorTypes": "TcpErrorsOnly",
                            "responseBasedFailoverThresholdPercentage": 10
                          }
                        }
                      }
                    ],
                    "contentTypesToCompress": [
                      "text/html",
                      "application/octet-stream"
                    ],
                    "isCompressionEnabled": true,
                    "optimizationType": null,
                    "probePath": null,
                    "geoFilters": [],
                    "deliveryPolicy": {
                      "description": "Test description for a policy.",
                      "rules": [
                        {
                          "name": "rule1",
                          "order": 1,
                          "conditions": [
                            {
                              "name": "RemoteAddress",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters",
                                "operator": "IPMatch",
                                "negateCondition": true,
                                "matchValues": [
                                  "192.168.1.0/24",
                                  "10.0.0.0/24"
                                ],
                                "transforms": []
                              }
                            }
                          ],
                          "actions": [
                            {
                              "name": "CacheExpiration",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters",
                                "cacheBehavior": "Override",
                                "cacheDuration": "10:10:09",
                                "cacheType": "All"
                              }
                            },
                            {
                              "name": "ModifyResponseHeader",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters",
                                "headerAction": "Overwrite",
                                "headerName": "Access-Control-Allow-Origin",
                                "value": "*"
                              }
                            },
                            {
                              "name": "ModifyRequestHeader",
                              "parameters": {
                                "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters",
                                "headerAction": "Overwrite",
                                "headerName": "Accept-Encoding",
                                "value": "gzip"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpoint",
            "in": "body",
            "description": "Endpoint properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "201": {
            "description": "Created. The request has been fulfilled and a new endpoint has been created.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "patch": {
        "tags": [
          "Endpoints"
        ],
        "description": "Updates an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile. Only tags can be updated after creating an endpoint. To update origins, use the Update Origin operation. To update origin groups, use the Update Origin group operation. To update custom domains, use the Update Custom Domain operation.",
        "operationId": "Endpoints_Update",
        "x-ms-examples": {
          "Endpoints_Update": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1",
              "endpointUpdateProperties": {
                "tags": {
                  "additionalProperties": "Tag1"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "name": "endpoint1",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                  "type": "Microsoft.Cdn/profiles/endpoints",
                  "tags": {
                    "additionalProperties": "Tag1"
                  },
                  "location": "WestCentralUs",
                  "properties": {
                    "hostName": "endpoint1.azureedge.net",
                    "originHostHeader": null,
                    "provisioningState": "Creating",
                    "resourceState": "Creating",
                    "isHttpAllowed": true,
                    "isHttpsAllowed": true,
                    "queryStringCachingBehavior": "IgnoreQueryString",
                    "originPath": null,
                    "origins": [
                      {
                        "name": "www-bing-com",
                        "properties": {
                          "hostName": "www.bing.com",
                          "httpPort": 80,
                          "httpsPort": 443,
                          "originHostHeader": "www.someDomain2.net",
                          "priority": 2,
                          "weight": 50,
                          "enabled": true,
                          "privateLinkResourceId": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.Network/privateLinkServices/pls1",
                          "privateLinkLocation": "eastus",
                          "privateLinkApprovalMessage": "Please approve the connection request for this Private Link"
                        }
                      }
                    ],
                    "originGroups": [
                      {
                        "name": "originGroup1",
                        "properties": {
                          "healthProbeSettings": {
                            "probePath": "/health.aspx",
                            "probeRequestType": "GET",
                            "probeProtocol": "Http",
                            "probeIntervalInSeconds": 120
                          },
                          "origins": [
                            {
                              "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-bing-com"
                            }
                          ]
                        }
                      }
                    ],
                    "defaultOriginGroup": {
                      "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1"
                    },
                    "contentTypesToCompress": [],
                    "isCompressionEnabled": false,
                    "optimizationType": null,
                    "probePath": null,
                    "geoFilters": []
                  }
                }
              },
              "202": {
                "body": {
                  "name": "endpoint1",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                  "type": "Microsoft.Cdn/profiles/endpoints",
                  "tags": {
                    "additionalProperties": "Tag1"
                  },
                  "location": "WestCentralUs",
                  "properties": {
                    "hostName": "endpoint1.azureedge.net",
                    "originHostHeader": null,
                    "provisioningState": "Creating",
                    "resourceState": "Creating",
                    "isHttpAllowed": true,
                    "isHttpsAllowed": true,
                    "queryStringCachingBehavior": "IgnoreQueryString",
                    "originPath": null,
                    "origins": [
                      {
                        "name": "www-bing-com",
                        "properties": {
                          "hostName": "www.bing.com",
                          "httpPort": 80,
                          "httpsPort": 443,
                          "originHostHeader": "www.someDomain2.net",
                          "priority": 2,
                          "weight": 50,
                          "enabled": true,
                          "privateLinkResourceId": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.Network/privateLinkServices/pls1",
                          "privateLinkLocation": "eastus",
                          "privateLinkApprovalMessage": "Please approve the connection request for this Private Link"
                        }
                      }
                    ],
                    "originGroups": [
                      {
                        "name": "originGroup1",
                        "properties": {
                          "healthProbeSettings": {
                            "probePath": "/health.aspx",
                            "probeRequestType": "GET",
                            "probeProtocol": "Http",
                            "probeIntervalInSeconds": 120
                          },
                          "origins": [
                            {
                              "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-bing-com"
                            }
                          ]
                        }
                      }
                    ],
                    "contentTypesToCompress": [],
                    "isCompressionEnabled": false,
                    "optimizationType": null,
                    "probePath": null,
                    "geoFilters": [],
                    "defaultOriginGroup": {
                      "id": "/subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointUpdateProperties",
            "in": "body",
            "description": "Endpoint update properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EndpointUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Endpoints"
        ],
        "description": "Deletes an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.",
        "operationId": "Endpoints_Delete",
        "x-ms-examples": {
          "Endpoints_Delete": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1"
            },
            "responses": {
              "202": {},
              "204": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content. The request has been accepted but the endpoint was not found."
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/start": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "description": "Starts an existing CDN endpoint that is on a stopped state.",
        "operationId": "Endpoints_Start",
        "x-ms-examples": {
          "Endpoints_Start": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "endpoint4899",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                  "type": "Microsoft.Cdn/profiles/endpoints",
                  "tags": {
                    "kay1": "value1"
                  },
                  "location": "WestUs",
                  "properties": {
                    "hostName": "endpoint1.azureedge.net",
                    "originHostHeader": "www.bing.com",
                    "provisioningState": "Succeeded",
                    "resourceState": "Starting",
                    "isHttpAllowed": true,
                    "isHttpsAllowed": true,
                    "queryStringCachingBehavior": "NotSet",
                    "originPath": null,
                    "origins": [
                      {
                        "name": "www-bing-com",
                        "properties": {
                          "hostName": "www.bing.com",
                          "httpPort": 80,
                          "httpsPort": 443
                        }
                      }
                    ],
                    "contentTypesToCompress": [],
                    "isCompressionEnabled": false,
                    "optimizationType": "DynamicSiteAcceleration",
                    "probePath": "/image",
                    "geoFilters": []
                  }
                }
              },
              "202": {
                "body": {
                  "name": "endpoint4899",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                  "type": "Microsoft.Cdn/profiles/endpoints",
                  "tags": {
                    "kay1": "value1"
                  },
                  "location": "WestUs",
                  "properties": {
                    "hostName": "endpoint1.azureedge.net",
                    "originHostHeader": "www.bing.com",
                    "provisioningState": "Succeeded",
                    "resourceState": "Starting",
                    "isHttpAllowed": true,
                    "isHttpsAllowed": true,
                    "queryStringCachingBehavior": "NotSet",
                    "originPath": null,
                    "origins": [
                      {
                        "name": "www-bing-com",
                        "properties": {
                          "hostName": "www.bing.com",
                          "httpPort": 80,
                          "httpsPort": 443
                        }
                      }
                    ],
                    "contentTypesToCompress": [],
                    "isCompressionEnabled": false,
                    "optimizationType": "DynamicSiteAcceleration",
                    "probePath": "/image",
                    "geoFilters": []
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/stop": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "description": "Stops an existing running CDN endpoint.",
        "operationId": "Endpoints_Stop",
        "x-ms-examples": {
          "Endpoints_Stop": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "endpoint4899",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                  "type": "Microsoft.Cdn/profiles/endpoints",
                  "tags": {
                    "kay1": "value1"
                  },
                  "location": "WestUs",
                  "properties": {
                    "hostName": "endpoint1.azureedge.net",
                    "originHostHeader": "www.bing.com",
                    "provisioningState": "Succeeded",
                    "resourceState": "Stopping",
                    "isHttpAllowed": true,
                    "isHttpsAllowed": true,
                    "queryStringCachingBehavior": "NotSet",
                    "originPath": null,
                    "origins": [
                      {
                        "name": "www-bing-com",
                        "properties": {
                          "hostName": "www.bing.com",
                          "httpPort": 80,
                          "httpsPort": 443
                        }
                      }
                    ],
                    "contentTypesToCompress": [],
                    "isCompressionEnabled": false,
                    "optimizationType": "DynamicSiteAcceleration",
                    "probePath": "/image",
                    "geoFilters": []
                  }
                }
              },
              "202": {
                "body": {
                  "name": "endpoint4899",
                  "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1",
                  "type": "Microsoft.Cdn/profiles/endpoints",
                  "tags": {
                    "kay1": "value1"
                  },
                  "location": "WestUs",
                  "properties": {
                    "hostName": "endpoint1.azureedge.net",
                    "originHostHeader": "www.bing.com",
                    "provisioningState": "Succeeded",
                    "resourceState": "Stopping",
                    "isHttpAllowed": true,
                    "isHttpsAllowed": true,
                    "queryStringCachingBehavior": "NotSet",
                    "originPath": null,
                    "origins": [
                      {
                        "name": "www-bing-com",
                        "properties": {
                          "hostName": "www.bing.com",
                          "httpPort": 80,
                          "httpsPort": 443
                        }
                      }
                    ],
                    "contentTypesToCompress": [],
                    "isCompressionEnabled": false,
                    "optimizationType": "DynamicSiteAcceleration",
                    "probePath": "/image",
                    "geoFilters": []
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/purge": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "description": "Removes a content from CDN.",
        "operationId": "Endpoints_PurgeContent",
        "x-ms-examples": {
          "Endpoints_PurgeContent": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1",
              "contentFilePaths": {
                "contentPaths": [
                  "/folder1"
                ]
              }
            },
            "responses": {
              "200": {},
              "202": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contentFilePaths",
            "in": "body",
            "description": "The path to the content to be purged. Path can be a full URL, e.g. '/pictures/city.png' which removes a single file, or a directory with a wildcard, e.g. '/pictures/*' which removes all folders and files in the directory.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurgeParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/load": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "description": "Pre-loads a content to CDN. Available for Verizon Profiles.",
        "operationId": "Endpoints_LoadContent",
        "x-ms-examples": {
          "Endpoints_LoadContent": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1",
              "contentFilePaths": {
                "contentPaths": [
                  "/folder1"
                ]
              }
            },
            "responses": {
              "200": {},
              "202": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contentFilePaths",
            "in": "body",
            "description": "The path to the content to be loaded. Path should be a full URL, e.g. ‘/pictures/city.png' which loads a single file ",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/validateCustomDomain": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "description": "Validates the custom domain mapping to ensure it maps to the correct CDN endpoint in DNS.",
        "operationId": "Endpoints_ValidateCustomDomain",
        "x-ms-examples": {
          "Endpoints_ValidateCustomDomain": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1",
              "customDomainProperties": {
                "hostName": "www.someDomain.com"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "customDomainValidated": true,
                  "message": null,
                  "reason": null
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customDomainProperties",
            "in": "body",
            "description": "Custom domain to be validated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateCustomDomainInput"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ValidateCustomDomainOutput"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/checkResourceUsage": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "description": "Checks the quota and usage of geo filters and custom domains under the given endpoint.",
        "operationId": "Endpoints_ListResourceUsage",
        "x-ms-examples": {
          "Endpoints_ListResourceUsage": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "resourceType": "customdomain",
                      "unit": "count",
                      "currentValue": 1,
                      "limit": 20
                    },
                    {
                      "resourceType": "geofilter",
                      "unit": "count",
                      "currentValue": 0,
                      "limit": 25
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ResourceUsageListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins": {
      "get": {
        "tags": [
          "Origins"
        ],
        "description": "Lists all of the existing origins within an endpoint.",
        "operationId": "Origins_ListByEndpoint",
        "x-ms-examples": {
          "Origins_ListByEndpoint": {
            "parameters": {
              "api-version": "2020-04-15",
              "subscriptionId": "subid",
              "resourceGroupName": "RG",
              "profileName": "profile1",
              "endpointName": "endpoint1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "www-someDomain-net",
                      "location": "WestUs",
                      "tags": {
                        "key1": "value1"
                      },
                      "id": "/subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-someDomain-net",
                      "type": "Microsoft.Cdn/profiles/endpoints/origins",
                      "properties": {
                        "provisioningState": "Succeeded",
                        "resourceState": "Active",
                        "hostName": "www.someDomain.net",
                        "httpPort": null,
                        "httpsPort": null,
                        "originHostHeader": "www.someDomain.net",
                        "priority": 1,
                        "weight": 50,
                        "enabled": true,
                        "privateEndpointStatus": "Pending",
                        "privateLinkApprovalMessage": "Please approve the connection request for this Private Link",
                        "privateLinkAlias": "APPSERVER.d84e61f0-0870-4d24-9746-7438fa0019d1.westus2.azure.privatelinkservice"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the CDN profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
[...]
