{
  "swagger": "2.0",
  "info": {
    "version": "2018-06-01-preview",
    "title": "HDInsightManagementClient",
    "description": "HDInsight Management Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}": {
      "put": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Create",
        "description": "Creates a new HDInsight cluster with the specified parameters.",
        "x-ms-examples": {
          "Create Hadoop on Linux cluster with SSH password": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1"
                },
                "properties": {
                  "clusterVersion": "3.5",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": "true",
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "zookeepernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create Hadoop on Linux cluster with SSH public key": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1"
                },
                "properties": {
                  "clusterVersion": "3.5",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "sshProfile": {
                              "publicKeys": [
                                {
                                  "certificateData": "**********"
                                }
                              ]
                            }
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "zookeepernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create Spark on Linux Cluster with SSH password": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1"
                },
                "properties": {
                  "clusterVersion": "3.5",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Spark",
                    "componentVersion": {
                      "Spark": "2.0"
                    },
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storageapikey*"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D12_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D4_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create Secure Hadoop cluster": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1"
                },
                "properties": {
                  "clusterVersion": "3.5",
                  "osType": "Linux",
                  "tier": "Premium",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storage account key"
                      }
                    ]
                  },
                  "securityProfile": {
                    "directoryType": "ActiveDirectory",
                    "domain": "DomainName",
                    "organizationalUnitDN": "OU=Hadoop,DC=hdinsight,DC=test",
                    "ldapsUrls": [
                      "ldaps://10.10.0.4:636"
                    ],
                    "domainUsername": "DomainUsername",
                    "domainUserPassword": "**********",
                    "clusterUsersGroupDNs": [
                      "hdiusers"
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********",
                            "sshProfile": {
                              "publicKeys": [
                                {
                                  "certificateData": "**********"
                                }
                              ]
                            }
                          }
                        },
                        "virtualNetworkProfile": {
                          "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname",
                          "subnet": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet"
                        },
                        "scriptActions": []
                      },
                      {
                        "name": "workernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********",
                            "sshProfile": {
                              "publicKeys": [
                                {
                                  "certificateData": "**********"
                                }
                              ]
                            }
                          }
                        },
                        "virtualNetworkProfile": {
                          "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname",
                          "subnet": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet"
                        },
                        "scriptActions": []
                      },
                      {
                        "name": "zookeepernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********",
                            "sshProfile": {
                              "publicKeys": [
                                {
                                  "certificateData": "**********"
                                }
                              ]
                            }
                          }
                        },
                        "virtualNetworkProfile": {
                          "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname",
                          "subnet": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet"
                        },
                        "scriptActions": []
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create Hadoop cluster with Azure Data Lake Storage Gen 2": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1"
                },
                "properties": {
                  "clusterVersion": "3.6",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": "true",
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.dfs.core.windows.net",
                        "isDefault": true,
                        "fileSystem": "default",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D3_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "zookeepernode",
                        "minInstanceCount": 1,
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create HDInsight cluster with Autoscale configuration": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "clusterVersion": "3.6",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "hadoop",
                    "componentVersion": {
                      "Hadoop": "2.7"
                    },
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "hdinsight-autoscale-tes-2019-06-18t05-49-16-591z",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "autoscale": {
                          "capacity": null,
                          "recurrence": {
                            "timeZone": "China Standard Time",
                            "schedule": [
                              {
                                "days": [
                                  "Monday",
                                  "Tuesday",
                                  "Wednesday",
                                  "Thursday",
                                  "Friday"
                                ],
                                "timeAndCapacity": {
                                  "time": "09:00",
                                  "minInstanceCount": 3,
                                  "maxInstanceCount": 3
                                }
                              },
                              {
                                "days": [
                                  "Monday",
                                  "Tuesday",
                                  "Wednesday",
                                  "Thursday",
                                  "Friday"
                                ],
                                "timeAndCapacity": {
                                  "time": "18:00",
                                  "minInstanceCount": 6,
                                  "maxInstanceCount": 6
                                }
                              },
                              {
                                "days": [
                                  "Saturday",
                                  "Sunday"
                                ],
                                "timeAndCapacity": {
                                  "time": "09:00",
                                  "minInstanceCount": 2,
                                  "maxInstanceCount": 2
                                }
                              },
                              {
                                "days": [
                                  "Saturday",
                                  "Sunday"
                                ],
                                "timeAndCapacity": {
                                  "time": "18:00",
                                  "minInstanceCount": 4,
                                  "maxInstanceCount": 4
                                }
                              }
                            ]
                          }
                        },
                        "name": "workernode",
                        "targetInstanceCount": 4,
                        "hardwareProfile": {
                          "vmSize": "Standard_D4_V2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        },
                        "virtualNetworkProfile": null,
                        "scriptActions": [],
                        "dataDisksGroups": null
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json",
                      "kind": "HADOOP",
                      "componentVersion": {
                        "Hadoop": "3.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d12_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-18T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create Kafka cluster with Kafka Rest Proxy": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "clusterVersion": "4.0",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "kafka",
                    "componentVersion": {
                      "Kafka": "2.1"
                    },
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "kafkaRestProperties": {
                    "clientGroupInfo": {
                      "groupName": "Kafka security group name",
                      "groupId": "00000000-0000-0000-0000-111111111111"
                    }
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Large"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Large"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        },
                        "dataDisksGroups": [
                          {
                            "disksPerNode": 8
                          }
                        ]
                      },
                      {
                        "name": "zookeepernode",
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "kafkamanagementnode",
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Standard_D4_v2"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "kafkauser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storagekey"
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "South Central US",
                  "etag": "e1266b83-9bda-4797-a906-1bf82c8eb09a",
                  "tags": null,
                  "properties": {
                    "clusterVersion": "4.0.1000.1",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/kafka-4.0.1000.1.1911212244.json",
                      "kind": "KAFKA",
                      "componentVersion": {
                        "Kafka": "2.1"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d3_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "standard_d3_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          },
                          "dataDisksGroups": [
                            {
                              "disksPerNode": 2,
                              "storageAccountType": "Standard_LRS",
                              "diskSizeGB": 1023
                            }
                          ]
                        },
                        {
                          "name": "kafkamanagementnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2019-11-25T03:43:23.663",
                    "quotaInfo": {
                      "coresUsed": 52
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      },
                      {
                        "name": "KafkaRestProxyPublicEndpoint",
                        "protocol": "TCP",
                        "location": "cluster1-kafkarest.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard",
                    "kafkaRestProperties": {
                      "clientGroupInfo": {
                        "groupName": "security group name",
                        "groupId": "00000000-0000-0000-0000-000000000000"
                      }
                    }
                  }
                }
              }
            }
          },
          "Create cluster with TLS 1.2": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "clusterVersion": "3.6",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Large"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Large"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "zookeepernode",
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "default8525",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "minSupportedTlsVersion": "1.2"
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "South Central US",
                  "etag": "3b76ce3d-892c-4036-9d8b-8ade18ba7a4b",
                  "tags": null,
                  "properties": {
                    "clusterVersion": "3.6.1000.67",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2001080246.json",
                      "kind": "Hadoop",
                      "componentVersion": {
                        "Hadoop": "2.7"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_a4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2020-01-10T08:36:39.153",
                    "quotaInfo": {
                      "coresUsed": 20
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard",
                    "minSupportedTlsVersion": "1.2"
                  }
                }
              }
            }
          },
          "Create cluster with custom network settings": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subId",
              "parameters": {
                "properties": {
                  "clusterVersion": "3.6",
                  "osType": "Linux",
                  "clusterDefinition": {
                    "kind": "hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage",
                        "isDefault": true,
                        "container": "containername",
                        "key": "storage account key"
                      }
                    ]
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "standard_d3"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********",
                            "sshProfile": {
                              "publicKeys": [
                                {
                                  "certificateData": "**********"
                                }
                              ]
                            }
                          }
                        },
                        "virtualNetworkProfile": {
                          "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname",
                          "subnet": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet"
                        }
                      },
                      {
                        "name": "workernode",
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "standard_d3"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********",
                            "sshProfile": {
                              "publicKeys": [
                                {
                                  "certificateData": "**********"
                                }
                              ]
                            }
                          }
                        },
                        "virtualNetworkProfile": {
                          "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname",
                          "subnet": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet"
                        }
                      }
                    ]
                  },
                  "networkSettings": {
                    "publicNetworkAccess": "OutboundOnly",
                    "outboundOnlyPublicNetworkAccessType": "PublicLoadBalancer"
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "East US",
                  "etag": "fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff",
                  "tags": null,
                  "properties": {
                    "clusterVersion": "3.6.1000.67",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2005040905.json",
                      "kind": "hadoop"
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d3"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          },
                          "virtualNetworkProfile": {
                            "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname",
                            "subnet": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet"
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_d3"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          },
                          "virtualNetworkProfile": {
                            "id": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname",
                            "subnet": "/subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet"
                          }
                        }
                      ]
                    },
                    "networkSettings": {
                      "publicNetworkAccess": "OutboundOnly",
                      "outboundOnlyPublicNetworkAccessType": "PublicLoadBalancer"
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2020-06-09T12:25:43.48",
                    "quotaInfo": {
                      "coresUsed": 16
                    },
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Create cluster with encryption in transit": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "clusterVersion": "3.6",
                  "osType": "Linux",
                  "tier": "Standard",
                  "clusterDefinition": {
                    "kind": "Hadoop",
                    "configurations": {
                      "gateway": {
                        "restAuthCredential.isEnabled": true,
                        "restAuthCredential.username": "admin",
                        "restAuthCredential.password": "**********"
                      }
                    }
                  },
                  "computeProfile": {
                    "roles": [
                      {
                        "name": "headnode",
                        "targetInstanceCount": 2,
                        "hardwareProfile": {
                          "vmSize": "Large"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "workernode",
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Large"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      },
                      {
                        "name": "zookeepernode",
                        "targetInstanceCount": 3,
                        "hardwareProfile": {
                          "vmSize": "Small"
                        },
                        "osProfile": {
                          "linuxOperatingSystemProfile": {
                            "username": "sshuser",
                            "password": "**********"
                          }
                        }
                      }
                    ]
                  },
                  "storageProfile": {
                    "storageaccounts": [
                      {
                        "name": "mystorage.blob.core.windows.net",
                        "isDefault": true,
                        "container": "default8525",
                        "key": "storagekey"
                      }
                    ]
                  },
                  "encryptionInTransitProperties": {
                    "isEncryptionInTransitEnabled": true
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                  "location": "https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult"
                },
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "South Central US",
                  "etag": "3b76ce3d-892c-4036-9d8b-8ade18ba7a4b",
                  "tags": null,
                  "properties": {
                    "clusterVersion": "3.6.1000.67",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2001080246.json",
                      "kind": "Hadoop",
                      "componentVersion": {
                        "Hadoop": "2.7"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "standard_a4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a4_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "standard_a2_v2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2020-01-10T08:36:39.153",
                    "quotaInfo": {
                      "coresUsed": 20
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard",
                    "encryptionInTransitProperties": {
                      "isEncryptionInTransitEnabled": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterCreateParametersExtended"
            },
            "description": "The cluster create request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "patch": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Update",
        "description": "Patch HDInsight cluster with the specified parameters.",
        "x-ms-examples": {
          "Patch HDInsight Linux clusters": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid",
              "parameters": {
                "tags": {
                  "key1": "val1",
                  "key2": "val2"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "West US",
                  "etag": "f0212a39-b827-45e0-9ffa-4f5232e58851",
                  "tags": {
                    "key1": "val1",
                    "key2": "val2"
                  },
                  "properties": {
                    "clusterVersion": "3.5.1000.0",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json",
                      "kind": "hadoop"
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "Standard_D3_V2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "Standard_D3_V2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "Medium"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2017-01-11T18:58:26.187",
                    "quotaInfo": {
                      "coresUsed": 24
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterPatchParameters"
            },
            "description": "The cluster patch request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Delete",
        "description": "Deletes the specified HDInsight cluster.",
        "x-ms-examples": {
          "Delete Hadoop on Linux cluster": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid"
            },
            "responses": {
              "202": {},
              "200": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "202": {
            "description": "Accepted response definition."
          },
          "200": {
            "description": "Ok response definition."
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Get",
        "description": "Gets the specified cluster.",
        "x-ms-examples": {
          "Get Hadoop on Linux cluster": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "West US",
                  "etag": "f0212a39-b827-45e0-9ffa-4f5232e58851",
                  "tags": {
                    "key1": "val1"
                  },
                  "properties": {
                    "clusterVersion": "3.5.1000.0",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json",
                      "kind": "hadoop"
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "Standard_D3_V2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "Standard_D3_V2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "Medium"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2017-01-11T18:58:26.187",
                    "quotaInfo": {
                      "coresUsed": 24
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          },
          "Get Spark on Linux cluster": {
            "parameters": {
              "clusterName": "cluster1",
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                  "name": "cluster1",
                  "type": "Microsoft.HDInsight/clusters",
                  "location": "West US",
                  "etag": "4cd8b5a9-ca9c-4239-9e5b-3916032e994c",
                  "tags": {
                    "key1": "val1"
                  },
                  "properties": {
                    "clusterVersion": "3.5.1000.0",
                    "osType": "Linux",
                    "clusterDefinition": {
                      "blueprint": "https://blueprints.azurehdinsight.net/spark-3.5.1000.0.9625065.json",
                      "kind": "SPARK",
                      "componentVersion": {
                        "Spark": "2.0"
                      }
                    },
                    "computeProfile": {
                      "roles": [
                        {
                          "name": "headnode",
                          "targetInstanceCount": 2,
                          "hardwareProfile": {
                            "vmSize": "Standard_D12_V2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "workernode",
                          "targetInstanceCount": 4,
                          "hardwareProfile": {
                            "vmSize": "Standard_D4_V2"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        },
                        {
                          "name": "zookeepernode",
                          "targetInstanceCount": 3,
                          "hardwareProfile": {
                            "vmSize": "Medium"
                          },
                          "osProfile": {
                            "linuxOperatingSystemProfile": {
                              "username": "sshuser"
                            }
                          }
                        }
                      ]
                    },
                    "provisioningState": "Succeeded",
                    "clusterState": "Running",
                    "createdDate": "2017-03-03T08:35:07.323",
                    "quotaInfo": {
                      "coresUsed": 40
                    },
                    "connectivityEndpoints": [
                      {
                        "name": "SSH",
                        "protocol": "TCP",
                        "location": "cluster1-ssh.azurehdinsight.net",
                        "port": 22
                      },
                      {
                        "name": "HTTPS",
                        "protocol": "TCP",
                        "location": "cluster1.azurehdinsight.net",
                        "port": 443
                      }
                    ],
                    "tier": "Standard"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ListByResourceGroup",
        "description": "Lists the HDInsight clusters in a resource group.",
        "x-ms-examples": {
          "Get All Hadoop on Linux clusters in a resource group": {
            "parameters": {
              "resourceGroupName": "rg1",
              "api-version": "2018-06-01-preview",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                      "name": "cluster1",
                      "type": "Microsoft.HDInsight/clusters",
                      "location": "West US",
                      "etag": "f0212a39-b827-45e0-9ffa-4f5232e58851",
                      "tags": {
                        "key1": "val1"
                      },
                      "properties": {
                        "clusterVersion": "3.5.1000.0",
                        "osType": "Linux",
                        "clusterDefinition": {
                          "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json",
                          "kind": "hadoop"
                        },
                        "computeProfile": {
                          "roles": [
                            {
                              "name": "headnode",
                              "targetInstanceCount": 2,
                              "hardwareProfile": {
                                "vmSize": "Standard_D3_V2"
                              },
                              "osProfile": {
                                "linuxOperatingSystemProfile": {
                                  "username": "pulkitssh"
                                }
                              }
                            },
                            {
                              "name": "workernode",
                              "targetInstanceCount": 4,
                              "hardwareProfile": {
                                "vmSize": "Standard_D3_V2"
                              },
                              "osProfile": {
                                "linuxOperatingSystemProfile": {
                                  "username": "pulkitssh"
                                }
                              }
                            },
                            {
                              "name": "zookeepernode",
                              "targetInstanceCount": 3,
                              "hardwareProfile": {
                                "vmSize": "Medium"
                              },
                              "osProfile": {
                                "linuxOperatingSystemProfile": {
                                  "username": "pulkitssh"
                                }
                              }
                            }
                          ]
                        },
                        "provisioningState": "Succeeded",
                        "clusterState": "Running",
                        "createdDate": "2017-01-11T18:58:26.187",
                        "quotaInfo": {
                          "coresUsed": 24
                        },
                        "connectivityEndpoints": [
                          {
                            "name": "SSH",
                            "protocol": "TCP",
                            "location": "cluster1-ssh.azurehdinsight.net",
                            "port": 22
                          },
                          {
                            "name": "HTTPS",
                            "protocol": "TCP",
                            "location": "cluster1.azurehdinsight.net",
                            "port": 443
                          }
                        ],
                        "tier": "Standard"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster2",
                      "name": "cluster2",
                      "type": "Microsoft.HDInsight/clusters",
                      "location": "West US",
                      "etag": "f0212a39-b827-45e0-9ffa-4f5232e58851",
                      "tags": {
                        "key1": "val1"
                      },
                      "properties": {
                        "clusterVersion": "3.5.1000.0",
                        "osType": "Linux",
                        "clusterDefinition": {
                          "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json",
                          "kind": "hadoop"
                        },
                        "computeProfile": {
                          "roles": [
                            {
                              "name": "headnode",
                              "targetInstanceCount": 2,
                              "hardwareProfile": {
                                "vmSize": "Standard_D3_V2"
                              },
                              "osProfile": {
                                "linuxOperatingSystemProfile": {
                                  "username": "pulkitssh"
                                }
                              }
                            },
                            {
                              "name": "workernode",
                              "targetInstanceCount": 4,
                              "hardwareProfile": {
                                "vmSize": "Standard_D3_V2"
                              },
                              "osProfile": {
                                "linuxOperatingSystemProfile": {
                                  "username": "pulkitssh"
                                }
                              }
                            },
                            {
                              "name": "zookeepernode",
                              "targetInstanceCount": 3,
                              "hardwareProfile": {
                                "vmSize": "Medium"
                              },
                              "osProfile": {
                                "linuxOperatingSystemProfile": {
                                  "username": "pulkitssh"
                                }
                              }
                            }
                          ]
                        },
                        "provisioningState": "Succeeded",
                        "clusterState": "Running",
                        "createdDate": "2017-01-11T18:58:26.187",
                        "quotaInfo": {
                          "coresUsed": 24
                        },
                        "connectivityEndpoints": [
                          {
                            "name": "SSH",
                            "protocol": "TCP",
                            "location": "cluster2-ssh.azurehdinsight.net",
                            "port": 22
                          },
                          {
                            "name": "HTTPS",
                            "protocol": "TCP",
                            "location": "cluster2.azurehdinsight.net",
                            "port": 443
                          }
                        ],
                        "tier": "Standard"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
[...]
