{
  "swagger": "2.0",
  "info": {
    "title": "ContainerServiceClient",
    "description": "The Container Service Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/openShiftManagedClusters": {
      "get": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_List",
        "summary": "Gets a list of OpenShift managed clusters in the specified subscription.",
        "description": "Gets a list of OpenShift managed clusters in the specified subscription. The operation returns properties of each OpenShift managed cluster.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2019-04-30"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedClusterListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Managed Clusters": {
            "parameters": {
              "api-version": "2019-04-30",
              "subscriptionId": "subid1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid1/providers/Microsoft.ContainerService/openShiftManagedClusters",
                      "location": "location1",
                      "name": "clustername1",
                      "tags": {
                        "archv2": "",
                        "tier": "production"
                      },
                      "type": "Microsoft.ContainerService/OpenShiftManagedClusters",
                      "properties": {
                        "provisioningState": "Succeeded",
                        "openShiftVersion": "v3.11",
                        "clusterVersion": "osa.1",
                        "fqdn": "df9337748a4b.location1.cloudapp.azure.com",
                        "publicHostname": "openshift.1225bdf9337748a4bd3a.location1.azmosa.io",
                        "networkProfile": {
                          "vnetCidr": "10.0.0.0/8"
                        },
                        "masterPoolProfile": {
                          "count": 3,
                          "vmSize": "Standard_D4s_v3",
                          "subnetCidr": "10.0.0.0/24"
                        },
                        "agentPoolProfiles": [
                          {
                            "name": "infra",
                            "role": "infra",
                            "count": 2,
                            "vmSize": "Standard_D4s_v3",
                            "osType": "Linux",
                            "subnetCidr": "10.0.0.0/24"
                          },
                          {
                            "name": "compute",
                            "role": "compute",
                            "count": 4,
                            "vmSize": "Standard_D4s_v3",
                            "osType": "Linux",
                            "subnetCidr": "10.0.0.0/24"
                          }
                        ],
                        "routerProfiles": [
                          {
                            "name": "default",
                            "fqdn": "osa2925bdf9337748f4bd3b.location1.cloudapp.azure.com",
                            "publicSubdomain": "apps.bc309ee87c164153871c.location1.azmosa.io"
                          }
                        ],
                        "authProfile": {
                          "identityProviders": [
                            {
                              "name": "Azure AD",
                              "provider": {
                                "kind": "AADIdentityProvider",
                                "clientId": "clientId",
                                "tenantId": "tenantId",
                                "customerAdminGroupId": "customerAdminGroupId"
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters": {
      "get": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_ListByResourceGroup",
        "summary": "Lists OpenShift managed clusters in the specified subscription and resource group.",
        "description": "Lists OpenShift managed clusters in the specified subscription and resource group. The operation returns properties of each OpenShift managed cluster.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2019-04-30"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "minLength": 1,
            "description": "The name of the resource group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedClusterListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Managed Clusters by Resource Group": {
            "parameters": {
              "api-version": "2018-09-30-preview",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters",
                      "location": "location1",
                      "name": "clustername1",
                      "tags": {
                        "archv2": "",
                        "tier": "production"
                      },
                      "type": "Microsoft.ContainerService/OpenShiftManagedClusters",
                      "properties": {
                        "provisioningState": "Succeeded",
                        "openShiftVersion": "v3.11",
                        "clusterVersion": "osa.1",
                        "fqdn": "df9337748a4b.location1.cloudapp.azure.com",
                        "networkProfile": {
                          "vnetCidr": "10.0.0.0/8"
                        },
                        "masterPoolProfile": {
                          "count": 3,
                          "vmSize": "Standard_D4s_v3",
                          "subnetCidr": "10.0.0.0/24"
                        },
                        "agentPoolProfiles": [
                          {
                            "name": "infra",
                            "role": "infra",
                            "count": 2,
                            "vmSize": "Standard_D4s_v3",
                            "osType": "Linux",
                            "subnetCidr": "10.0.0.0/24"
                          },
                          {
                            "name": "compute",
                            "role": "compute",
                            "count": 4,
                            "vmSize": "Standard_D4s_v3",
                            "osType": "Linux",
                            "subnetCidr": "10.0.0.0/24"
                          }
                        ],
                        "routerProfiles": [
                          {
                            "name": "default",
                            "fqdn": "dce5faa189c841b99f8a.location1.cloudapp.azure.com",
                            "publicSubdomain": "b788fade68d345da9b77.location1.int.aksapp.io"
                          }
                        ],
                        "authProfile": {
                          "identityProviders": [
                            {
                              "name": "Azure AD",
                              "provider": {
                                "kind": "AADIdentityProvider",
                                "clientId": "clientId",
                                "tenantId": "tenantId",
                                "customerAdminGroupId": "customerAdminGroupId"
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters/{resourceName}": {
      "get": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_Get",
        "summary": "Gets a OpenShift managed cluster.",
        "description": "Gets the details of the managed OpenShift cluster with a specified resource group and name.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2019-04-30"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "minLength": 1,
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the OpenShift managed cluster resource."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get OpenShift Managed Cluster": {
            "parameters": {
              "api-version": "2019-04-30",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "resourceName": "clustername1"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1",
                  "location": "location1",
                  "name": "clustername1",
                  "tags": {
                    "archv2": "",
                    "tier": "production"
                  },
                  "type": "Microsoft.ContainerService/OpenShiftManagedClusters",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "openShiftVersion": "v3.11",
                    "clusterVersion": "osa.1",
                    "fqdn": "df9337748a4b.location1.cloudapp.azure.com",
                    "publicHostname": "openshift.1225bdf9337748a4bd3a.location1.azmosa.io",
                    "networkProfile": {
                      "vnetCidr": "10.0.0.0/8"
                    },
                    "masterPoolProfile": {
                      "count": 3,
                      "vmSize": "Standard_D4s_v3",
                      "subnetCidr": "10.0.0.0/24"
                    },
                    "agentPoolProfiles": [
                      {
                        "name": "infra",
                        "role": "infra",
                        "count": 2,
                        "vmSize": "Standard_D4s_v3",
                        "osType": "Linux",
                        "subnetCidr": "10.0.0.0/24"
                      },
                      {
                        "name": "compute",
                        "role": "compute",
                        "count": 4,
                        "vmSize": "Standard_D4s_v3",
                        "osType": "Linux",
                        "subnetCidr": "10.0.0.0/24"
                      }
                    ],
                    "routerProfiles": [
                      {
                        "name": "default",
                        "fqdn": "osa2925bdf9337748f4bd3b.location1.cloudapp.azure.com",
                        "publicSubdomain": "apps.bc309ee87c164153871c.location1.azmosa.io"
                      }
                    ],
                    "authProfile": {
                      "identityProviders": [
                        {
                          "name": "Azure AD",
                          "provider": {
                            "kind": "AADIdentityProvider",
                            "clientId": "clientId",
                            "tenantId": "tenantId",
                            "customerAdminGroupId": "customerAdminGroupId"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "put": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_CreateOrUpdate",
        "summary": "Creates or updates an OpenShift managed cluster.",
        "description": "Creates or updates a OpenShift managed cluster with the specified configuration for agents and OpenShift version.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2019-04-30"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "minLength": 1,
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the OpenShift managed cluster resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            },
            "description": "Parameters supplied to the Create or Update an OpenShift Managed Cluster operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned.If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create/Update OpenShift Managed Cluster": {
            "parameters": {
              "api-version": "2019-04-30",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "resourceName": "clustername1",
              "parameters": {
                "location": "location1",
                "tags": {
                  "tier": "production",
                  "archv2": ""
                },
                "properties": {
                  "openShiftVersion": "v3.11",
                  "networkProfile": {
                    "vnetCidr": "10.0.0.0/8"
                  },
                  "masterPoolProfile": {
                    "name": "master",
                    "count": 3,
                    "vmSize": "Standard_D4s_v3",
                    "osType": "Linux",
                    "subnetCidr": "10.0.0.0/24"
                  },
                  "agentPoolProfiles": [
                    {
                      "name": "infra",
                      "role": "infra",
                      "count": 2,
                      "vmSize": "Standard_D4s_v3",
                      "osType": "Linux",
                      "subnetCidr": "10.0.0.0/24"
                    },
                    {
                      "name": "compute",
                      "role": "compute",
                      "count": 4,
                      "vmSize": "Standard_D4s_v3",
                      "osType": "Linux",
                      "subnetCidr": "10.0.0.0/24"
                    }
                  ],
                  "routerProfiles": [
                    {
                      "name": "default"
                    }
                  ],
                  "authProfile": {
                    "identityProviders": [
                      {
                        "name": "Azure AD",
                        "provider": {
                          "kind": "AADIdentityProvider",
                          "clientId": "clientId",
                          "secret": "secret",
                          "tenantId": "tenantId",
                          "customerAdminGroupId": "customerAdminGroupId"
                        }
                      }
                    ]
                  }
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1",
                  "location": "location1",
                  "name": "clustername1",
                  "tags": {
                    "archv2": "",
                    "tier": "production"
                  },
                  "type": "Microsoft.ContainerService/OpenShiftManagedClusters",
                  "properties": {
                    "provisioningState": "Updating",
                    "openShiftVersion": "v3.11",
                    "clusterVersion": "osa.1",
                    "fqdn": "df9337748a4b.location1.cloudapp.azure.com",
                    "publicHostname": "openshift.1225bdf9337748a4bd3a.location1.azmosa.io",
                    "networkProfile": {
                      "vnetCidr": "10.0.0.0/8"
                    },
                    "masterPoolProfile": {
                      "count": 3,
                      "vmSize": "Standard_D4s_v3",
                      "subnetCidr": "10.0.0.0/24"
                    },
                    "agentPoolProfiles": [
                      {
                        "name": "infra",
                        "role": "infra",
                        "count": 2,
                        "vmSize": "Standard_D4s_v3",
                        "osType": "Linux",
                        "subnetCidr": "10.0.0.0/24"
                      },
                      {
                        "name": "compute",
                        "role": "compute",
                        "count": 4,
                        "vmSize": "Standard_D4s_v3",
                        "osType": "Linux",
                        "subnetCidr": "10.0.0.0/24"
                      }
                    ],
                    "routerProfiles": [
                      {
                        "name": "default",
                        "fqdn": "osa2925bdf9337748f4bd3b.location1.cloudapp.azure.com",
                        "publicSubdomain": "apps.bc309ee87c164153871c.location1.azmosa.io"
                      }
                    ],
                    "authProfile": {
                      "identityProviders": [
                        {
                          "name": "Azure AD",
                          "provider": {
                            "kind": "AADIdentityProvider",
                            "clientId": "clientId",
                            "tenantId": "tenantId",
                            "customerAdminGroupId": "customerAdminGroupId"
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1",
                  "location": "location1",
                  "name": "clustername1",
                  "tags": {
                    "archv2": "",
                    "tier": "production"
                  },
                  "type": "Microsoft.ContainerService/OpenShiftManagedClusters",
                  "properties": {
                    "provisioningState": "Creating",
                    "openShiftVersion": "v3.11",
                    "clusterVersion": "osa.1",
                    "fqdn": "df9337748a4b.location1.cloudapp.azure.com",
                    "networkProfile": {
                      "vnetCidr": "10.0.0.0/8"
                    },
                    "masterPoolProfile": {
                      "name": "master",
                      "count": 3,
                      "vmSize": "Standard_D4s_v3",
                      "osType": "Linux",
                      "subnetCidr": "10.0.0.0/24"
                    },
                    "agentPoolProfiles": [
                      {
                        "name": "infra",
                        "role": "infra",
                        "count": 2,
                        "vmSize": "Standard_D4s_v3",
                        "osType": "Linux",
                        "subnetCidr": "10.0.0.0/24"
                      },
                      {
                        "name": "compute",
                        "role": "compute",
                        "count": 4,
                        "vmSize": "Standard_D4s_v3",
                        "osType": "Linux",
                        "subnetCidr": "10.0.0.0/24"
                      }
                    ],
                    "routerProfiles": [
                      {
                        "name": "default"
                      }
                    ],
                    "authProfile": {
                      "identityProviders": [
                        {
                          "name": "Azure AD",
                          "provider": {
                            "kind": "AADIdentityProvider",
                            "clientId": "clientId",
                            "tenantId": "tenantId",
                            "customerAdminGroupId": "customerAdminGroupId"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "patch": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_UpdateTags",
        "summary": "Updates tags on an OpenShift managed cluster.",
        "description": "Updates an OpenShift managed cluster with the specified tags.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2019-04-30"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "minLength": 1,
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the OpenShift managed cluster resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the Update OpenShift Managed Cluster Tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update OpenShift Managed Cluster Tags": {
            "parameters": {
              "api-version": "2019-04-30",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "resourceName": "clustername1",
              "parameters": {
                "tags": {
                  "tier": "testing",
                  "archv3": ""
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1",
                  "location": "location1",
                  "name": "clustername1",
                  "tags": {
                    "archv3": "",
                    "tier": "testing"
                  },
                  "type": "Microsoft.ContainerService/OpenShiftManagedClusters",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "openShiftVersion": "v3.11",
                    "fqdn": "df9337748a4b.location1.cloudapp.azure.com",
                    "publicHostname": "openshift.1225bdf9337748a4bd3a.location1.azmosa.io",
                    "networkProfile": {
                      "vnetCidr": "10.0.0.0/8"
                    },
                    "masterPoolProfile": {
                      "count": 3,
                      "vmSize": "Standard_D4s_v3",
                      "subnetCidr": "10.0.0.0/24"
                    },
                    "agentPoolProfiles": [
                      {
                        "name": "infra",
                        "role": "infra",
                        "count": 2,
                        "vmSize": "Standard_D4s_v3",
                        "osType": "Linux",
                        "subnetCidr": "10.0.0.0/24"
                      },
                      {
                        "name": "compute",
                        "role": "compute",
                        "count": 4,
                        "vmSize": "Standard_D4s_v3",
                        "osType": "Linux",
                        "subnetCidr": "10.0.0.0/24"
                      }
                    ],
                    "routerProfiles": [
                      {
                        "name": "default",
                        "fqdn": "osa2925bdf9337748f4bd3b.location1.cloudapp.azure.com",
                        "publicSubdomain": "apps.bc309ee87c164153871c.location1.azmosa.io"
                      }
                    ],
                    "authProfile": {
                      "identityProviders": [
                        {
                          "name": "Azure AD",
                          "provider": {
                            "kind": "AADIdentityProvider",
                            "clientId": "clientId",
                            "tenantId": "tenantId",
                            "customerAdminGroupId": "customerAdminGroupId"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_Delete",
        "summary": "Deletes an OpenShift managed cluster.",
        "description": "Deletes the OpenShift managed cluster with a specified resource group and name.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2019-04-30"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "minLength": 1,
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the OpenShift managed cluster resource."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete OpenShift Managed Cluster": {
            "parameters": {
              "api-version": "2019-04-30",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "resourceName": "clustername1"
            },
            "responses": {
              "202": {},
              "204": {}
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/containerServices": {
      "get": {
        "deprecated": true,
        "tags": [
          "ContainerServices"
        ],
        "operationId": "ContainerServices_List",
        "summary": "Gets a list of container services in the specified subscription.",
        "description": "Gets a list of container services in the specified subscription. The operation returns properties of each container service including state, orchestrator, number of masters and agents, and FQDNs of masters and agents.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2017-07-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerServiceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Container Services": {
            "parameters": {
              "api-version": "2017-07-01",
              "subscriptionId": "subid1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "type": "Microsoft.ContainerService/ContainerServices",
                      "location": "location1",
                      "id": "/subscriptions/subid1/resourceGroups/RG1/providers/Microsoft.ContainerService/containerServices/acs1",
                      "name": "acs1",
                      "properties": {
                        "provisioningState": "Succeeded",
                        "orchestratorProfile": {
                          "orchestratorType": "DCOS"
                        },
                        "masterProfile": {
                          "count": 1,
                          "dnsPrefix": "acs1-rg1-e240e5mgmt",
                          "fqdn": "acs1-rg1-e240e5mgmt.location1.cloudapp.azure.com",
                          "vmSize": "Standard_D2_v2"
                        },
                        "agentPoolProfiles": [
                          {
                            "name": "agentpool0",
                            "count": 3,
                            "vmSize": "Standard_D2_v2",
                            "dnsPrefix": "acs1-rg1-e240e5agent",
                            "fqdn": "acs1-rg1-e240e5agent.location1.cloudapp.azure.com",
                            "osType": "Linux"
                          }
                        ],
                        "linuxProfile": {
                          "ssh": {
                            "publicKeys": [
                              {
                                "keyData": "ssh-rsa AAAAB3NzaC1y...+0vNzo1FAdQ== user@hostname.local\n"
                              }
                            ]
                          },
                          "adminUsername": "azureuser"
                        },
                        "diagnosticsProfile": {
                          "vmDiagnostics": {
                            "enabled": true,
                            "storageUri": "https://mjwjtrv73stvgdiag0.blob.core.windows.net/"
                          }
                        }
                      }
                    },
                    {
                      "type": "Microsoft.ContainerService/ContainerServices",
                      "location": "location1",
                      "id": "/subscriptions/subid1/resourceGroups/RG1/providers/Microsoft.ContainerService/containerServices/acs2",
                      "name": "acs2",
                      "properties": {
                        "provisioningState": "Creating",
                        "orchestratorProfile": {
                          "orchestratorType": "DCOS"
                        },
                        "masterProfile": {
                          "count": 1,
                          "dnsPrefix": "acs2-rg1-e240e5mgmt",
                          "vmSize": "Standard_D2_v2"
                        },
                        "agentPoolProfiles": [
                          {
                            "name": "agentpool0",
                            "count": 3,
                            "vmSize": "Standard_D2_v2",
                            "dnsPrefix": "acs2-rg1-e240e5agent",
                            "osType": "Linux"
                          }
                        ],
                        "linuxProfile": {
                          "ssh": {
                            "publicKeys": [
                              {
                                "keyData": "ssh-rsa AAAAB3NzaC1y...+0vNzo1FAdQ== user@hostname.local\n"
                              }
                            ]
                          },
                          "adminUsername": "azureuser"
                        },
                        "diagnosticsProfile": {
                          "vmDiagnostics": {
                            "enabled": true
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/containerServices/{containerServiceName}": {
      "put": {
        "deprecated": true,
        "tags": [
          "ContainerService"
        ],
        "operationId": "ContainerServices_CreateOrUpdate",
        "summary": "Creates or updates a container service.",
        "description": "Creates or updates a container service with the specified configuration of orchestrator, masters, and agents.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "containerServiceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the container service in the specified subscription and resource group."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerService"
            },
            "description": "Parameters supplied to the Create or Update a Container Service operation."
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2017-07-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerService"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ContainerService"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/ContainerService"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create/Update Container Service": {
            "parameters": {
              "api-version": "2017-07-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "containerServiceName": "acs1",
              "parameters": {
                "location": "location1"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "type": "Microsoft.ContainerService/ContainerServices",
                  "location": "location1",
                  "id": "/subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.ContainerService/containerServices/acs1",
                  "name": "acs1",
                  "properties": {
                    "provisioningState": "Creating",
                    "orchestratorProfile": {
                      "orchestratorType": "DCOS"
                    },
                    "masterProfile": {
                      "count": 1,
                      "dnsPrefix": "acs1-rg1-e240e5mgmt",
                      "fqdn": "acs1-rg1-e240e5mgmt.location1.cloudapp.azure.com",
                      "vmSize": "Standard_D2_v2"
                    },
                    "agentPoolProfiles": [
                      {
                        "name": "agentpool0",
                        "count": 3,
                        "vmSize": "Standard_D2_v2",
                        "dnsPrefix": "acs1-rg1-e240e5agent",
                        "fqdn": "acs1-rg1-e240e5agent.location1.cloudapp.azure.com",
                        "osType": "Linux"
                      }
                    ],
                    "linuxProfile": {
                      "ssh": {
                        "publicKeys": [
                          {
                            "keyData": "ssh-rsa AAAAB3NzaC1y...+0vNzo1FAdQ== user@hostname.local\n"
                          }
                        ]
                      },
                      "adminUsername": "azureuser"
                    },
                    "diagnosticsProfile": {
                      "vmDiagnostics": {
                        "enabled": true,
                        "storageUri": "https://mjwjtrv73stvgdiag0.blob.core.windows.net/"
                      }
                    }
                  }
                }
              },
              "201": {
                "body": {
                  "type": "Microsoft.ContainerService/ContainerServices",
                  "location": "location1",
                  "id": "/subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.ContainerService/containerServices/acs1",
                  "name": "acs1",
                  "properties": {
                    "provisioningState": "Creating",
                    "orchestratorProfile": {
                      "orchestratorType": "DCOS"
                    },
                    "masterProfile": {
                      "count": 1,
                      "dnsPrefix": "acs1-rg1-e240e5mgmt",
                      "fqdn": "acs1-rg1-e240e5mgmt.location1.cloudapp.azure.com",
                      "vmSize": "Standard_D2_v2"
                    },
                    "agentPoolProfiles": [
                      {
                        "name": "agentpool0",
                        "count": 3,
                        "vmSize": "Standard_D2_v2",
                        "dnsPrefix": "acs1-rg1-e240e5agent",
                        "fqdn": "acs1-rg1-e240e5agent.location1.cloudapp.azure.com",
                        "osType": "Linux"
                      }
                    ],
                    "linuxProfile": {
                      "ssh": {
                        "publicKeys": [
                          {
                            "keyData": "ssh-rsa AAAAB3NzaC1y...+0vNzo1FAdQ== user@hostname.local\n"
                          }
                        ]
                      },
                      "adminUsername": "azureuser"
                    },
                    "diagnosticsProfile": {
                      "vmDiagnostics": {
                        "enabled": true,
                        "storageUri": "https://mjwjtrv73stvgdiag0.blob.core.windows.net/"
                      }
                    }
                  }
                }
              },
              "202": {
                "body": {
                  "type": "Microsoft.ContainerService/ContainerServices",
                  "location": "location1",
                  "id": "/subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.ContainerService/containerServices/acs1",
                  "name": "acs1",
                  "properties": {
                    "provisioningState": "Creating",
                    "orchestratorProfile": {
                      "orchestratorType": "DCOS"
                    },
                    "masterProfile": {
                      "count": 1,
                      "dnsPrefix": "acs1-rg1-e240e5mgmt",
                      "fqdn": "acs1-rg1-e240e5mgmt.location1.cloudapp.azure.com",
                      "vmSize": "Standard_D2_v2"
                    },
                    "agentPoolProfiles": [
                      {
                        "name": "agentpool0",
                        "count": 3,
                        "vmSize": "Standard_D2_v2",
                        "dnsPrefix": "acs1-rg1-e240e5agent",
                        "fqdn": "acs1-rg1-e240e5agent.location1.cloudapp.azure.com",
                        "osType": "Linux"
                      }
                    ],
                    "linuxProfile": {
                      "ssh": {
                        "publicKeys": [
                          {
                            "keyData": "ssh-rsa AAAAB3NzaC1y...+0vNzo1FAdQ== user@hostname.local\n"
                          }
                        ]
                      },
                      "adminUsername": "azureuser"
                    },
                    "diagnosticsProfile": {
                      "vmDiagnostics": {
                        "enabled": true,
                        "storageUri": "https://mjwjtrv73stvgdiag0.blob.core.windows.net/"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "deprecated": true,
        "tags": [
          "ContainerService"
        ],
        "operationId": "ContainerServices_Get",
        "summary": "Gets the properties of the specified container service.",
        "description": "Gets the properties of the specified container service in the specified subscription and resource group. The operation returns the properties including state, orchestrator, number of masters and agents, and FQDNs of masters and agents. ",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "containerServiceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the container service in the specified subscription and resource group."
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2017-07-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerService"
            }
          }
        },
        "x-ms-examples": {
          "Get Container Service": {
            "parameters": {
              "api-version": "2017-07-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "containerServiceName": "acs1"
            },
            "responses": {
              "200": {
                "body": {
                  "type": "Microsoft.ContainerService/ContainerServices",
                  "location": "location1",
                  "id": "/subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.ContainerService/containerServices/acs1",
                  "name": "acs1",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "orchestratorProfile": {
                      "orchestratorType": "DCOS"
                    },
                    "masterProfile": {
                      "count": 1,
                      "dnsPrefix": "acs1-rg1-e240e5mgmt",
                      "fqdn": "acs1-rg1-e240e5mgmt.location1.cloudapp.azure.com",
                      "vmSize": "Standard_D2_v2"
                    },
                    "agentPoolProfiles": [
                      {
                        "name": "agentpool0",
                        "count": 3,
                        "vmSize": "Standard_D2_v2",
                        "dnsPrefix": "acs1-rg1-e240e5agent",
                        "fqdn": "acs1-rg1-e240e5agent.location1.cloudapp.azure.com",
                        "osType": "Linux"
                      }
                    ],
                    "linuxProfile": {
                      "ssh": {
                        "publicKeys": [
                          {
                            "keyData": "ssh-rsa AAAAB3NzaC1y...+0vNzo1FAdQ== user@hostname.local\n"
                          }
                        ]
                      },
                      "adminUsername": "azureuser"
                    },
                    "diagnosticsProfile": {
                      "vmDiagnostics": {
                        "enabled": true,
                        "storageUri": "https://mjwjtrv73stvgdiag0.blob.core.windows.net/"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "ContainerService"
        ],
        "operationId": "ContainerServices_Delete",
        "summary": "Deletes the specified container service.",
        "description": "Deletes the specified container service in the specified subscription and resource group. The operation does not delete other resources created as part of creating a container service, including storage accounts, VMs, and availability sets. All the other resources created with the container service are part of the same resource group and can be deleted individually.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "containerServiceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the container service in the specified subscription and resource group."
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2017-07-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Not found"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete Container Service": {
            "parameters": {
              "api-version": "2017-07-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "containerServiceName": "acs1"
            },
            "responses": {
              "202": {},
              "204": {}
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/containerServices": {
      "get": {
        "deprecated": true,
        "tags": [
          "ContainerServices"
        ],
        "operationId": "ContainerServices_ListByResourceGroup",
        "summary": "Gets a list of container services in the specified resource group.",
        "description": "Gets a list of container services in the specified subscription and resource group. The operation returns properties of each container service including state, orchestrator, number of masters and agents, and FQDNs of masters and agents.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2017-07-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerServiceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Container Services by Resource Group": {
            "parameters": {
              "api-version": "2017-07-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "type": "Microsoft.ContainerService/ContainerServices",
                      "location": "location1",
                      "id": "/subscriptions/subid1/resourceGroups/RG1/providers/Microsoft.ContainerService/containerServices/acs1",
                      "name": "acs1",
                      "properties": {
                        "provisioningState": "Succeeded",
                        "orchestratorProfile": {
                          "orchestratorType": "DCOS"
                        },
                        "masterProfile": {
                          "count": 1,
                          "dnsPrefix": "acs1-rg1-e240e5mgmt",
                          "fqdn": "acs1-rg1-e240e5mgmt.location1.cloudapp.azure.com",
                          "vmSize": "Standard_D2_v2"
                        },
                        "agentPoolProfiles": [
                          {
                            "name": "agentpool0",
                            "count": 3,
                            "vmSize": "Standard_D2_v2",
                            "dnsPrefix": "acs1-rg1-e240e5agent",
                            "fqdn": "acs1-rg1-e240e5agent.location1.cloudapp.azure.com",
                            "osType": "Linux"
                          }
                        ],
                        "linuxProfile": {
                          "ssh": {
                            "publicKeys": [
                              {
                                "keyData": "ssh-rsa AAAAB3NzaC1y...+0vNzo1FAdQ== user@hostname.local\n"
                              }
                            ]
                          },
                          "adminUsername": "azureuser"
                        },
                        "diagnosticsProfile": {
                          "vmDiagnostics": {
                            "enabled": true,
                            "storageUri": "https://mjwjtrv73stvgdiag0.blob.core.windows.net/"
                          }
                        }
                      }
                    },
                    {
                      "type": "Microsoft.ContainerService/ContainerServices",
                      "location": "location1",
                      "id": "/subscriptions/subid1/resourceGroups/RG1/providers/Microsoft.ContainerService/containerServices/acs2",
                      "name": "acs2",
                      "properties": {
                        "provisioningState": "Creating",
                        "orchestratorProfile": {
                          "orchestratorType": "DCOS"
                        },
                        "masterProfile": {
                          "count": 1,
                          "dnsPrefix": "acs2-rg1-e240e5mgmt",
                          "vmSize": "Standard_D2_v2"
                        },
                        "agentPoolProfiles": [
                          {
                            "name": "agentpool0",
                            "count": 3,
                            "vmSize": "Standard_D2_v2",
                            "dnsPrefix": "acs2-rg1-e240e5agent",
                            "osType": "Linux"
                          }
                        ],
                        "linuxProfile": {
                          "ssh": {
                            "publicKeys": [
                              {
                                "keyData": "ssh-rsa AAAAB3NzaC1y...+0vNzo1FAdQ== user@hostname.local\n"
                              }
                            ]
                          },
                          "adminUsername": "azureuser"
                        },
                        "diagnosticsProfile": {
                          "vmDiagnostics": {
                            "enabled": true
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/orchestrators": {
      "get": {
        "tags": [
          "ContainerServices"
        ],
        "operationId": "ContainerServices_ListOrchestrators",
        "summary": "Gets a list of supported orchestrators in the specified subscription.",
        "description": "Gets a list of supported orchestrators in the specified subscription. The operation returns properties of each orchestrator including version, available upgrades and whether that version or upgrades are in preview.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2019-08-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ResourceTypeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrchestratorVersionProfileListResult"
            }
          }
        },
        "x-ms-examples": {
          "List Container Service Orchestrators": {
            "parameters": {
              "api-version": "2019-08-01",
              "subscriptionId": "subid1",
              "location": "location1"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid1/providers/Microsoft.ContainerService/locations/location1/orchestrators",
                  "name": "default",
                  "type": "Microsoft.ContainerService/locations/orchestrators",
                  "properties": {
                    "orchestrators": [
                      {
                        "orchestratorType": "DCOS",
                        "orchestratorVersion": "1.10.0"
                      },
                      {
                        "orchestratorType": "DCOS",
                        "orchestratorVersion": "1.9.0"
                      },
                      {
                        "orchestratorType": "DCOS",
                        "orchestratorVersion": "1.8.8"
                      },
                      {
                        "orchestratorType": "Swarm",
                        "orchestratorVersion": "swarm:1.1.0"
                      },
                      {
                        "orchestratorType": "DockerCE",
                        "orchestratorVersion": "17.03.*"
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.8.1",
                        "upgrades": [
                          {
                            "orchestratorVersion": "1.8.4"
                          },
                          {
                            "orchestratorVersion": "1.8.2"
                          }
                        ]
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.9.10",
                        "upgrades": [
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.9.11",
                            "isPreview": false
                          },
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.10.12",
                            "isPreview": false
                          },
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.10.13",
                            "isPreview": false
                          }
                        ]
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.9.11",
                        "upgrades": [
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.10.12",
                            "isPreview": false
                          },
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.10.13",
                            "isPreview": false
                          }
                        ]
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.10.12",
                        "upgrades": [
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.10.13",
                            "isPreview": false
                          },
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.11.8",
                            "isPreview": false
                          },
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.11.9",
                            "isPreview": false
                          }
                        ]
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.10.13",
                        "upgrades": [
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.11.8",
                            "isPreview": false
                          },
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.11.9",
                            "isPreview": false
                          }
                        ]
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.11.8",
                        "upgrades": [
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.11.9",
                            "isPreview": false
                          },
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.12.6",
                            "isPreview": false
                          },
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.12.7",
                            "isPreview": false
                          }
                        ]
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.11.9",
                        "upgrades": [
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.12.6",
                            "isPreview": false
                          },
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.12.7",
                            "isPreview": false
                          }
                        ]
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.12.6",
                        "upgrades": [
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.12.7",
                            "isPreview": false
                          },
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.13.5",
                            "isPreview": false
                          }
                        ]
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.12.7",
                        "default": true,
                        "upgrades": [
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.13.5",
                            "isPreview": false
                          }
                        ]
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.13.5",
                        "upgrades": [
                          {
                            "orchestratorType": "",
                            "orchestratorVersion": "1.14.0",
                            "isPreview": true
                          }
                        ]
                      },
                      {
                        "orchestratorType": "Kubernetes",
                        "orchestratorVersion": "1.14.0",
                        "isPreview": true
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/providers/Microsoft.ContainerService/operations": {
      "get": {
        "tags": [
          "managedClusters"
        ],
        "operationId": "Operations_List",
        "description": "Gets a list of compute operations.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2020-06-01"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/managedClusters": {
      "get": {
        "tags": [
          "ManagedClusters"
        ],
        "operationId": "ManagedClusters_List",
        "summary": "Gets a list of managed clusters in the specified subscription.",
        "description": "Gets a list of managed clusters in the specified subscription. The operation returns properties of each managed cluster.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2020-06-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ManagedClusterListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Managed Clusters": {
            "parameters": {
              "api-version": "2020-06-01",
              "subscriptionId": "subid1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid1/providers/Microsoft.ContainerService/managedClusters",
                      "location": "location1",
                      "name": "clustername1",
                      "tags": {
                        "archv2": "",
                        "tier": "production"
                      },
                      "type": "Microsoft.ContainerService/ManagedClusters",
                      "properties": {
                        "provisioningState": "Succeeded",
                        "kubernetesVersion": "1.9.6",
                        "maxAgentPools": 1,
                        "dnsPrefix": "dnsprefix1",
                        "fqdn": "dnsprefix1-abcd1234.hcp.eastus.azmk8s.io",
                        "agentPoolProfiles": [
                          {
                            "name": "nodepool1",
                            "count": 3,
                            "vmSize": "Standard_DS1_v2",
                            "maxPods": 110,
                            "osType": "Linux",
                            "provisioningState": "Succeeded",
                            "orchestratorVersion": "1.9.6"
                          }
                        ],
                        "linuxProfile": {
                          "adminUsername": "azureuser",
                          "ssh": {
                            "publicKeys": [
                              {
                                "keyData": "keydata"
                              }
                            ]
                          }
                        },
                        "servicePrincipalProfile": {
                          "clientId": "clientid"
                        },
                        "nodeResourceGroup": "MC_rg1_clustername1_location1",
                        "enableRBAC": false,
                        "diskEncryptionSetID": "/subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Compute/diskEncryptionSets/des",
                        "networkProfile": {
                          "networkPlugin": "kubenet",
                          "podCidr": "10.244.0.0/16",
                          "serviceCidr": "10.0.0.0/16",
                          "dnsServiceIP": "10.0.0.10",
                          "dockerBridgeCidr": "172.17.0.1/16"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters": {
      "get": {
        "tags": [
          "ManagedClusters"
        ],
        "operationId": "ManagedClusters_ListByResourceGroup",
        "summary": "Lists managed clusters in the specified subscription and resource group.",
        "description": "Lists managed clusters in the specified subscription and resource group. The operation returns properties of each managed cluster.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2020-06-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ManagedClusterListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Managed Clusters by Resource Group": {
            "parameters": {
              "api-version": "2020-06-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/managedClusters",
                      "location": "location1",
                      "name": "clustername1",
                      "tags": {
                        "archv2": "",
                        "tier": "production"
                      },
                      "type": "Microsoft.ContainerService/ManagedClusters",
                      "properties": {
                        "provisioningState": "Succeeded",
                        "kubernetesVersion": "1.9.6",
                        "maxAgentPools": 1,
                        "dnsPrefix": "dnsprefix1",
                        "fqdn": "dnsprefix1-abcd1234.hcp.eastus.azmk8s.io",
                        "agentPoolProfiles": [
                          {
                            "name": "nodepool1",
                            "count": 3,
                            "vmSize": "Standard_DS1_v2",
                            "maxPods": 110,
                            "osType": "Linux",
                            "provisioningState": "Succeeded",
                            "orchestratorVersion": "1.9.6"
                          }
                        ],
                        "linuxProfile": {
                          "adminUsername": "azureuser",
                          "ssh": {
                            "publicKeys": [
                              {
                                "keyData": "keydata"
                              }
                            ]
                          }
                        },
                        "servicePrincipalProfile": {
                          "clientId": "clientid"
                        },
                        "nodeResourceGroup": "MC_rg1_clustername1_location1",
                        "enableRBAC": false,
                        "diskEncryptionSetID": "/subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Compute/diskEncryptionSets/des",
                        "networkProfile": {
                          "networkPlugin": "kubenet",
                          "podCidr": "10.244.0.0/16",
                          "serviceCidr": "10.0.0.0/16",
                          "dnsServiceIP": "10.0.0.10",
                          "dockerBridgeCidr": "172.17.0.1/16"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/upgradeProfiles/default": {
      "get": {
        "tags": [
          "ManagedClusters"
        ],
        "operationId": "ManagedClusters_GetUpgradeProfile",
        "summary": "Gets upgrade profile for a managed cluster.",
        "description": "Gets the details of the upgrade profile for a managed cluster with a specified resource group and name.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2020-06-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ManagedClusterUpgradeProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Upgrade Profile for Managed Cluster": {
            "parameters": {
              "api-version": "2020-06-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "resourceName": "clustername1"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/managedClusters/clustername1/upgradeprofiles/default",
                  "name": "default",
                  "properties": {
                    "agentPoolProfiles": [
                      {
                        "kubernetesVersion": "1.7.7",
                        "name": "agent",
                        "osType": "Linux",
                        "upgrades": [
                          {
                            "kubernetesVersion": "1.7.9"
                          },
                          {
                            "kubernetesVersion": "1.7.11",
                            "isPreview": true
                          }
                        ]
                      }
                    ],
                    "controlPlaneProfile": {
                      "kubernetesVersion": "1.7.7",
                      "name": "master",
                      "osType": "Linux",
                      "upgrades": [
                        {
                          "kubernetesVersion": "1.7.9",
                          "isPreview": true
                        },
                        {
                          "kubernetesVersion": "1.7.11"
                        }
                      ]
                    }
                  },
                  "type": "Microsoft.ContainerService/managedClusters/upgradeprofiles"
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/accessProfiles/{roleName}/listCredential": {
      "post": {
        "deprecated": true,
        "tags": [
          "ManagedClusters"
        ],
        "operationId": "ManagedClusters_GetAccessProfile",
        "summary": "Gets an access profile of a managed cluster.",
        "description": "Gets the accessProfile for the specified role name of the managed cluster with a specified resource group and name. **WARNING**: This API will be deprecated. Instead use [ListClusterUserCredentials](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/listclusterusercredentials) or [ListClusterAdminCredentials](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/listclusteradmincredentials) .",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2020-06-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "roleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the role for managed cluster accessProfile resource."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ManagedClusterAccessProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Managed Cluster": {
            "parameters": {
              "api-version": "2020-06-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "resourceName": "clustername1",
              "roleName": "clusterUser"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/managedClusters/clustername1/accessProfiles/clusterUser",
                  "location": "location1",
                  "name": "clusterUser",
                  "properties": {
                    "kubeConfig": "kubeConfig1"
                  },
                  "type": "Microsoft.ContainerService/ManagedClusters/AccessProfiles"
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterAdminCredential": {
      "post": {
        "tags": [
          "ManagedClusters"
        ],
        "operationId": "ManagedClusters_ListClusterAdminCredentials",
        "summary": "Gets cluster admin credential of a managed cluster.",
        "description": "Gets cluster admin credential of the managed cluster with a specified resource group and name.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2020-06-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CredentialResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Managed Cluster": {
            "parameters": {
              "api-version": "2020-06-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "resourceName": "clustername1"
            },
            "responses": {
              "200": {
                "body": {
                  "kubeconfigs": [
                    {
                      "name": "credentialName1",
                      "value": "credentialValue1"
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterUserCredential": {
      "post": {
        "tags": [
          "ManagedClusters"
        ],
        "operationId": "ManagedClusters_ListClusterUserCredentials",
        "summary": "Gets cluster user credential of a managed cluster.",
        "description": "Gets cluster user credential of the managed cluster with a specified resource group and name.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2020-06-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CredentialResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Managed Cluster": {
            "parameters": {
              "api-version": "2020-06-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "resourceName": "clustername1"
            },
            "responses": {
              "200": {
                "body": {
                  "kubeconfigs": [
                    {
                      "name": "credentialName1",
                      "value": "credentialValue1"
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterMonitoringUserCredential": {
      "post": {
        "tags": [
          "ManagedClusters"
        ],
        "operationId": "ManagedClusters_ListClusterMonitoringUserCredentials",
        "summary": "Gets cluster monitoring user credential of a managed cluster.",
        "description": "Gets cluster monitoring user credential of the managed cluster with a specified resource group and name.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2020-06-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CredentialResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Managed Cluster": {
            "parameters": {
              "api-version": "2020-06-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "resourceName": "clustername1"
            },
            "responses": {
              "200": {
                "body": {
                  "kubeconfigs": [
                    {
                      "name": "credentialName1",
                      "value": "credentialValue1"
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}": {
      "get": {
        "tags": [
          "ManagedClusters"
        ],
        "operationId": "ManagedClusters_Get",
        "summary": "Gets a managed cluster.",
        "description": "Gets the details of the managed cluster with a specified resource group and name.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2020-06-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ManagedCluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Managed Cluster": {
            "parameters": {
              "api-version": "2020-06-01",
              "subscriptionId": "subid1",
              "resourceGroupName": "rg1",
              "resourceName": "clustername1"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/managedClusters/clustername1",
                  "location": "location1",
                  "name": "clustername1",
                  "tags": {
                    "archv2": "",
                    "tier": "production"
                  },
                  "type": "Microsoft.ContainerService/ManagedClusters",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "maxAgentPools": 1,
                    "kubernetesVersion": "1.9.6",
                    "dnsPrefix": "dnsprefix1",
                    "fqdn": "dnsprefix1-abcd1234.hcp.eastus.azmk8s.io",
                    "agentPoolProfiles": [
                      {
                        "name": "nodepool1",
                        "count": 3,
                        "vmSize": "Standard_DS1_v2",
                        "maxPods": 110,
                        "osType": "Linux",
                        "provisioningState": "Succeeded",
                        "orchestratorVersion": "1.9.6",
                        "availabilityZones": [
                          "1",
                          "2",
                          "3"
                        ],
                        "nodeImageVersion": "AKSUbuntu:1604:2020.03.11",
                        "upgradeSettings": {
                          "maxSurge": "33%"
                        }
                      }
                    ],
                    "linuxProfile": {
                      "adminUsername": "azureuser",
                      "ssh": {
                        "publicKeys": [
                          {
                            "keyData": "keydata"
                          }
                        ]
                      }
                    },
                    "servicePrincipalProfile": {
                      "clientId": "clientid"
                    },
                    "nodeResourceGroup": "MC_rg1_clustername1_location1",
                    "enableRBAC": false,
                    "diskEncryptionSetID": "/subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Compute/diskEncryptionSets/des",
                    "networkProfile": {
                      "networkPlugin": "kubenet",
                      "podCidr": "10.244.0.0/16",
                      "serviceCidr": "10.0.0.0/16",
                      "dnsServiceIP": "10.0.0.10",
                      "dockerBridgeCidr": "172.17.0.1/16",
                      "loadBalancerSku": "standard",
                      "outboundType": "loadBalancer",
                      "loadBalancerProfile": {
                        "allocatedOutboundPorts": 2000,
                        "idleTimeoutInMinutes": 10,
                        "outboundIPs": {
                          "publicIPs": [
                            {
                              "id": "/subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/customeroutboundip1"
                            },
                            {
                              "id": "/subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/customeroutboundip2"
                            }
                          ]
                        },
                        "effectiveOutboundIPs": [
                          {
                            "id": "/subscriptions/subid1/resourceGroups/MC_rg1/providers/Microsoft.Network/publicIPAddresses/mgdoutboundip1"
                          },
                          {
                            "id": "/subscriptions/subid1/resourceGroups/MC_rg1/providers/Microsoft.Network/publicIPAddresses/mgdoutboundip2"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "put": {
        "tags": [
          "ManagedClusters"
        ],
        "operationId": "ManagedClusters_CreateOrUpdate",
        "summary": "Creates or updates a managed cluster.",
        "description": "Creates or updates a managed cluster with the specified configuration for agents and Kubernetes version.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version.",
            "x-ms-parameter-location": "client",
            "enum": [
              "2020-06-01"
            ]
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedCluster"
            },
            "description": "Parameters supplied to the Create or Update a Managed Cluster operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
[...]
