{
 "swagger": "2.0",
 "info": {
  "version": "2019-11-01-preview",
  "title": "AzureDeploymentManager",
  "description": "REST APIs for orchestrating deployments using the Azure Deployment Manager (ADM). See https://docs.microsoft.com/en-us/azure/azure-resource-manager/deployment-manager-overview for more information."
 },
 "host": "management.azure.com",
 "schemes": [
  "https"
 ],
 "consumes": [
  "application/json"
 ],
 "produces": [
  "application/json"
 ],
 "security": [
  {
   "azure_auth": [
    "user_impersonation"
   ]
  }
 ],
 "paths": {
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/serviceTopologies/{serviceTopologyName}": {
   "parameters": [
    {
     "$ref": "#/parameters/subscriptionId"
    },
    {
     "$ref": "#/parameters/resourceGroupName"
    },
    {
     "$ref": "#/parameters/serviceTopologyName"
    },
    {
     "$ref": "#/parameters/ApiVersionParameter"
    }
   ],
   "put": {
    "tags": [
     "ServiceTopologies"
    ],
    "operationId": "ServiceTopologies_CreateOrUpdate",
    "summary": "Creates or updates a service topology.",
    "description": "Synchronously creates a new service topology or updates an existing service topology.",
    "x-ms-examples": {
     "Create a topology with Artifact Source": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "api-version": "2019-11-01-preview",
       "serviceTopologyInfo": {
        "location": "centralus",
        "tags": {},
        "properties": {
         "artifactSourceId": "Microsoft.DeploymentManager/artifactSources/myArtifactSource"
        }
       }
      },
      "responses": {
       "201": {
        "body": {
         "name": "myTopology",
         "type": "Microsoft.DeploymentManager/serviceTopologies",
         "location": "centralus",
         "tags": {},
         "properties": {
          "artifactSourceId": "Microsoft.DeploymentManager/artifactSources/myArtifactSource"
         }
        }
       }
      }
     },
     "Create a topology without Artifact Source": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "api-version": "2019-11-01-preview",
       "serviceTopologyInfo": {
        "location": "centralus",
        "tags": {},
        "properties": {}
       }
      },
      "responses": {
       "201": {
        "body": {
         "name": "myTopology",
         "type": "Microsoft.DeploymentManager/serviceTopologies",
         "location": "centralus",
         "tags": {},
         "properties": {}
        }
       }
      }
     }
    },
    "parameters": [
     {
      "in": "body",
      "name": "serviceTopologyInfo",
      "required": true,
      "schema": {
       "$ref": "#/definitions/ServiceTopologyResource"
      },
      "description": "Source topology object defines the resource."
     }
    ],
    "responses": {
     "201": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ServiceTopologyResource"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard Error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "get": {
    "tags": [
     "ServiceTopologies"
    ],
    "operationId": "ServiceTopologies_Get",
    "summary": "Gets the service topology.",
    "x-ms-examples": {
     "Get topology": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": {
         "name": "myTopology",
         "type": "Microsoft.DeploymentManager/serviceTopologies",
         "location": "centralus",
         "tags": {},
         "properties": {
          "artifactSourceId": "Microsoft.DeploymentManager/artifactSources/myArtifactSource"
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/serviceTopologyName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ServiceTopologyResource"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "delete": {
    "tags": [
     "ServiceTopologies"
    ],
    "operationId": "ServiceTopologies_Delete",
    "summary": "Deletes the service topology.",
    "x-ms-examples": {
     "Delete topology": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {},
       "204": {}
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/serviceTopologyName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "The topology was successfully deleted."
     },
     "204": {
      "description": "The topology was not found and the operation is considered success."
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/serviceTopologies": {
   "parameters": [
    {
     "$ref": "#/parameters/subscriptionId"
    },
    {
     "$ref": "#/parameters/resourceGroupName"
    },
    {
     "$ref": "#/parameters/ApiVersionParameter"
    }
   ],
   "get": {
    "tags": [
     "ServiceTopologies"
    ],
    "operationId": "ServiceTopologies_List",
    "summary": "Lists the service topologies in the resource group.",
    "x-ms-examples": {
     "List topologies": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": [
         {
          "name": "ContosoSvc1Topology",
          "type": "Microsoft.DeploymentManager/serviceTopologies",
          "location": "centralus",
          "tags": {},
          "properties": {
           "artifactSourceId": "Microsoft.DeploymentManager/artifactSources/contoso1ArtifactSource"
          }
         },
         {
          "name": "ContosoSvc2Topology",
          "type": "Microsoft.DeploymentManager/serviceTopologies",
          "location": "centralus",
          "tags": {},
          "properties": {
           "artifactSourceId": "Microsoft.DeploymentManager/artifactSources/contoso2ArtifactSource"
          }
         }
        ]
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ServiceTopologiesListResult"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/serviceTopologies/{serviceTopologyName}/services/{serviceName}": {
   "put": {
    "tags": [
     "Services"
    ],
    "operationId": "Services_CreateOrUpdate",
    "summary": "Creates or updates a service in the service topology.",
    "description": "Synchronously creates a new service or updates an existing service.",
    "x-ms-examples": {
     "Create service": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "serviceName": "myService",
       "api-version": "2019-11-01-preview",
       "serviceInfo": {
        "location": "centralus",
        "tags": {},
        "properties": {
         "targetLocation": "centralus",
         "targetSubscriptionId": "600c95c5-3ee5-44fe-b190-ca38a19adcd7"
        }
       }
      },
      "responses": {
       "201": {
        "body": {
         "name": "myService",
         "type": "Microsoft.DeploymentManager/serviceTopologies/services",
         "location": "centralus",
         "tags": {},
         "properties": {
          "targetLocation": "centralus",
          "targetSubscriptionId": "600c95c5-3ee5-44fe-b190-ca38a19adcd7"
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/serviceTopologyName"
     },
     {
      "$ref": "#/parameters/serviceName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     },
     {
      "in": "body",
      "name": "serviceInfo",
      "description": "The service object",
      "required": true,
      "schema": {
       "$ref": "#/definitions/ServiceResource"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ServiceResource"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "get": {
    "tags": [
     "Services"
    ],
    "operationId": "Services_Get",
    "summary": "Gets the service.",
    "x-ms-examples": {
     "Get service": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "serviceName": "myService",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": {
         "name": "myService",
         "type": "Microsoft.DeploymentManager/serviceTopologies/services",
         "location": "centralus",
         "tags": {},
         "properties": {
          "targetLocation": "centralus",
          "targetSubscriptionId": "600c95c5-3ee5-44fe-b190-ca38a19adcd7"
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/serviceTopologyName"
     },
     {
      "$ref": "#/parameters/serviceName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ServiceResource"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Services"
    ],
    "operationId": "Services_Delete",
    "summary": "Deletes the service.",
    "x-ms-examples": {
     "Delete service": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "serviceName": "myService",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {},
       "204": {}
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/serviceTopologyName"
     },
     {
      "$ref": "#/parameters/serviceName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "The service was successfully deleted."
     },
     "204": {
      "description": "The service was not found and the operation is considered success."
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/serviceTopologies/{serviceTopologyName}/services": {
   "parameters": [
    {
     "$ref": "#/parameters/subscriptionId"
    },
    {
     "$ref": "#/parameters/resourceGroupName"
    },
    {
     "$ref": "#/parameters/serviceTopologyName"
    },
    {
     "$ref": "#/parameters/ApiVersionParameter"
    }
   ],
   "get": {
    "tags": [
     "Services"
    ],
    "operationId": "Services_List",
    "summary": "Lists the services in the service topology.",
    "x-ms-examples": {
     "List services": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": [
         {
          "name": "Service East",
          "type": "Microsoft.DeploymentManager/serviceTopologies/services",
          "location": "centralus",
          "tags": {},
          "properties": {
           "targetLocation": "eastus",
           "targetSubscriptionId": "600c95c5-3ee5-44fe-b190-ca38a19adcd7"
          }
         },
         {
          "name": "Service West",
          "type": "Microsoft.DeploymentManager/serviceTopologies/services",
          "location": "centralus",
          "tags": {},
          "properties": {
           "targetLocation": "westus",
           "targetSubscriptionId": "600c95c5-3ee5-44fe-b190-ca38a19adcd7"
          }
         }
        ]
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/serviceTopologyName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ServiceListResult"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/serviceTopologies/{serviceTopologyName}/services/{serviceName}/serviceUnits/{serviceUnitName}": {
   "put": {
    "tags": [
     "ServiceUnits"
    ],
    "operationId": "ServiceUnits_CreateOrUpdate",
    "x-ms-long-running-operation": true,
    "summary": "Creates or updates a service unit under the service in the service topology.",
    "description": "This is an asynchronous operation and can be polled to completion using the operation resource returned by this operation.",
    "x-ms-examples": {
     "Create service unit using relative paths into the artifact source": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "serviceName": "myService",
       "serviceUnitName": "myServiceUnit",
       "api-version": "2019-11-01-preview",
       "serviceUnitInfo": {
        "location": "centralus",
        "tags": {},
        "properties": {
         "targetResourceGroup": "myDeploymentResourceGroup",
         "deploymentMode": "Incremental",
         "artifacts": {
          "templateArtifactSourceRelativePath": "templates/myTopologyUnit.template.json",
          "parametersArtifactSourceRelativePath": "parameter/myTopologyUnit.parameters.json"
         }
        }
       }
      },
      "responses": {
       "201": {
        "body": {
         "name": "myServiceUnit",
         "type": "Microsoft.DeploymentManager/serviceTopologies/services/serviceUnits",
         "location": "centralus",
         "tags": {},
         "properties": {
          "targetResourceGroup": "myDeploymentResourceGroup",
          "deploymentMode": "Incremental",
          "artifacts": {
           "templateArtifactSourceRelativePath": "templates/myTopologyUnit.template.json",
           "parametersArtifactSourceRelativePath": "parameter/myTopologyUnit.parameters.json"
          }
         }
        }
       }
      }
     },
     "Create service unit using SAS URIs": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "serviceName": "myService",
       "serviceUnitName": "myServiceUnit",
       "api-version": "2019-11-01-preview",
       "serviceUnitInfo": {
        "location": "centralus",
        "tags": {},
        "properties": {
         "targetResourceGroup": "myDeploymentResourceGroup",
         "deploymentMode": "Incremental",
         "artifacts": {
          "templateUri": "https://mystorageaccount.blob.core.windows.net/myartifactsource/templates/myTopologyUnit.template.json?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D",
          "parametersUri": "https://mystorageaccount.blob.core.windows.net/myartifactsource/parameter/myTopologyUnit.parameters.json?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D"
         }
        }
       }
      },
      "responses": {
       "201": {
        "body": {
         "name": "myServiceUnit",
         "type": "Microsoft.DeploymentManager/serviceTopologies/services/serviceUnits",
         "location": "centralus",
         "tags": {},
         "properties": {
          "targetResourceGroup": "myDeploymentResourceGroup",
          "deploymentMode": "Incremental",
          "artifacts": {
           "templateUri": "https://mystorageaccount.blob.core.windows.net/myartifactsource/templates/myTopologyUnit.template.json?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D",
           "parametersUri": "https://mystorageaccount.blob.core.windows.net/myartifactsource/parameter/myTopologyUnit.parameters.json?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D"
          }
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/serviceTopologyName"
     },
     {
      "$ref": "#/parameters/serviceName"
     },
     {
      "$ref": "#/parameters/serviceUnitName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     },
     {
      "in": "body",
      "name": "serviceUnitInfo",
      "description": "The service unit resource object.",
      "required": true,
      "schema": {
       "$ref": "#/definitions/ServiceUnitResource"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "This is a long running operation. The operation returns a 201 if the validation is complete. The response includes an Azure-AsyncOperation header that contains a status URL. Clients are expected to poll the status URL for the status of the operation.",
      "headers": {
       "Azure-AsyncOperation": {
        "type": "string",
        "description": "Contains the status URL on which clients are expected to poll the status of the operation."
       }
      },
      "schema": {
       "$ref": "#/definitions/ServiceUnitResource"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "get": {
    "tags": [
     "ServiceUnits"
    ],
    "operationId": "ServiceUnits_Get",
    "summary": "Gets the service unit.",
    "x-ms-examples": {
     "Get service unit": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "serviceName": "myService",
       "serviceUnitName": "myServiceUnit",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": {
         "name": "myServiceUnit",
         "type": "Microsoft.DeploymentManager/servicetopologies/services/serviceunits",
         "location": "centralus",
         "tags": {},
         "properties": {
          "targetResourceGroup": "myDeploymentResourceGroup",
          "deploymentMode": "Incremental",
          "artifacts": {
           "templateArtifactSourceRelativePath": "templates/myTopologyUnit.template.json",
           "parametersArtifactSourceRelativePath": "parameter/myTopologyUnit.parameters.json"
          }
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/serviceTopologyName"
     },
     {
      "$ref": "#/parameters/serviceName"
     },
     {
      "$ref": "#/parameters/serviceUnitName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ServiceUnitResource"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "delete": {
    "tags": [
     "ServiceUnits"
    ],
    "operationId": "ServiceUnits_Delete",
    "summary": "Deletes the service unit.",
    "x-ms-examples": {
     "Delete service unit": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "serviceName": "myService",
       "serviceUnitName": "myServiceUnit",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {},
       "204": {}
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/serviceTopologyName"
     },
     {
      "$ref": "#/parameters/serviceName"
     },
     {
      "$ref": "#/parameters/serviceUnitName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "The service unit was successfully deleted."
     },
     "204": {
      "description": "The service unit was not found and the operation is considered success."
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/serviceTopologies/{serviceTopologyName}/services/{serviceName}/serviceUnits": {
   "parameters": [
    {
     "$ref": "#/parameters/subscriptionId"
    },
    {
     "$ref": "#/parameters/resourceGroupName"
    },
    {
     "$ref": "#/parameters/serviceTopologyName"
    },
    {
     "$ref": "#/parameters/serviceName"
    },
    {
     "$ref": "#/parameters/ApiVersionParameter"
    }
   ],
   "get": {
    "tags": [
     "ServiceUnits"
    ],
    "operationId": "ServiceUnits_List",
    "summary": "Lists the service units under a service in the service topology.",
    "x-ms-examples": {
     "List service units": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "serviceTopologyName": "myTopology",
       "serviceName": "myService",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": [
         {
          "name": "BackEndServiceUnit",
          "type": "Microsoft.DeploymentManager/servicetopologies/services/serviceunits",
          "location": "centralus",
          "tags": {},
          "properties": {
           "targetResourceGroup": "myDeploymentResourceGroup",
           "deploymentMode": "Incremental",
           "artifacts": {
            "templateArtifactSourceRelativePath": "templates/backend.template.json",
            "parametersArtifactSourceRelativePath": "parameter/backend.parameters.json"
           }
          }
         },
         {
          "name": "FrontEndServiceUnit",
          "type": "Microsoft.DeploymentManager/servicetopologies/services/serviceunits",
          "location": "centralus",
          "tags": {},
          "properties": {
           "targetResourceGroup": "myDeploymentResourceGroup",
           "deploymentMode": "Complete",
           "artifacts": {
            "templateArtifactSourceRelativePath": "templates/frontend.template.json",
            "parametersArtifactSourceRelativePath": "parameter/frontend.parameters.json"
           }
          }
         }
        ]
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/serviceTopologyName"
     },
     {
      "$ref": "#/parameters/serviceName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ServiceUnitListResult"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/steps/{stepName}": {
   "put": {
    "tags": [
     "Steps"
    ],
    "operationId": "Steps_CreateOrUpdate",
    "summary": "Creates or updates a rollout step with the given step properties.",
    "description": "Synchronously creates a new step or updates an existing step.",
    "x-ms-examples": {
     "Create wait step": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "stepName": "waitStep",
       "api-version": "2019-11-01-preview",
       "stepInfo": {
        "location": "centralus",
        "tags": {},
        "properties": {
         "stepType": "Wait",
         "attributes": {
          "duration": "PT20M"
         }
        }
       }
      },
      "responses": {
       "201": {
        "body": {
         "name": "waitStep",
         "type": "Microsoft.DeploymentManager/steps",
         "location": "centralus",
         "tags": {},
         "properties": {
          "stepType": "Wait",
          "attributes": {
           "duration": "PT20M"
          }
         }
        }
       }
      }
     },
     "Create health check step": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "stepName": "healthCheckStep",
       "api-version": "2019-11-01-preview",
       "stepInfo": {
        "location": "centralus",
        "tags": {},
        "properties": {
         "stepType": "HealthCheck",
         "attributes": {
          "waitDuration": "PT15M",
          "maxElasticDuration": "PT30M",
          "healthyStateDuration": "PT2H",
          "type": "REST",
          "properties": {
           "healthChecks": [
            {
             "name": "appHealth",
             "request": {
              "method": "GET",
              "uri": "https://resthealth.healthservice.com/api/applications/contosoApp/healthStatus",
              "authentication": {
               "type": "ApiKey",
               "name": "Code",
               "in": "Query",
               "value": "NBCapiMOBQyAAbCkeytoPadnvO0eGHmidwFz5rXpappznKp3Jt7LLg=="
              }
             },
             "response": {
              "successStatusCodes": [
               "OK"
              ],
              "regex": {
               "matchQuantifier": "All",
               "matches": [
                "(?i)Contoso-App",
                "(?i)\"health_status\":((.|\n)*)\"(green|yellow)\"",
                "(?mi)^(\"application_host\": 94781052)$"
               ]
              }
             }
            },
            {
             "name": "serviceHealth",
             "request": {
              "method": "GET",
              "uri": "https://resthealth.healthservice.com/api/services/contosoService/healthStatus",
              "authentication": {
               "type": "ApiKey",
               "name": "code",
               "in": "Header",
               "value": "NBCapiMOBQyAAbCkeytoPadnvO0eGHmidwFz5rXpappznKp3Jt7LLg=="
              }
             },
             "response": {
              "successStatusCodes": [
               "OK"
              ],
              "regex": {
               "matchQuantifier": "All",
               "matches": [
                "(?i)Contoso-Service-EndToEnd",
                "(?i)\"health_status\":((.|\n)*)\"(green)\""
               ]
              }
             }
            }
           ]
          }
         }
        }
       }
      },
      "responses": {
       "201": {
        "body": {
         "name": "healthCheckStep",
         "type": "Microsoft.DeploymentManager/steps",
         "location": "centralus",
         "tags": {},
         "properties": {
          "stepType": "HealthCheck",
          "attributes": {
           "waitDuration": "PT15M",
           "maxElasticDuration": "PT30M",
           "healthyStateDuration": "PT2H",
           "type": "REST",
           "properties": {
            "healthChecks": [
             {
              "name": "appHealth",
              "request": {
               "method": "GET",
               "uri": "https://resthealth.healthservice.com/api/applications/contosoApp/healthStatus",
               "authentication": {
                "type": "ApiKey",
                "name": "Code",
                "in": "Query",
                "value": "NBCapiMOBQyAAbCkeytoPadnvO0eGHmidwFz5rXpappznKp3Jt7LLg=="
               }
              },
              "response": {
               "successStatusCodes": [
                "OK"
               ],
               "regex": {
                "matchQuantifier": "All",
                "matches": [
                 "(?i)Contoso-App",
                 "(?i)\"health_status\":((.|\n)*)\"(green|yellow)\"",
                 "(?mi)^(\"application_host\": 94781052)$"
                ]
               }
              }
             },
             {
              "name": "serviceHealth",
              "request": {
               "method": "GET",
               "uri": "https://resthealth.healthservice.com/api/services/contosoService/healthStatus",
               "authentication": {
                "type": "ApiKey",
                "name": "code",
                "in": "Header",
                "value": "NBCapiMOBQyAAbCkeytoPadnvO0eGHmidwFz5rXpappznKp3Jt7LLg=="
               }
              },
              "response": {
               "successStatusCodes": [
                "OK"
               ],
               "regex": {
                "matchQuantifier": "All",
                "matches": [
                 "(?i)Contoso-Service-EndToEnd",
                 "(?i)\"health_status\":((.|\n)*)\"(green)\""
                ]
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/stepName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     },
     {
      "in": "body",
      "name": "stepInfo",
      "description": "The step object.",
      "schema": {
       "$ref": "#/definitions/StepResource"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/StepResource"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "get": {
    "tags": [
     "Steps"
    ],
    "operationId": "Steps_Get",
    "summary": "Gets the step.",
    "x-ms-examples": {
     "Get deployment step": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "stepName": "waitStep",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": {
         "name": "deploymentStep1",
         "type": "Microsoft.DeploymentManager/steps",
         "location": "centralus",
         "tags": {},
         "properties": {
          "stepType": "Wait",
          "attributes": {
           "duration": "PT20M"
          }
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/stepName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/StepResource"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Steps"
    ],
    "operationId": "Steps_Delete",
    "summary": "Deletes the step.",
    "x-ms-examples": {
     "Delete deployment step": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "stepName": "deploymentStep1",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {},
       "204": {}
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/stepName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "The step was successfully deleted."
     },
     "204": {
      "description": "The step was not found and the operation is considered success."
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/steps": {
   "parameters": [
    {
     "$ref": "#/parameters/subscriptionId"
    },
    {
     "$ref": "#/parameters/resourceGroupName"
    },
    {
     "$ref": "#/parameters/ApiVersionParameter"
    }
   ],
   "get": {
    "tags": [
     "Steps"
    ],
    "operationId": "Steps_List",
    "summary": "Lists the steps in a resource group.",
    "x-ms-examples": {
     "List steps": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": [
         {
          "name": "waitStepfrontEnd",
          "type": "Microsoft.DeploymentManager/steps",
          "location": "centralus",
          "tags": {},
          "properties": {
           "stepType": "Wait",
           "attributes": {
            "duration": "PT10M"
           }
          }
         },
         {
          "name": "waitStepBackEnd",
          "type": "Microsoft.DeploymentManager/steps",
          "location": "centralus",
          "tags": {},
          "properties": {
           "stepType": "Wait",
           "attributes": {
            "duration": "PT30M"
           }
          }
         }
        ]
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/StepResourceListResult"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/rollouts/{rolloutName}": {
   "put": {
    "tags": [
     "Rollouts"
    ],
    "operationId": "Rollouts_CreateOrUpdate",
    "x-ms-long-running-operation": true,
    "summary": "Creates or updates a rollout.",
    "description": "This is an asynchronous operation and can be polled to completion using the location header returned by this operation.",
    "x-ms-examples": {
     "Create or update rollout": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "rolloutName": "myRollout",
       "api-version": "2019-11-01-preview",
       "rolloutRequest": {
        "location": "centralus",
        "tags": {},
        "identity": {
         "type": "userAssigned",
         "identityIds": [
          "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userassignedidentities/myuseridentity"
         ]
        },
        "properties": {
         "buildVersion": "1.0.0.1",
         "artifactSourceId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/artifactSources/myArtifactSource",
         "targetServiceTopologyId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/serviceTopologies/myTopology",
         "stepGroups": [
          {
           "name": "FirstRegion",
           "preDeploymentSteps": [
            {
             "stepId": "Microsoft.DeploymentManager/steps/preDeployStep1"
            },
            {
             "stepId": "Microsoft.DeploymentManager/steps/preDeployStep2"
            }
           ],
           "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit1'",
           "postDeploymentSteps": [
            {
             "stepId": "Microsoft.DeploymentManager/steps/postDeployStep1"
            }
           ]
          },
          {
           "name": "SecondRegion",
           "preDeploymentSteps": [
            {
             "stepId": "Microsoft.DeploymentManager/steps/preDeployStep3"
            },
            {
             "stepId": "Microsoft.DeploymentManager/steps/preDeployStep4"
            }
           ],
           "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit2'",
           "postDeploymentSteps": [
            {
             "stepId": "Microsoft.DeploymentManager/steps/postDeployStep5"
            }
           ],
           "dependsOnStepGroups": [
            "FirstRegion"
           ]
          }
         ]
        }
       }
      },
      "responses": {
       "201": {
        "body": {
         "name": "myRollout",
         "type": "Microsoft.DeploymentManager/rollouts",
         "location": "centralus",
         "tags": {},
         "identity": {
          "type": "userAssigned",
          "identityIds": [
           "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userassignedidentities/myuseridentity"
          ]
         },
         "properties": {
          "buildVersion": "1.0.0.1",
          "artifactSourceId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/artifactSources/myArtifactSource",
          "targetServiceTopologyId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/serviceTopologies/myTopology",
          "stepGroups": [
           {
            "name": "FirstRegion",
            "preDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep1"
             },
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep2"
             }
            ],
            "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit1'",
            "postDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/postDeployStep1"
             }
            ]
           },
           {
            "name": "SecondRegion",
            "preDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep3"
             },
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep4"
             }
            ],
            "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit2'",
            "postDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/postDeployStep5"
             }
            ],
            "dependsOnStepGroups": [
             "FirstRegion"
            ]
           }
          ]
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/rolloutName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     },
     {
      "in": "body",
      "name": "rolloutRequest",
      "description": "Source rollout request object that defines the rollout.",
      "schema": {
       "$ref": "#/definitions/RolloutRequest"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "This is a long running operation. The operation returns a 201 if the request was successfully registered and basic validation is successful. The response includes an Azure-AsyncOperation header that contains the operation status URL. Clients are expected to poll the status URL for the status of the operation.",
      "headers": {
       "Azure-AsyncOperation": {
        "type": "string",
        "description": "Contains the status URL on which clients are expected to poll the status of the operation."
       }
      },
      "schema": {
       "$ref": "#/definitions/RolloutRequest"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "get": {
    "tags": [
     "Rollouts"
    ],
    "operationId": "Rollouts_Get",
    "summary": "Gets detailed information of a rollout.",
    "x-ms-examples": {
     "Get rollout": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "rolloutName": "myRollout",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": {
         "name": "myRollout",
         "type": "Microsoft.DeploymentManager/rollouts",
         "location": "centralus",
         "tags": {},
         "identity": {
          "type": "userAssigned",
          "identityIds": [
           "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userassignedidentities/myuseridentity"
          ]
         },
         "properties": {
          "status": "Running",
          "operationInfo": {
           "startTime": "2018-08-28T03:33:56.386Z",
           "retryAttempt": 0
          },
          "totalRetryAttempts": 0,
          "buildVersion": "1.0.0.1",
          "artifactSourceId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/artifactSources/myArtifactSource",
          "targetServiceTopologyId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/serviceTopologies/myTopology",
          "stepGroups": [
           {
            "name": "FirstRegion",
            "preDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep1"
             },
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep2"
             }
            ],
            "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit1'",
            "postDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/postDeployStep1"
             }
            ]
           },
           {
            "name": "SecondRegion",
            "preDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep3"
             },
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep4"
             }
            ],
            "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit2'",
            "postDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/postDeployStep5"
             }
            ],
            "dependsOnStepGroups": [
             "FirstRegion"
            ]
           }
          ],
          "services": [
           {
            "name": "myService1",
            "targetSubscriptionId": "600c95c5-3ee5-44fe-b190-ca38a19adcd7",
            "targetLocation": "centralus",
            "serviceUnits": [
             {
              "name": "myTopologyUni1",
              "targetResourceGroup": "myDeploymentResourceGroup",
              "deploymentMode": "Incremental",
              "steps": [
               {
                "name": "preDeploymentStep1",
                "status": "succeeded",
                "operationInfo": {
                 "startTime": "2018-08-28T03:33:56.386Z",
                 "endTime": "2018-08-28T03:35:28.556Z"
                }
               },
               {
                "name": "preDeploymentStep2",
                "status": "succeeded",
                "operationInfo": {
                 "startTime": "2018-08-28T03:36:56.386Z",
                 "endTime": "2018-08-28T03:37:28.556Z"
                }
               },
               {
                "name": "deploy",
                "status": "running",
                "operationInfo": {
                 "startTime": "2018-08-28T03:38:56.386Z",
                 "lastUpdatedTime": "2018-08-28T03:39:28.556Z"
                },
                "resourceOperations": [
                 {
                  "resourceName": "keyVaultcentralus",
                  "operationId": "20FC5A21382DA306",
                  "resourceType": "Microsoft.KeyVault/vaults",
                  "provisioningState": "Succeeded",
                  "statusMessage": "",
                  "statusCode": "OK"
                 }
                ]
               }
              ]
             }
            ]
           }
          ]
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/rolloutName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     },
     {
      "$ref": "#/parameters/retryAttempt"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/Rollout"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Rollouts"
    ],
    "operationId": "Rollouts_Delete",
    "summary": "Deletes a rollout resource.",
    "description": "Only rollouts in terminal state can be deleted.",
    "x-ms-examples": {
     "Delete rollout": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "rolloutName": "myRollout",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {},
       "204": {}
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/rolloutName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "The rollout was successfully deleted."
     },
     "204": {
      "description": "The rollout was not found and the operation is considered success."
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/rollouts/{rolloutName}/cancel": {
   "post": {
    "tags": [
     "Rollouts"
    ],
    "operationId": "Rollouts_Cancel",
    "summary": "Stops a running rollout.",
    "description": "Only running rollouts can be canceled.",
    "x-ms-examples": {
     "Cancel rollout": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "rolloutName": "myRollout",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": {
         "name": "myRollout",
         "type": "Microsoft.DeploymentManager/rollouts",
         "location": "centralus",
         "tags": {},
         "identity": {
          "type": "userAssigned",
          "identityIds": [
           "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userassignedidentities/myuseridentity"
          ]
         },
         "properties": {
          "status": "Canceling",
          "operationInfo": {
           "startTime": "2018-08-28T03:33:56.386Z",
           "retryAttempt": 0
          },
          "totalRetryAttempts": 0,
          "buildVersion": "1.0.0.1",
          "artifactSourceId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/artifactSources/myArtifactSource",
          "targetServiceTopologyId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/serviceTopologies/myTopology",
          "stepGroups": [
           {
            "name": "FirstRegion",
            "preDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep1"
             },
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep2"
             }
            ],
            "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit1'",
            "postDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/postDeployStep1"
             }
            ]
           },
           {
            "name": "SecondRegion",
            "preDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep3"
             },
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep4"
             }
            ],
            "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit2'",
            "postDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/postDeployStep5"
             }
            ],
            "dependsOnStepGroups": [
             "FirstRegion"
            ]
           }
          ],
          "services": [
           {
            "name": "myService1",
            "targetSubscriptionId": "600c95c5-3ee5-44fe-b190-ca38a19adcd7",
            "targetLocation": "centralus",
            "serviceUnits": [
             {
              "name": "myTopologyUni1",
              "targetResourceGroup": "myDeploymentResourceGroup",
              "deploymentMode": "Incremental",
              "steps": [
               {
                "name": "preDeploymentStep1",
                "status": "succeeded",
                "operationInfo": {
                 "startTime": "2018-08-28T03:33:56.386Z",
                 "endTime": "2018-08-28T03:35:28.556Z"
                }
               },
               {
                "name": "preDeploymentStep2",
                "status": "succeeded",
                "operationInfo": {
                 "startTime": "2018-08-28T03:36:56.386Z",
                 "endTime": "2018-08-28T03:37:28.556Z"
                }
               },
               {
                "name": "deploy",
                "status": "running",
                "operationInfo": {
                 "startTime": "2018-08-28T03:38:56.386Z",
                 "lastUpdatedTime": "2018-08-28T03:39:28.556Z"
                },
                "resourceOperations": [
                 {
                  "resourceName": "keyVaultcentralus",
                  "operationId": "20FC5A21382DA306",
                  "resourceType": "Microsoft.KeyVault/vaults",
                  "provisioningState": "Succeeded",
                  "statusMessage": "",
                  "statusCode": "OK"
                 }
                ]
               }
              ]
             }
            ]
           }
          ]
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/rolloutName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/Rollout"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/rollouts/{rolloutName}/restart": {
   "post": {
    "tags": [
     "Rollouts"
    ],
    "operationId": "Rollouts_Restart",
    "summary": "Restarts a failed rollout and optionally skips all succeeded steps.",
    "description": "Only failed rollouts can be restarted.",
    "x-ms-examples": {
     "Restart rollout": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "rolloutName": "myRollout",
       "skipSucceeded": true,
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": {
         "name": "myRollout",
         "type": "Microsoft.DeploymentManager/rollouts",
         "location": "centralus",
         "tags": {},
         "identity": {
          "type": "userAssigned",
          "identityIds": [
           "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userassignedidentities/myuseridentity"
          ]
         },
         "properties": {
          "status": "Running",
          "operationInfo": {
           "startTime": "2018-08-28T03:33:56.386Z",
           "retryAttempt": 1
          },
          "totalRetryAttempts": 1,
          "buildVersion": "1.0.0.1",
          "artifactSourceId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/artifactSources/myArtifactSource",
          "targetServiceTopologyId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/serviceTopologies/myTopology",
          "stepGroups": [
           {
            "name": "FirstRegion",
            "preDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep1"
             },
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep2"
             }
            ],
            "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit1'",
            "postDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/postDeployStep1"
             }
            ]
           },
           {
            "name": "SecondRegion",
            "preDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep3"
             },
             {
              "stepId": "Microsoft.DeploymentManager/steps/preDeployStep4"
             }
            ],
            "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit2'",
            "postDeploymentSteps": [
             {
              "stepId": "Microsoft.DeploymentManager/steps/postDeployStep5"
             }
            ],
            "dependsOnStepGroups": [
             "FirstRegion"
            ]
           }
          ]
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/rolloutName"
     },
     {
      "name": "skipSucceeded",
      "in": "query",
      "required": false,
      "type": "boolean",
      "description": "If true, will skip all succeeded steps so far in the rollout. If false, will execute the entire rollout again regardless of the current state of individual resources. Defaults to false if not specified."
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/Rollout"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/rollouts": {
   "parameters": [
    {
     "$ref": "#/parameters/subscriptionId"
    },
    {
     "$ref": "#/parameters/resourceGroupName"
    },
    {
     "$ref": "#/parameters/ApiVersionParameter"
    }
   ],
   "get": {
    "tags": [
     "Rollouts"
    ],
    "operationId": "Rollouts_List",
    "summary": "Lists the rollouts in a resource group.",
    "x-ms-examples": {
     "List rollouts by resource group": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": [
         {
          "name": "CanaryRollout",
          "type": "Microsoft.DeploymentManager/rollouts",
          "location": "centralus",
          "tags": {},
          "identity": {
           "type": "userAssigned",
           "identityIds": [
            "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userassignedidentities/myuseridentity"
           ]
          },
          "properties": {
           "status": "Succeeded",
           "operationInfo": {
            "startTime": "2018-08-28T03:33:56.386Z",
            "endTime": "2018-08-28T03:43:55.010Z",
            "retryAttempt": 0
           },
           "totalRetryAttempts": 0,
           "buildVersion": "1.0.0.1",
           "artifactSourceId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/artifactSources/binariesArtifactSource",
           "targetServiceTopologyId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/serviceTopologies/myTopology",
           "stepGroups": [
            {
             "name": "FirstRegion",
             "preDeploymentSteps": [
              {
               "stepId": "Microsoft.DeploymentManager/steps/preDeployStep1"
              },
              {
               "stepId": "Microsoft.DeploymentManager/steps/preDeployStep2"
              }
             ],
             "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit1'",
             "postDeploymentSteps": [
              {
               "stepId": "Microsoft.DeploymentManager/steps/postDeployStep1"
              }
             ]
            }
           ]
          }
         },
         {
          "name": "ProdRollout",
          "type": "Microsoft.DeploymentManager/rollouts",
          "location": "centralus",
          "tags": {},
          "identity": {
           "type": "userAssigned",
           "identityIds": [
            "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userassignedidentities/myuseridentity"
           ]
          },
          "properties": {
           "status": "Running",
           "operationInfo": {
            "startTime": "2019-05-02T03:33:56.386Z",
            "retryAttempt": 0
           },
           "totalRetryAttempts": 0,
           "buildVersion": "1.0.0.1",
           "artifactSourceId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/artifactSources/binariesArtifactSource",
           "targetServiceTopologyId": "/subscriptions/caac1590-e859-444f-a9e0-62091c0f5929/resourceGroups/myResourceGroup/Microsoft.DeploymentManager/serviceTopologies/myTopology",
           "stepGroups": [
            {
             "name": "ProdRegion",
             "preDeploymentSteps": [
              {
               "stepId": "Microsoft.DeploymentManager/steps/preDeployStep"
              },
              {
               "stepId": "Microsoft.DeploymentManager/steps/preDeployStep2"
              }
             ],
             "deploymentTargetId": "Microsoft.DeploymentManager/serviceTopologies/myTopology/services/myService/serviceUnits/myServiceUnit2'",
             "postDeploymentSteps": [
              {
               "stepId": "Microsoft.DeploymentManager/steps/postDeployStep3"
              }
             ],
             "dependsOnStepGroups": [
              "FirstRegion"
             ]
            }
           ]
          }
         }
        ]
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/RolloutListResult"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/artifactSources/{artifactSourceName}": {
   "put": {
    "tags": [
     "ArtifactSources"
    ],
    "operationId": "ArtifactSources_CreateOrUpdate",
    "summary": "Creates or updates an artifact source.",
    "description": "Synchronously creates a new artifact source or updates an existing artifact source.",
    "x-ms-examples": {
     "Create artifact source": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "artifactSourceName": "myArtifactSource",
       "api-version": "2019-11-01-preview",
       "artifactSourceInfo": {
        "location": "centralus",
        "tags": {},
        "properties": {
         "sourceType": "AzureStorage",
         "authentication": {
          "type": "Sas",
          "properties": {
           "sasUri": "https://mystorageaccount.blob.core.windows.net/myartifactsource?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D"
          }
         }
        }
       }
      },
      "responses": {
       "201": {
        "body": {
         "name": "myArtifactSource",
         "type": "Microsoft.DeploymentManager/artifactSources",
         "location": "centralus",
         "tags": {},
         "properties": {
          "sourceType": "AzureStorage",
          "authentication": {
           "type": "Sas",
           "properties": {
            "sasUri": "https://mystorageaccount.blob.core.windows.net/myartifactsource?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D"
           }
          }
         }
        }
       }
      }
     },
     "Create artifact source with artifact root, an offset into the storage container": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "artifactSourceName": "myArtifactSource",
       "api-version": "2019-11-01-preview",
       "artifactSourceInfo": {
        "location": "centralus",
        "tags": {},
        "properties": {
         "sourceType": "AzureStorage",
         "artifactRoot": "1.0.0.0",
         "authentication": {
          "type": "Sas",
          "properties": {
           "sasUri": "https://mystorageaccount.blob.core.windows.net/myartifactsource?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D"
          }
         }
        }
       }
      },
      "responses": {
       "201": {
        "body": {
         "name": "myArtifactSource",
         "type": "Microsoft.DeploymentManager/artifactSources",
         "location": "centralus",
         "tags": {},
         "properties": {
          "sourceType": "AzureStorage",
          "authentication": {
           "type": "Sas",
           "properties": {
            "sasUri": "https://mystorageaccount.blob.core.windows.net/myartifactsource?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D"
           }
          }
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/artifactSourceName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     },
     {
      "in": "body",
      "name": "artifactSourceInfo",
      "description": "Source object that defines the resource.",
      "schema": {
       "$ref": "#/definitions/ArtifactSource"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "schema": {
       "$ref": "#/definitions/ArtifactSource"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "get": {
    "tags": [
     "ArtifactSources"
    ],
    "operationId": "ArtifactSources_Get",
    "summary": "Gets an artifact source.",
    "x-ms-examples": {
     "Get artifact source": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "artifactSourceName": "myArtifactSource",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": {
         "name": "myArtifactSource",
         "type": "Microsoft.DeploymentManager/artifactSources",
         "location": "centralus",
         "tags": {},
         "properties": {
          "sourceType": "AzureStorage",
          "authentication": {
           "type": "Sas",
           "properties": {
            "sasUri": "https://mystorageaccount.blob.core.windows.net/myartifactsource?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D"
           }
          }
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/artifactSourceName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ArtifactSource"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   },
   "delete": {
    "tags": [
     "ArtifactSources"
    ],
    "operationId": "ArtifactSources_Delete",
    "summary": "Deletes an artifact source.",
    "x-ms-examples": {
     "Delete artifact source": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "artifactSourceName": "myArtifactSource",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {},
       "204": {}
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/artifactSourceName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "The artifact source was successfully deleted."
     },
     "204": {
      "description": "The artifact source was not found and the operation is considered success."
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/artifactSources": {
   "parameters": [
    {
     "$ref": "#/parameters/subscriptionId"
    },
    {
     "$ref": "#/parameters/resourceGroupName"
    },
    {
     "$ref": "#/parameters/ApiVersionParameter"
    }
   ],
   "get": {
    "tags": [
     "ArtifactSources"
    ],
    "operationId": "ArtifactSources_List",
    "summary": "Lists the artifact sources in a resource group.",
    "x-ms-examples": {
     "List steps": {
      "parameters": {
       "subscriptionId": "caac1590-e859-444f-a9e0-62091c0f5929",
       "resourceGroupName": "myResourceGroup",
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": [
         {
          "name": "TemplatesArtifactSource",
          "type": "Microsoft.DeploymentManager/artifactSources",
          "location": "centralus",
          "tags": {},
          "properties": {
           "sourceType": "AzureStorage",
           "authentication": {
            "type": "Sas",
            "properties": {
             "sasUri": "https://mystorageaccount.blob.core.windows.net/templates?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D"
            }
           }
          }
         },
         {
          "name": "BinariesArtifactSource",
          "type": "Microsoft.DeploymentManager/artifactSources",
          "location": "centralus",
          "tags": {},
          "properties": {
           "sourceType": "AzureStorage",
           "artifactRoot": "builds/1.0.0.1",
           "authentication": {
            "type": "Sas",
            "properties": {
             "sasUri": "https://mystorageaccount.blob.core.windows.net/binaries?st=2018-07-07T14%3A10%3A00Z&se=2019-12-31T15%3A10%3A00Z&sp=rl&sv=2017-04-17&sr=c&sig=Yh2SoJ1NhhLRwCLln7de%2Fkabcdefghijklmno5sWEIk%3D"
            }
           }
          }
         }
        ]
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/subscriptionId"
     },
     {
      "$ref": "#/parameters/resourceGroupName"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ArtifactSourceListResult"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  },
  "/providers/Microsoft.DeploymentManager/operations": {
   "get": {
    "tags": [
     "Operations"
    ],
    "operationId": "Operations_List",
    "summary": "Lists the supported operations.",
    "x-ms-examples": {
     "Get operations": {
      "parameters": {
       "api-version": "2019-11-01-preview"
      },
      "responses": {
       "200": {
        "body": {
         "value": [
          {
           "name": "Microsoft.DeploymentManager/serviceTopologies/read",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "ServiceTopology",
            "operation": "View service topology",
            "description": "View the properties of a service topology"
           }
          },
          {
           "name": "Microsoft.DeploymentManager/serviceTopologies/write",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "ServiceTopology",
            "operation": "Update the service topology",
            "description": "Create a new topology or update the properties of an existing topology"
           }
          },
          {
           "name": "Microsoft.DeploymentManager/serviceTopologies/delete",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "ServiceTopology",
            "operation": "Delete service topology",
            "description": "Deletes an existing topology."
           }
          },
          {
           "name": "Microsoft.DeploymentManager/serviceTopologies/services/read",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "Service",
            "operation": "View service in a topology",
            "description": "View the properties of a service in a service topology"
           }
          },
          {
           "name": "Microsoft.DeploymentManager/serviceTopologies/services/write",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "Service",
            "operation": "Update the service in a topology",
            "description": "Create a new service or update the properties of an existing service"
           }
          },
          {
           "name": "Microsoft.DeploymentManager/serviceTopologies/services/delete",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "Service",
            "operation": "Delete service",
            "description": "Deletes an existing service in a service topology."
           }
          },
          {
           "name": "Microsoft.DeploymentManager/serviceTopologies/services/serviceUnits/read",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "ServiceUnit",
            "operation": "View service unit",
            "description": "View the properties of a service unit"
           }
          },
          {
           "name": "Microsoft.DeploymentManager/serviceTopologies/services/serviceUnits/write",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "ServiceUnit",
            "operation": "Update the service unit",
            "description": "Create a new service unit or update the properties of an existing service unit"
           }
          },
          {
           "name": "Microsoft.DeploymentManager/serviceTopologies/services/serviceUnits/delete",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "ServiceUnit",
            "operation": "Delete service unit",
            "description": "Deletes an existing service unit."
           }
          },
          {
           "name": "Microsoft.DeploymentManager/artifactSources/read",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "ArtifactSource",
            "operation": "View artifact source",
            "description": "View the properties of an artifact source."
           }
          },
          {
           "name": "Microsoft.DeploymentManager/artifactSources/write",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "ArtifactSource",
            "operation": "Update the artifact source",
            "description": "Create a new artifact source or updates the properties of an existing artifact source."
           }
          },
          {
           "name": "Microsoft.DeploymentManager/artifactSources/delete",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "ArtifactSource",
            "operation": "Delete artifact source",
            "description": "Deletes an existing artifact source."
           }
          },
          {
           "name": "Microsoft.DeploymentManager/rollouts/read",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "Rollout",
            "operation": "View rollout",
            "description": "View the properties of rollout."
           }
          },
          {
           "name": "Microsoft.DeploymentManager/rollouts/write",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "Rollout",
            "operation": "Create or update a rollout.",
            "description": "Create a new rollout or update an existing rollout."
           }
          },
          {
           "name": "Microsoft.DeploymentManager/rollouts/restart",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "Rollout",
            "operation": "Restart a rollout",
            "description": "Restarts a failed rollout."
           }
          },
          {
           "name": "Microsoft.DeploymentManager/rollouts/cancel",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "Rollout",
            "operation": "Cancel a rollout",
            "description": "Cancel a rollout in progress."
           }
          },
          {
           "name": "Microsoft.DeploymentManager/rollouts/delete",
           "display": {
            "provider": "Azure Deployment Manager",
            "resource": "Rollout",
            "operation": "Delete rollout",
            "description": "Deletes an existing rollout."
           }
          }
         ]
        }
       }
      }
     }
    },
    "parameters": [
     {
      "$ref": "#/parameters/ApiVersionParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "The operations are successfully returned. The response code does not determine if the request which this operation corresponds to is successful. Check the response content for the status and any error information on failures.",
      "schema": {
       "$ref": "#/definitions/OperationsList"
      }
     },
     "default": {
      "description": "All non-success conditions are handled using the standard error contract.",
      "schema": {
       "$ref": "#/definitions/CloudError"
      }
     }
    }
   }
  }
 },
 "definitions": {
  "Identity": {
   "description": "Identity for the resource.",
   "type": "object",
   "properties": {
    "type": {
     "type": "string",
     "description": "The identity type.",
     "example": "userAssigned"
    },
    "identityIds": {
     "type": "array",
     "items": {
      "type": "string",
      "example": "/subscriptions/mySubId/resourcegroups/myRG/providers/Microsoft.ManagedIdentity/userassignedidentities/myIdentity"
     },
     "description": "The list of identities."
    }
   },
   "required": [
    "type",
    "identityIds"
   ]
  },
  "RolloutRequest": {
   "description": "Defines the PUT rollout request body.",
   "allOf": [
    {
     "$ref": "#/definitions/TrackedResource"
    }
   ],
   "properties": {
    "identity": {
     "description": "Identity for the resource.",
     "$ref": "#/definitions/Identity"
    },
    "properties": {
     "description": "Defines the properties that make up a rollout request.",
     "x-ms-client-flatten": true,
     "$ref": "#/definitions/RolloutRequestProperties"
    }
   },
   "required": [
    "identity",
    "properties"
   ]
  },
  "RolloutRequestProperties": {
   "description": "The properties for defining a rollout.",
   "properties": {
    "buildVersion": {
     "type": "string",
     "description": "The version of the build being deployed.",
     "example": "1.0.0.1"
    },
    "artifactSourceId": {
     "type": "string",
     "description": "The reference to the artifact source resource Id where the payload is located.",
     "example": "Microsoft.DeploymentManager/artifactSources/payloadStore1"
    },
    "targetServiceTopologyId": {
     "type": "string",
     "description": "The resource Id of the service topology from which service units are being referenced in step groups to be deployed.",
     "example": "Microsoft.DeploymentManager/serviceTopologies/myServiceTopology"
    },
    "stepGroups": {
     "description": "The list of step groups that define the orchestration.",
     "type": "array",
     "items": {
      "$ref": "#/definitions/StepGroup"
     }
    }
   },
   "required": [
    "stepGroups",
    "targetServiceTopologyId",
    "buildVersion"
   ]
  },
  "StepGroup": {
   "description": "The properties that define a Step group in a rollout.",
   "properties": {
    "name": {
     "description": "The name of the step group.",
     "type": "string"
    },
    "dependsOnStepGroups": {
     "description": "The list of step group names on which this step group depends on.",
     "type": "array",
     "items": {
      "type": "string"
     },
     "example": [
      "stepGroup1",
      "stepGroup2"
     ]
    },
    "preDeploymentSteps": {
     "description": "The list of steps to be run before deploying the target.",
     "type": "array",
     "items": {
      "$ref": "#/definitions/PrePostStep"
     }
    },
    "deploymentTargetId": {
     "description": "The resource Id of service unit to be deployed. The service unit should be from the service topology referenced in targetServiceTopologyId",
     "type": "string",
     "example": "Microsoft.DeploymentManager/serviceTopologies/myServiceTopology/services/myService/serviceUnits/database"
    },
    "postDeploymentSteps": {
     "description": "The list of steps to be run after deploying the target.",
     "type": "array",
     "items": {
      "$ref": "#/definitions/PrePostStep"
     }
    }
   },
   "required": [
    "deploymentTargetId",
    "name"
   ]
  },
  "PrePostStep": {
   "description": "The properties that define a step.",
   "properties": {
    "stepId": {
     "type": "string",
     "description": "The resource Id of the step to be run.",
     "example": "Microsoft.DeploymentManager/steps/healthCheckStep1"
    }
   },
   "required": [
    "stepId"
   ]
  },
  "ArtifactSource": {
   "description": "The resource that defines the source location where the artifacts are located.",
   "allOf": [
    {
     "$ref": "#/definitions/TrackedResource"
    }
   ],
   "properties": {
    "properties": {
     "description": "The properties that define the artifact source.",
     "x-ms-client-flatten": true,
     "allOf": [
      {
       "$ref": "#/definitions/ArtifactSourceProperties"
      }
     ]
    }
   }
  },
  "ArtifactSourceProperties": {
   "description": "The properties that define the source location where the artifacts are located.",
   "properties": {
    "sourceType": {
     "type": "string",
     "description": "The type of artifact source used.",
     "example": "AzureStorage"
    },
    "artifactRoot": {
     "type": "string",
     "description": "The path from the location that the 'authentication' property [say, a SAS URI to the blob container] refers to, to the location of the artifacts. This can be used to differentiate different versions of the artifacts. Or, different types of artifacts like binaries or templates. The location referenced by the authentication property concatenated with this optional artifactRoot path forms the artifact source location where the artifacts are expected to be found.",
     "example": "binaries/2018.09.24"
    },
    "authentication": {
     "description": "The authentication method to use to access the artifact source.",
     "$ref": "#/definitions/Authentication"
    }
   },
   "required": [
    "sourceType",
    "authentication"
   ]
  },
  "Authentication": {
   "description": "Defines the authentication method and properties to access the artifacts.",
   "type": "object",
   "discriminator": "type",
   "properties": {
    "type": {
     "type": "string",
     "description": "The authentication type"
    }
   },
   "required": [
    "type"
   ]
  },
  "SasAuthentication": {
   "x-ms-discriminator-value": "Sas",
   "type": "object",
   "description": "Defines the properties to access the artifacts using an Azure Storage SAS URI.",
   "allOf": [
    {
     "$ref": "#/definitions/Authentication"
    }
   ],
   "properties": {
    "properties": {
     "description": "The SAS properties",
     "x-ms-client-flatten": true,
     "$ref": "#/definitions/SasProperties"
    }
   }
  },
  "SasProperties": {
   "description": "The properties that define SAS authentication.",
   "properties": {
    "sasUri": {
     "type": "string",
     "description": "The SAS URI to the Azure Storage blob container. Any offset from the root of the container to where the artifacts are located can be defined in the artifactRoot."
    }
   },
   "required": [
    "sasUri"
   ]
  },
  "Rollout": {
   "description": "Defines the rollout.",
   "allOf": [
    {
     "$ref": "#/definitions/TrackedResource"
    }
   ],
   "properties": {
    "identity": {
     "description": "Identity for the resource.",
     "$ref": "#/definitions/Identity"
    },
    "properties": {
     "description": "The properties that define a rollout.",
     "x-ms-client-flatten": true,
     "allOf": [
      {
       "$ref": "#/definitions/RolloutRequestProperties"
      },
      {
       "$ref": "#/definitions/RolloutProperties"
      }
     ]
    }
   }
  },
  "RolloutProperties": {
   "description": "Defines the properties of a rollout.",
   "properties": {
    "status": {
     "type": "string",
     "readOnly": true,
     "description": "The current status of the rollout."
    },
    "totalRetryAttempts": {
     "type": "integer",
     "format": "int32",
     "readOnly": true,
     "description": "The cardinal count of total number of retries performed on the rollout at a given time."
    },
    "operationInfo": {
     "readOnly": true,
     "$ref": "#/definitions/RolloutOperationInfo",
     "description": "Operational information of the rollout."
    },
    "services": {
     "type": "array",
     "readOnly": true,
     "items": {
      "$ref": "#/definitions/Service"
     },
     "description": "The detailed information on the services being deployed."
    }
   }
  },
  "RolloutOperationInfo": {
   "description": "Detailed runtime information of the rollout.",
   "properties": {
    "retryAttempt": {
     "type": "integer",
     "format": "int32",
     "readOnly": true,
     "description": "The ordinal count of the number of retry attempts on a rollout. 0 if no retries of the rollout have been performed. If the rollout is updated with a PUT, this count is reset to 0."
    },
    "skipSucceededOnRetry": {
     "type": "boolean",
     "readOnly": true,
     "description": "True, if all steps that succeeded on the previous run/attempt were chosen to be skipped in this retry attempt. False, otherwise."
    },
    "startTime": {
     "type": "string",
     "format": "date-time",
     "readOnly": true,
     "description": "The start time of the rollout in UTC."
    },
    "endTime": {
     "type": "string",
     "format": "date-time",
     "readOnly": true,
     "description": "The start time of the rollout in UTC. This property will not be set if the rollout has not completed yet."
    },
    "error": {
     "description": "The detailed error information for any failure.",
     "readOnly": true,
     "$ref": "#/definitions/CloudErrorBody"
    }
   }
  },
  "ServiceTopologyResource": {
   "description": "The resource representation of a service topology.",
   "allOf": [
    {
     "$ref": "#/definitions/TrackedResource"
    }
   ],
   "properties": {
    "properties": {
     "description": "The properties that define the service topology.",
     "x-ms-client-flatten": true,
     "allOf": [
      {
       "$ref": "#/definitions/ServiceTopologyProperties"
      }
     ]
    }
   },
   "required": [
    "properties"
   ]
  },
  "ServiceTopologyProperties": {
   "description": "The properties of a service topology.",
   "properties": {
    "artifactSourceId": {
     "type": "string",
     "description": "The resource Id of the artifact source that contains the artifacts that can be referenced in the service units."
    }
   }
  },
  "ServiceResource": {
   "description": "The resource representation of a service in a service topology.",
   "allOf": [
    {
     "$ref": "#/definitions/TrackedResource"
    }
   ],
   "properties": {
    "properties": {
     "description": "The properties that define a service in a service topology.",
     "x-ms-client-flatten": true,
     "allOf": [
      {
       "$ref": "#/definitions/ServiceProperties"
      }
     ]
    }
   },
   "required": [
    "properties"
   ]
  },
  "Service": {
   "description": "Defines a service.",
   "allOf": [
    {
     "$ref": "#/definitions/ServiceProperties"
    }
   ],
   "properties": {
    "name": {
     "type": "string",
     "description": "Name of the service."
    },
    "serviceUnits": {
     "description": "The detailed information about the units that make up the service.",
     "type": "array",
     "items": {
      "$ref": "#/definitions/ServiceUnit"
     }
    }
   }
  },
  "ServiceProperties": {
   "description": "The properties of a service.",
   "properties": {
    "targetLocation": {
     "type": "string",
     "description": "The Azure location to which the resources in the service belong to or should be deployed to."
    },
    "targetSubscriptionId": {
     "type": "string",
     "description": "The subscription to which the resources in the service belong to or should be deployed to."
    }
   },
   "required": [
    "targetLocation",
    "targetSubscriptionId"
   ]
  },
  "ServiceUnitResource": {
   "allOf": [
    {
     "$ref": "#/definitions/TrackedResource"
    }
   ],
   "description": "Represents the response of a service unit resource.",
   "properties": {
    "properties": {
     "description": "The properties that define the service unit.",
     "x-ms-client-flatten": true,
     "allOf": [
      {
       "$ref": "#/definitions/ServiceUnitProperties"
      }
     ]
    }
   },
   "required": [
    "properties"
   ]
  },
  "ServiceUnit": {
   "description": "Defines a service unit.",
   "allOf": [
    {
     "$ref": "#/definitions/ServiceUnitProperties"
    }
   ],
   "properties": {
    "name": {
     "type": "string",
     "description": "Name of the service unit."
    },
    "steps": {
     "type": "array",
     "items": {
      "$ref": "#/definitions/RolloutStep"
     },
     "description": "Detailed step information, if present."
    }
   }
  },
  "ServiceUnitProperties": {
   "description": "Defines the properties of a service unit.",
   "properties": {
    "targetResourceGroup": {
     "type": "string",
     "description": "The Azure Resource Group to which the resources in the service unit belong to or should be deployed to."
    },
    "deploymentMode": {
     "type": "string",
     "enum": [
      "Incremental",
      "Complete"
     ],
     "x-ms-enum": {
      "name": "DeploymentMode",
      "modelAsString": false
     },
     "description": "Describes the type of ARM deployment to be performed on the resource."
    },
    "artifacts": {
     "type": "object",
     "description": "The artifacts for the service unit.",
     "$ref": "#/definitions/ServiceUnitArtifacts"
    }
   },
   "required": [
    "targetResourceGroup",
    "deploymentMode"
   ]
  },
  "ServiceUnitArtifacts": {
   "description": "Defines the artifacts of a service unit.",
   "properties": {
    "templateUri": {
     "type": "string",
     "description": "The full URI of the ARM template file with the SAS token.",
     "example": "https://teststore.blob.core.windows.net/payloadcontainer/template.json?sasUri"
    },
    "parametersUri": {
     "type": "string",
     "description": "The full URI of the ARM parameters file with the SAS token.",
     "example": "https://teststore.blob.core.windows.net/payloadcontainer/parameters.json?sasUri"
    },
    "templateArtifactSourceRelativePath": {
     "type": "string",
     "description": "The path to the ARM template file relative to the artifact source.",
     "example": "/templates/resource1.template.json"
    },
    "parametersArtifactSourceRelativePath": {
     "type": "string",
     "description": "The path to the ARM parameters file relative to the artifact source.",
     "example": "/parameters/resource1.parameters.json"
    }
   }
  },
  "RolloutStep": {
   "description": "Defines a specific step on a target service unit.",
   "properties": {
    "name": {
     "type": "string",
     "description": "Name of the step."
    },
    "status": {
     "type": "string",
     "readOnly": true,
     "description": "Current state of the step."
    },
    "stepGroup": {
     "type": "string",
     "description": "The step group the current step is part of."
    },
    "operationInfo": {
     "readOnly": true,
     "$ref": "#/definitions/StepOperationInfo",
     "description": "Detailed information of specific action execution."
    },
    "resourceOperations": {
     "type": "array",
     "readOnly": true,
     "items": {
      "$ref": "#/definitions/ResourceOperation"
     },
     "description": "Set of resource operations that were performed, if any, on an Azure resource."
    },
    "messages": {
     "type": "array",
     "readOnly": true,
     "items": {
      "$ref": "#/definitions/Message"
     },
     "description": "Supplementary informative messages during rollout."
    }
   },
   "required": [
    "name"
   ]
  },
  "StepOperationInfo": {
   "description": "Detailed information of a specific step run.",
   "properties": {
    "deploymentName": {
     "type": "string",
     "readOnly": true,
     "description": "The name of the ARM deployment initiated as part of the step."
    },
    "correlationId": {
     "type": "string",
     "readOnly": true,
     "description": "Unique identifier to track the request for ARM-based resources."
    },
    "startTime": {
     "type": "string",
     "format": "date-time",
     "readOnly": true,
     "description": "Start time of the action in UTC."
    },
    "endTime": {
     "type": "string",
     "format": "date-time",
     "readOnly": true,
     "description": "End time of the action in UTC."
    },
    "lastUpdatedTime": {
     "type": "string",
     "format": "date-time",
     "readOnly": true,
     "description": "Last time in UTC this operation was updated."
    },
    "error": {
     "description": "The errors, if any, for the action.",
     "$ref": "#/definitions/CloudErrorBody"
    }
   }
  },
  "ResourceOperation": {
   "description": "Individual resource operation information.",
   "properties": {
    "resourceName": {
     "type": "string",
     "description": "Name of the resource as specified in the artifacts. For ARM resources, this is the name of the resource specified in the template."
    },
    "operationId": {
     "type": "string",
     "readOnly": true,
     "description": "Unique identifier of the operation. For ARM resources, this is the operationId obtained from ARM service."
    },
    "resourceType": {
     "type": "string",
     "description": "Type of the resource as specified in the artifacts. For ARM resources, this is the type of the resource specified in the template."
    },
    "provisioningState": {
     "type": "string",
     "readOnly": true,
[...]
