{
  "swagger": "2.0",
  "info": {
    "version": "2016-04-01",
    "title": "Machine Learning Workspaces Management Client",
    "description": "These APIs allow end users to operate on Azure Machine Learning Workspace resources. They support CRUD operations for Azure Machine Learning Workspaces."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.MachineLearning/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "description": "Lists all of the available Azure Machine Learning Studio REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "description": "Gets the properties of the specified machine learning workspace.",
        "operationId": "Workspaces_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          }
        ],
        "x-ms-examples": {
          "WorkspaceGet": {
            "parameters": {
              "api-version": "2016-04-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "myResourceGroup",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace",
                  "name": "testworkspace",
                  "type": "Microsoft.MachineLearning/workspaces",
                  "location": "East US",
                  "properties": {
                    "userStorageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage",
                    "ownerEmail": "abc@microsoft.com",
                    "workspaceType": "PaidStandard",
                    "workspaceState": "Enabled",
                    "workspaceId": "00000000-1111-2222-3333-444444444444",
                    "studioEndpoint": "https://studioapi.azureml.net",
                    "creationTime": "2017-03-01T23:14:37.0707808Z",
                    "keyVaultIdentifierId": "kvid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "put": {
        "tags": [
          "Workspaces"
        ],
        "description": "Creates or updates a workspace with the specified parameters.",
        "operationId": "Workspaces_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters for creating or updating a machine learning workspace.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          }
        ],
        "x-ms-examples": {
          "WorkspaceCreate": {
            "parameters": {
              "api-version": "2016-04-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "myResourceGroup",
              "workspaceName": "testworkspace",
              "parameters": {
                "tags": {
                  "tagKey1": "TagValue1"
                },
                "location": "West Europe",
                "properties": {
                  "userStorageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage",
                  "ownerEmail": "abc@microsoft.com"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace",
                  "name": "testworkspace",
                  "type": "Microsoft.MachineLearning/workspaces",
                  "location": "East US",
                  "properties": {
                    "userStorageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage",
                    "ownerEmail": "abc@microsoft.com",
                    "workspaceType": "PaidStandard",
                    "workspaceState": "Enabled",
                    "workspaceId": "00000000-1111-2222-3333-444444444444",
                    "studioEndpoint": "https://studioapi.azureml.net",
                    "creationTime": "2017-03-01T23:14:37.0707808Z",
                    "keyVaultIdentifierId": "kvid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the resource already exists and was updated.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "description": "Deletes a machine learning workspace.",
        "operationId": "Workspaces_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          }
        ],
        "x-ms-examples": {
          "WorkspaceDelete": {
            "parameters": {
              "api-version": "2016-04-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "myResourceGroup",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "204": {
            "description": "The machine learning workspace does not exist in the subscription."
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "patch": {
        "tags": [
          "Workspaces"
        ],
        "description": "Updates a machine learning workspace with the specified parameters.",
        "operationId": "Workspaces_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters for updating a machine learning workspace.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkspaceUpdateParameters"
            }
          }
        ],
        "x-ms-examples": {
          "WorkspaceUpdate": {
            "parameters": {
              "api-version": "2016-04-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "myResourceGroup",
              "workspaceName": "testworkspace",
              "parameters": {
                "tags": {
                  "tagKey1": "TagValue1"
                },
                "properties": {
                  "keyVaultIdentifierId": "kvidnew"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace",
                  "name": "testworkspace",
                  "type": "Microsoft.MachineLearning/workspaces",
                  "location": "East US",
                  "properties": {
                    "userStorageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage",
                    "ownerEmail": "abc@microsoft.com",
                    "workspaceType": "PaidStandard",
                    "workspaceState": "Enabled",
                    "workspaceId": "00000000-1111-2222-3333-444444444444",
                    "studioEndpoint": "https://studioapi.azureml.net",
                    "creationTime": "2017-03-01T23:14:37.0707808Z",
                    "keyVaultIdentifierId": "kvidnew"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}/resyncStorageKeys": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "description": "Resync storage keys associated with this workspace.",
        "operationId": "Workspaces_ResyncStorageKeys",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          }
        ],
        "x-ms-examples": {
          "ResyncStorageKeys": {
            "parameters": {
              "api-version": "2016-04-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "myResourceGroup",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}/listWorkspaceKeys": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "description": "List the authorization keys associated with this workspace.",
        "operationId": "Workspaces_ListWorkspaceKeys",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          }
        ],
        "x-ms-examples": {
          "ListWorkspaceKeys": {
            "parameters": {
              "api-version": "2016-04-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "myResourceGroup",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "primaryToken": "cZdmqKBYLEPcPo7dsfdfefeSlKpnxybJ86KSQGLarmLik2MYMxHijwsDIZ+d1mGtYJz3mlI5AEnxu8QqHcUjSA==",
                  "secondaryToken": "NPtbk8ksmLvsasasonFeTjw/k7QLz/SEdKN8+SyzKRcPzOVTQcR6C0O1fwmlELnCsYLjs+13yzdJ+4+Lxo3LtZ2g=="
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/WorkspaceKeysResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "description": "Lists all the available machine learning workspaces under the specified resource group.",
        "operationId": "Workspaces_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          }
        ],
        "x-ms-examples": {
          "WorkspaceListResourceGroup": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "myResourceGroup",
              "api-version": "2016-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace",
                      "name": "testworkspace",
                      "type": "Microsoft.MachineLearning/workspaces",
                      "location": "East US",
                      "properties": {
                        "userStorageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1",
                        "ownerEmail": "abc@microsoft.com",
                        "workspaceType": "PaidStandard",
                        "workspaceState": "Enabled",
                        "workspaceId": "00000000-1111-2222-3333-444444444444",
                        "studioEndpoint": "https://studioapi.azureml.net",
                        "creationTime": "2017-03-01T23:14:37.0707808Z",
                        "keyVaultIdentifierId": "kvid"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace1",
                      "name": "testworkspace1",
                      "type": "Microsoft.MachineLearning/workspaces",
                      "location": "East US",
                      "properties": {
                        "userStorageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1",
                        "ownerEmail": "abc@microsoft.com",
                        "workspaceType": "PaidStandard",
                        "workspaceState": "Enabled",
                        "workspaceId": "00000000-1111-2222-3333-444444444444",
                        "studioEndpoint": "https://studioapi.azureml.net",
                        "creationTime": "2017-03-01T23:16:37.0707808Z",
                        "keyVaultIdentifierId": "kvid"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/WorkspaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "description": "Lists all the available machine learning workspaces under the specified subscription.",
        "operationId": "Workspaces_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "x-ms-examples": {
          "WorkspaceGetBySubscription": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "api-version": "2016-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace",
                      "name": "testworkspace",
                      "type": "Microsoft.MachineLearning/workspaces",
                      "location": "East US",
                      "properties": {
                        "userStorageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1",
                        "ownerEmail": "abc@microsoft.com",
                        "workspaceType": "PaidStandard",
                        "workspaceState": "Enabled",
                        "workspaceId": "00000000-1111-2222-3333-444444444444",
                        "studioEndpoint": "https://studioapi.azureml.net",
                        "creationTime": "2017-03-01T23:14:37.0707808Z",
                        "keyVaultIdentifierId": "kvid"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace1",
                      "name": "testworkspace1",
                      "type": "Microsoft.MachineLearning/workspaces",
                      "location": "East US",
                      "properties": {
                        "userStorageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1",
                        "ownerEmail": "abc@microsoft.com",
                        "workspaceType": "PaidStandard",
                        "workspaceState": "Enabled",
                        "workspaceId": "00000000-1111-2222-3333-444444444444",
                        "studioEndpoint": "https://studioapi.azureml.net",
                        "creationTime": "2017-03-01T23:16:37.0707808Z",
                        "keyVaultIdentifierId": "kvid"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/WorkspaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "The error response send when an operation fails.",
      "properties": {
        "code": {
          "type": "string",
          "description": "error code"
        },
        "message": {
          "type": "string",
          "description": "error message"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Workspace": {
      "type": "object",
      "description": "An object that represents a machine learning workspace.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkspaceProperties",
          "description": "The properties of the machine learning workspace.",
          "x-ms-client-flatten": true
        }
      }
    },
    "WorkspaceProperties": {
      "type": "object",
      "description": "The properties of a machine learning workspace.",
      "required": [
        "userStorageAccountId",
        "ownerEmail"
      ],
      "properties": {
        "userStorageAccountId": {
          "description": "The fully qualified arm id of the storage account associated with this workspace.",
          "type": "string"
        },
        "ownerEmail": {
          "description": "The email id of the owner for this workspace.",
          "type": "string"
        },
        "workspaceType": {
          "type": "string",
          "enum": [
            "Production",
            "Free",
            "Anonymous",
            "PaidStandard",
            "PaidPremium"
          ],
          "x-ms-enum": {
            "name": "WorkspaceType",
            "modelAsString": false
          },
          "readOnly": true,
          "description": "The type of this workspace."
        },
        "workspaceState": {
          "type": "string",
          "enum": [
            "Deleted",
            "Enabled",
            "Disabled",
            "Migrated",
            "Updated",
            "Registered",
            "Unregistered"
          ],
          "x-ms-enum": {
            "name": "WorkspaceState",
            "modelAsString": false
          },
          "readOnly": true,
          "description": "The current state of workspace resource."
        },
        "workspaceId": {
          "description": "The immutable id associated with this workspace.",
          "type": "string",
          "readOnly": true
        },
        "creationTime": {
          "description": "The creation time for this workspace resource.",
          "type": "string",
          "readOnly": true
        },
        "studioEndpoint": {
          "description": "The regional endpoint for the machine learning studio service which hosts this workspace.",
          "type": "string",
          "readOnly": true
        },
        "keyVaultIdentifierId": {
          "description": "The key vault identifier used for encrypted workspaces.",
          "type": "string"
        }
      }
    },
    "WorkspaceUpdateParameters": {
      "description": "The parameters for updating a machine learning workspace.",
      "properties": {
        "tags": {
          "description": "The resource tags for the machine learning workspace.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/WorkspacePropertiesUpdateParameters",
          "description": "The properties that the machine learning workspace will be updated with.",
          "x-ms-client-flatten": true
        }
      }
    },
    "WorkspacePropertiesUpdateParameters": {
      "description": "The parameters for updating the properties of a machine learning workspace.",
      "properties": {
        "workspaceState": {
          "type": "string",
          "enum": [
            "Deleted",
            "Enabled",
            "Disabled",
            "Migrated",
            "Updated",
            "Registered",
            "Unregistered"
          ],
          "x-ms-enum": {
            "name": "WorkspaceState",
            "modelAsString": false
          },
          "description": "The current state of workspace resource."
        },
        "keyVaultIdentifierId": {
          "description": "The key vault identifier used for encrypted workspaces.",
          "type": "string"
        }
      }
    },
    "WorkspaceKeysResponse": {
      "type": "object",
      "description": "Workspace authorization keys for a workspace.",
      "properties": {
        "primaryToken": {
          "type": "string",
          "description": "Primary authorization key for this workspace."
        },
        "secondaryToken": {
          "type": "string",
          "description": "Secondary authorization key for this workspace."
        }
      }
    },
    "WorkspaceListResult": {
      "description": "The result of a request to list machine learning workspace keys.",
      "properties": {
        "value": {
          "description": "The list of machine learning workspaces. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning workspaces.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workspace"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next list of machine learning workspaces.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "Azure Machine Learning Studio REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "Display name of operation",
          "properties": {
            "provider": {
              "description": "The resource provider name: Microsoft.MachineLearning",
              "type": "string"
            },
            "resource": {
              "description": "The resource on which the operation is performed.",
              "type": "string"
            },
            "operation": {
              "description": "The operation that users can perform.",
              "type": "string"
            },
            "description": {
              "description": "The description for the operation.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "An array of operations supported by the resource provider.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of AML Studio operations supported by the AML Studio resource provider."
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The location of the resource. This cannot be changed after the resource is created.",
          "type": "string"
        },
        "tags": {
          "description": "The tags of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Microsoft Azure subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The client API version.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group to which the machine learning workspace belongs.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "WorkspaceNameParameter": {
      "name": "workspaceName",
      "in": "path",
      "description": "The name of the machine learning workspace.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}