{
    "swagger": "2.0",
    "info": {
        "title": "LinterTests",
        "description": "Use this swagger to test the linter to detect response types with arrays as possible pageable operations",
        "version": "2016-10-10"
    },
    "host": "management.azure.com",
    "paths": {
        "/plants": {
            "get": {
                "description": "Get a list of plants.",
                "operationId": "Plants_List",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "schema": {
                            "$ref": "#/definitions/PlantsList"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "PlantsList": {
            "type": "object",
            "description": "Response to a Pageable operation. This one lists plants",
            "readOnly": true,
            "properties": {
                "value": {
                    "type": "array",
                    "description": "List of plants",
                    "items": {
                        "$ref": "#/definitions/Plant"
                    },
                    "readOnly": true
                },
                "nextLink": {
                    "type": "string",
                    "description": "Link to next page of results",
                    "readOnly": true
                }
            }
        },
        "Plant": {
            "type": "object",
            "description": "A plant",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "The plant's name"
                },
                "edible": {
                    "type": "boolean",
                    "description": "Is the plant edible?"
                }
            }
        }
    },
    "parameters": {}
}