{
 "swagger": "2.0",
 "info": {
  "version": "2017-02-01",
  "title": "REST API for Azure Redis Cache Service.",
  "description": "RedisManagementClientRedisManagementClient"
 },
 "host": "management.azure.com",
 "schemes": [
  "https"
 ],
 "basePath": "/",
 "paths": {
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}": {
   "delete": {
    "tags": [
     "Redis"
    ],
    "operationId": "Redis_Delete",
    "description": "Deletes a Redis cache.",
    "x-ms-long-running-operation": true,
    "parameters": [
     {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
     },
     {
      "name": "name",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Redis cache.",
      "minLength": 0
     },
     {
      "$ref": "#/parameters/SubscriptionIdParamterer"
     }
    ],
    "responses": {
     "200": {
      "description": "description."
     },
     "204": {
      "description": ""
     }
    },
    "produces": [
     "application/json"
    ],
    "consumes": [
     "application/json"
    ]
   }
  }
 },
 "definitions": {
  "Resource": {
   "description": "The Resource model definition.",
   "properties": {
    "id": {
     "readOnly": true,
     "type": "string",
     "description": "Resource Id"
    },
    "name": {
     "readOnly": true,
     "type": "string",
     "description": "Resource name"
    },
    "type": {
     "readOnly": true,
     "type": "string",
     "description": "Resource type"
    },
    "location": {
     "type": "string",
     "description": "Resource location"
    },
    "tags": {
     "type": "object",
     "additionalProperties": {
      "type": "string"
     },
     "description": "Resource tags"
    }
   },
   "required": [
    "location"
   ],
   "x-ms-azure-resource": true
  }
 },
 "parameters": {
  "SubscriptionIdParamterer": {
   "name": "subscriptionId",
   "in": "path",
   "description": "Subscription ID.",
   "required": true,
   "type": "string",
   "minLength": 1
  }
 }
}