{
    "swagger": "2.0",
    "info": {
        "title": "Microsoft Azure Redis Cache Management API",
        "description": "Some cool documentation.",
        "version": "2014-04-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "paths": {
       "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateEndpointConnections": {
        "get": {
            "tags": [
                "PrivateEndpointConnections"
            ],
            "operationId": "PrivateEndpointConnections_List",
            "description": "List all the private endpoint connections associated with the storage account.",
            "parameters": [
                {
                    "$ref": "#/parameters/ResourceGroupName"
                },
                {
                    "$ref": "#/parameters/StorageAccountName"
                },
                {
                    "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "#/parameters/SubscriptionIdParameter"
                }
            ],
            "responses": {
                "200": {
                    "description": "OK -- Successfully retrieved private endpoint connections.",
                    "schema": {
                        "$ref": "#/definitions/PrivateEndpointConnectionListResult"
                    }
                }
            },
            "x-ms-pageable": {
                "nextLinkName": null
            }
        }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}": {
        "get": {
            "tags": [
                "PrivateEndpointConnections"
            ],
            "operationId": "PrivateEndpointConnections_Get",
            "description": "Gets the specified private endpoint connection associated with the storage account.",
            "parameters": [
                {
                    "$ref": "#/parameters/ResourceGroupName"
                },
                {
                    "$ref": "#/parameters/StorageAccountName"
                },
                {
                    "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                    "$ref": "#/parameters/PrivateEndpointConnectionName"
                }
            ],
            "responses": {
                "200": {
                    "description": "OK -- Get the private endpoint connection properties successfully.",
                    "schema": {
                        "$ref": "#/definitions/PrivateEndpointConnection"
                    }
                },
                "default": {
                    "description": "Error response describing why the operation failed.",
                    "schema": {
                        "$ref": "#/definitions/ErrorResponse"
                    }
                }
            }
        },
        "put": {
            "tags": [
                "PrivateEndpointConnections"
            ],
            "operationId": "PrivateEndpointConnections_Put",
            "description": "Update the state of specified private endpoint connection associated with the storage account.",
            "parameters": [
                {
                    "$ref": "#/parameters/ResourceGroupName"
                },
                {
                    "$ref": "#/parameters/StorageAccountName"
                },
                {
                    "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                    "$ref": "#/parameters/PrivateEndpointConnectionName"
                },
                {
                    "name": "properties",
                    "in": "body",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PrivateEndpointConnection"
                    },
                    "description": "The private endpoint connection properties."
                }
            ],
            "responses": {
                "200": {
                    "description": "OK -- Update the private endpoint connection properties successfully.",
                    "schema": {
                        "$ref": "#/definitions/PrivateEndpointConnection"
                    }
                },
                "default": {
                    "description": "Error response describing why the operation failed.",
                    "schema": {
                        "$ref": "#/definitions/ErrorResponse"
                    }
                }
            }
        },
        "delete": {
            "tags": [
                "PrivateEndpointConnections"
            ],
            "operationId": "PrivateEndpointConnections_Delete",
            "description": "Deletes the specified private endpoint connection associated with the storage account.",
            "parameters": [
                {
                    "$ref": "#/parameters/ResourceGroupName"
                },
                {
                    "$ref": "#/parameters/StorageAccountName"
                },
                {
                    "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "#/parameters/SubscriptionIdParameter"
                },
                {
                    "$ref": "#/parameters/PrivateEndpointConnectionName"
                }
            ],
            "responses": {
                "200": {
                    "description": "OK -- Delete the private endpoint connection successfully."
                },
                "204": {
                    "description": "No Content -- The private endpoint connection does not exist."
                },
                "default": {
                    "description": "Error response describing why the operation failed.",
                    "schema": {
                        "$ref": "#/definitions/ErrorResponse"
                    }
                }
            }
        }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateLinkResources": {
        "get": {
            "tags": [
                "PrivateLinkResources"
            ],
            "operationId": "PrivateLinkResources_ListByStorageAccount",
            "description": "Gets the private link resources that need to be created for a storage account.",
            "parameters": [
                {
                    "$ref": "#/parameters/ResourceGroupName"
                },
                {
                    "$ref": "#/parameters/StorageAccountName"
                },
                {
                    "$ref": "#/parameters/ApiVersionParameter"
                },
                {
                    "$ref": "#/parameters/SubscriptionIdParameter"
                }
            ],
            "responses": {
                "200": {
                    "description": "Successfully retrieved private link resources.",
                    "schema": {
                        "$ref": "#/definitions/PrivateLinkResourceListResult"
                    }
                }
            }
        }
    }
    },
    "definitions": {
        "PrivateEndpoint": {
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The ARM identifier for Private Endpoint"
                }
            },
            "description": "The Private Endpoint resource."
        },
        "PrivateEndpointConnection": {
            "properties": {
                "properties": {
                    "$ref": "#/definitions/PrivateEndpointConnectionProperties",
                    "x-ms-client-flatten": true,
                    "description": "Resource properties."
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "The Private Endpoint Connection resource."
        },
        "PrivateEndpointConnectionProperties": {
            "properties": {
                "privateEndpoint": {
                    "$ref": "#/definitions/PrivateEndpoint",
                    "description": "The resource of private end point."
                },
                "privateLinkServiceConnectionState": {
                    "$ref": "#/definitions/PrivateLinkServiceConnectionState",
                    "description": "A collection of information about the state of the connection between service consumer and provider."
                }
            },
            "required": [
                "privateLinkServiceConnectionState"
            ],
            "description": "Properties of the PrivateEndpointConnectProperties."
        },
        "PrivateLinkServiceConnectionState": {
            "properties": {
                "status": {
                    "$ref": "#/definitions/PrivateEndpointServiceConnectionStatus",
                    "description": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
                },
                "description": {
                    "type": "string",
                    "description": "The reason for approval/rejection of the connection."
                },
                "actionRequired": {
                    "type": "string",
                    "description": "A message indicating if changes on the service provider require any updates on the consumer."
                }
            },
            "description": "A collection of information about the state of the connection between service consumer and provider."
        },
        "PrivateEndpointServiceConnectionStatus": {
            "type": "string",
            "description": "The private endpoint connection status.",
            "enum": [
                "Pending",
                "Approved",
                "Rejected"
            ],
            "x-ms-enum": {
                "name": "PrivateEndpointServiceConnectionStatus",
                "modelAsString": true
            }
        },
        "PrivateEndpointConnectionProvisioningState": {
            "type": "string",
            "readOnly": true,
            "description": "The current provisioning state.",
            "enum": [
                "Succeeded",
                "Creating",
                "Deleting",
                "Failed"
            ],
            "x-ms-enum": {
                "name": "PrivateEndpointConnectionProvisioningState",
                "modelAsString": true
            }
        },
        "PrivateLinkResource": {
            "properties": {
                "properties": {
                    "$ref": "#/definitions/PrivateLinkResourceProperties",
                    "description": "Resource properties.",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "A private link resource"
        },
        "PrivateLinkResourceProperties": {
            "properties": {
                "groupId": {
                    "description": "The private link resource group id.",
                    "type": "string",
                    "readOnly": true
                },
                "requiredMembers": {
                    "description": "The private link resource required member names.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "readOnly": true
                },
                "requiredZoneNames": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "The private link resource Private link DNS zone name."
                }
            },
            "description": "Properties of a private link resource."
        },
        "PrivateEndpointConnectionListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "description": "Array of private endpoint connections",
                    "items": {
                        "$ref": "#/definitions/PrivateEndpointConnection"
                    }
                }
            },
            "description": "List of private endpoint connection associated with the specified storage account"
        },
        "PrivateLinkResourceListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "description": "Array of private link resources",
                    "items": {
                        "$ref": "#/definitions/PrivateLinkResource"
                    }
                }
            },
            "description": "A list of private link resources"
        },
        "ProxyResource": {
            "title": "Proxy Resource",
            "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "TrackedResource": {
            "title": "Tracked Resource",
            "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "x-ms-mutability": [
                        "read",
                        "create",
                        "update"
                    ],
                    "description": "Resource tags."
                },
                "location": {
                    "type": "string",
                    "x-ms-mutability": [
                        "read",
                        "create"
                    ],
                    "description": "The geo-location where the resource lives"
                }
            },
            "required": [
                "location"
            ],
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "AzureEntityResource": {
            "x-ms-client-name": "AzureEntityResource",
            "title": "Entity Resource",
            "description": "The resource model definition for an Azure Resource Manager resource with an etag.",
            "properties": {
                "etag": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Etag."
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "Resource": {
            "title": "Resource",
            "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The name of the resource"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
                }
            },
            "x-ms-azure-resource": true
        },
        "ErrorResponseBody": {
            "properties": {
                "code": {
                    "type": "string",
                    "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
                },
                "message": {
                    "type": "string",
                    "description": "A message describing the error, intended to be suitable for display in a user interface."
                }
            },
            "description": "Error response body contract."
        },
        "ErrorResponse": {
            "properties": {
                "error": {
                    "$ref": "#/definitions/ErrorResponseBody",
                    "description": "Azure Storage Resource Provider error response body."
                }
            },
            "description": "An error response from the storage resource provider."
        }
    },
    "parameters": {
        "SubscriptionIdParamterer": {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID.",
            "required": true,
            "type": "string"
        },
        "ApiVersionParameter": {
            "name": "apiVersion",
            "in": "path",
            "description": "API ID.",
            "required": true,
            "type": "string"
        },
        "ResourceGroupName": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90,
            "x-ms-parameter-location": "method"
        },
        "StorageAccountName": {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "maxLength": 24,
            "minLength": 3,
            "x-ms-parameter-location": "method"
        },
        "ManagementPolicyName": {
            "name": "managementPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Storage Account Management Policy. It should always be 'default'",
            "enum": [
                "default"
            ],
            "x-ms-enum": {
                "name": "ManagementPolicyName",
                "modelAsString": true
            },
            "x-ms-parameter-location": "method"
        },
        "EncryptionScopeName": {
            "name": "encryptionScopeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the encryption scope within the specified storage account. Encryption scope names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.",
            "maxLength": 63,
            "minLength": 3,
            "x-ms-parameter-location": "method"
        },
        "ObjectReplicationPolicyId": {
            "name": "objectReplicationPolicyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of object replication policy or 'default' if the policy ID is unknown.",
            "minLength": 1,
            "x-ms-parameter-location": "method"
        },
        "BlobInventoryPolicyName": {
            "name": "blobInventoryPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the storage account blob inventory policy. It should always be 'default'",
            "enum": [
                "default"
            ],
            "x-ms-enum": {
                "name": "BlobInventoryPolicyName",
                "modelAsString": true
            },
            "x-ms-parameter-location": "method"
        },
        "PrivateEndpointConnectionName": {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "x-ms-parameter-location": "method"
        },
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the target subscription.",
            "minLength": 1
        }
    }
}