{
  "swagger": "2.0",
  "info": {
    "version": "2018-06-01-preview",
    "title": "HDInsightManagementClient",
    "description": "HDInsight Management Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}": {
      "put": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Create",
        "description": "Creates a new HDInsight cluster with the specified parameters.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterCreateParametersExtended"
            },
            "description": "The cluster create request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "patch": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Update",
        "description": "Patch HDInsight cluster with the specified parameters.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterPatchParameters"
            },
            "description": "The cluster patch request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Delete",
        "description": "Deletes the specified HDInsight cluster.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Get",
        "description": "Gets the specified cluster.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ListByResourceGroup",
        "description": "Lists the HDInsight clusters in a resource group.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/roles/{roleName}/resize": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Resize",
        "description": "Resizes the specified HDInsight cluster to the specified size.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "name": "roleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The constant value for the roleName",
            "enum": [
              "workernode"
            ],
            "x-ms-enum": {
              "name": "RoleName",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterResizeParameters"
            },
            "description": "The parameters for the resize operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_List",
        "x-ms-examples": null,
        "description": "Lists all the HDInsight clusters under the subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/rotatediskencryptionkey": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_RotateDiskEncryptionKey",
        "x-ms-examples": null,
        "description": "Rotate disk encryption key of the specified HDInsight cluster.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterDiskEncryptionParameters"
            },
            "description": "The parameters for the disk encryption operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/getGatewaySettings": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_GetGatewaySettings",
        "description": "Gets the gateway settings for the specified cluster.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/GatewaySettings"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/updateGatewaySettings": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_UpdateGatewaySettings",
        "description": "Configures the gateway settings on the specified cluster.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateGatewaySettingsParameters"
            },
            "description": "The cluster configurations."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "202": {
            "description": "Accepted response definition"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "description": "Lists all of the applications for the HDInsight cluster.",
        "operationId": "Applications_ListByCluster",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications/{applicationName}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "description": "Gets properties of the specified application.",
        "operationId": "Applications_Get",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "description": "Creates applications for the HDInsight cluster.",
        "operationId": "Applications_Create",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "description": "The application create request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "description": "Deletes the specified application on the HDInsight cluster.",
        "operationId": "Applications_Delete",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities": {
      "get": {
        "tags": [
          "Regions"
        ],
        "operationId": "Locations_GetCapabilities",
        "description": "Gets the capabilities for the specified location.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/CapabilitiesResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/usages": {
      "get": {
        "tags": [
          "Regions"
        ],
        "operationId": "Locations_ListUsages",
        "description": "Lists the usages for the specified location.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/UsagesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/billingSpecs": {
      "get": {
        "tags": [
          "Regions"
        ],
        "operationId": "Locations_ListBillingSpecs",
        "description": "Lists the billingSpecs for the specified subscription and location.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/BillingResponseListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations": {
      "post": {
        "tags": [
          "Configurations"
        ],
        "operationId": "Configurations_List",
        "description": "Gets all configuration information for an HDI cluster.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ClusterConfigurations"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations/{configurationName}": {
      "post": {
        "tags": [
          "Configurations"
        ],
        "operationId": "Configurations_Update",
        "description": "Configures the HTTP settings on the specified cluster. This API is deprecated, please use UpdateGatewaySettings in cluster endpoint instead.",
        "deprecated": true,
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterConfiguration"
            },
            "description": "The cluster configurations."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition"
          },
          "202": {
            "description": "Accepted response definition"
          },
          "204": {
            "description": "No content response definition"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Configurations"
        ],
        "operationId": "Configurations_Get",
        "description": "The configuration object for the specified cluster. This API is not recommended and might be removed in the future. Please consider using List configurations API instead.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ClusterConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/clustermonitoring": {
      "put": {
        "tags": [
          "Extensions"
        ],
        "description": "Enables the Operations Management Suite (OMS) on the HDInsight cluster.",
        "x-ms-examples": null,
        "operationId": "Extensions_EnableMonitoring",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterMonitoringRequest"
            },
            "description": "The Operations Management Suite (OMS) workspace parameters."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Extensions"
        ],
        "description": "Gets the status of Operations Management Suite (OMS) on the HDInsight cluster.",
        "x-ms-examples": null,
        "operationId": "Extensions_GetMonitoringStatus",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ClusterMonitoringResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Extensions"
        ],
        "description": "Disables the Operations Management Suite (OMS) on the HDInsight cluster.",
        "x-ms-examples": null,
        "operationId": "Extensions_DisableMonitoring",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "OK response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/{extensionName}": {
      "put": {
        "tags": [
          "Extensions"
        ],
        "description": "Creates an HDInsight cluster extension.",
        "operationId": "Extensions_Create",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Extension"
            },
            "description": "The cluster extensions create request."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Extensions"
        ],
        "description": "Gets the extension properties for the specified HDInsight cluster extension.",
        "x-ms-examples": null,
        "operationId": "Extensions_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Extension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Extensions"
        ],
        "description": "Deletes the specified extension for HDInsight cluster.",
        "x-ms-examples": null,
        "operationId": "Extensions_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions/{scriptName}": {
      "delete": {
        "tags": [
          "ScriptActions"
        ],
        "operationId": "ScriptActions_Delete",
        "description": "Deletes a specified persisted script action of the cluster.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ScriptNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/executeScriptActions": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ExecuteScriptActions",
        "description": "Executes script actions on the specified HDInsight cluster.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteScriptActionParameters"
            },
            "description": "The parameters for executing script actions."
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted response definition."
          },
          "202": {
            "description": "OK response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions": {
      "get": {
        "tags": [
          "ScriptActions"
        ],
        "operationId": "ScriptActions_ListByCluster",
        "description": "Lists all the persisted script actions for the specified cluster.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ScriptActionsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}": {
      "get": {
        "tags": [
          "ScriptExecutionHistory"
        ],
        "operationId": "ScriptActions_GetExecutionDetail",
        "description": "Gets the script execution detail for the given script execution ID.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ScriptExecutionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/RuntimeScriptActionDetail"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory": {
      "get": {
        "tags": [
          "ScriptExecutionHistory"
        ],
        "operationId": "ScriptExecutionHistory_ListByCluster",
        "description": "Lists all scripts' execution history for the specified cluster.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ScriptActionExecutionHistoryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}/promote": {
      "post": {
        "tags": [
          "Promote"
        ],
        "operationId": "ScriptExecutionHistory_Promote",
        "description": "Promotes the specified ad-hoc script execution to a persisted script.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ScriptExecutionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/providers/Microsoft.HDInsight/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available HDInsight REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/listHosts": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_ListHosts",
        "description": "Lists the HDInsight clusters hosts",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/HostInfoListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/restartHosts": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_RestartHosts",
        "description": "Restarts the specified HDInsight cluster hosts.",
        "x-ms-examples": null,
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "hosts",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RestartHostsParameters"
            },
            "description": "The list of hosts to restart"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "202": {
            "description": "Accepted response definition."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "ClusterDefinition": {
      "description": "The cluster definition.",
      "properties": {
        "blueprint": {
          "type": "string",
          "description": "The link to the blueprint."
        },
        "kind": {
          "type": "string",
          "description": "The type of cluster."
        },
        "componentVersion": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The versions of different services in the cluster."
        },
        "configurations": {
          "type": "object",
          "description": "The cluster configurations."
        }
      }
    },
    "ClientGroupInfo": {
      "description": "The information of AAD security group.",
      "properties": {
        "groupName": {
          "type": "string",
          "description": "The AAD security group name."
        },
        "groupId": {
          "type": "string",
          "description": "The AAD security group id."
        }
      }
    },
    "KafkaRestProperties": {
      "description": "The kafka rest proxy configuration which contains AAD security group information.",
      "properties": {
        "clientGroupInfo": {
          "$ref": "#/definitions/ClientGroupInfo",
          "description": "The information of AAD security group."
        }
      }
    },
    "SecurityProfile": {
      "description": "The security profile which contains Ssh public key for the HDInsight cluster.",
      "properties": {
        "directoryType": {
          "type": "string",
          "description": "The directory type.",
          "enum": [
            "ActiveDirectory"
          ],
          "x-ms-enum": {
            "name": "DirectoryType",
            "modelAsString": false
          }
        },
        "domain": {
          "type": "string",
          "description": "The organization's active directory domain."
        },
        "organizationalUnitDN": {
          "type": "string",
          "description": "The organizational unit within the Active Directory to place the cluster and service accounts."
        },
        "ldapsUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The LDAPS protocol URLs to communicate with the Active Directory."
        },
        "domainUsername": {
          "type": "string",
          "description": "The domain user account that will have admin privileges on the cluster."
        },
        "domainUserPassword": {
          "type": "string",
          "format": "password",
          "description": "The domain admin password."
        },
        "clusterUsersGroupDNs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The Distinguished Names for cluster user groups"
        },
        "aaddsResourceId": {
          "type": "string",
          "description": "The resource ID of the user's Azure Active Directory Domain Service."
        },
        "msiResourceId": {
          "type": "string",
          "description": "User assigned identity that has permissions to read and create cluster-related artifacts in the user's AADDS."
        }
      }
    },
    "AutoscaleTimeAndCapacity": {
      "properties": {
        "time": {
          "type": "string",
          "description": "24-hour time in the form xx:xx"
        },
        "minInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum instance count of the cluster"
        },
        "maxInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum instance count of the cluster"
        }
      },
      "description": "Time and capacity request parameters"
    },
    "AutoscaleSchedule": {
      "properties": {
        "days": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "x-ms-enum": {
              "name": "DaysOfWeek",
              "modelAsString": false
            }
          },
          "description": "Days of the week for a schedule-based autoscale rule"
        },
        "timeAndCapacity": {
          "$ref": "#/definitions/AutoscaleTimeAndCapacity",
          "description": "Time and capacity for a schedule-based autoscale rule"
        }
      },
      "description": "Parameters for a schedule-based autoscale rule, consisting of an array of days + a time and capacity"
    },
    "AutoscaleCapacity": {
      "properties": {
        "minInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum instance count of the cluster"
        },
        "maxInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum instance count of the cluster"
        }
      },
      "description": "The load-based autoscale request parameters"
    },
    "AutoscaleRecurrence": {
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "The time zone for the autoscale schedule times"
        },
        "schedule": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AutoscaleSchedule"
          },
          "description": "Array of schedule-based autoscale rules"
        }
      },
      "description": "Schedule-based autoscale request parameters"
    },
    "Autoscale": {
      "properties": {
        "capacity": {
          "$ref": "#/definitions/AutoscaleCapacity",
          "description": "Parameters for load-based autoscale"
        },
        "recurrence": {
          "$ref": "#/definitions/AutoscaleRecurrence",
          "description": "Parameters for schedule-based autoscale"
        }
      },
      "description": "The autoscale request parameters"
    },
    "HardwareProfile": {
      "properties": {
        "vmSize": {
          "type": "string",
          "description": "The size of the VM"
        }
      },
      "description": "The hardware profile."
    },
    "VirtualNetworkProfile": {
      "description": "The virtual network properties.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the virtual network."
        },
        "subnet": {
          "type": "string",
          "description": "The name of the subnet."
        }
      }
    },
    "DataDisksGroups": {
      "description": "The data disks groups for the role.",
      "properties": {
        "disksPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "The number of disks per node."
        },
        "storageAccountType": {
          "type": "string",
          "description": "ReadOnly. The storage account type. Do not set this value.",
          "readOnly": true
        },
        "diskSizeGB": {
          "type": "integer",
          "description": "ReadOnly. The DiskSize in GB. Do not set this value.",
          "readOnly": true
        }
      }
    },
    "SshPublicKey": {
      "description": "The SSH public key for the cluster nodes.",
      "properties": {
        "certificateData": {
          "type": "string",
          "description": "The certificate for SSH."
        }
      }
    },
    "SshProfile": {
      "description": "The list of SSH public keys.",
      "properties": {
        "publicKeys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SshPublicKey"
          },
          "description": "The list of SSH public keys."
        }
      }
    },
    "LinuxOperatingSystemProfile": {
      "description": "The ssh username, password, and ssh public key.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username."
        },
        "password": {
          "type": "string",
          "description": "The password."
        },
        "sshProfile": {
          "$ref": "#/definitions/SshProfile",
          "description": "The SSH profile."
        }
      }
    },
    "OsProfile": {
      "description": "The Linux operation systems profile.",
      "properties": {
        "linuxOperatingSystemProfile": {
          "$ref": "#/definitions/LinuxOperatingSystemProfile",
          "description": "The Linux OS profile."
        }
      }
    },
    "Role": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the role."
        },
        "minInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum instance count of the cluster."
        },
        "targetInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The instance count of the cluster."
        },
        "autoscale": {
          "$ref": "#/definitions/Autoscale",
          "x-ms-client-name": "autoscaleConfiguration",
          "description": "The autoscale configurations."
        },
        "hardwareProfile": {
          "$ref": "#/definitions/HardwareProfile",
          "description": "The hardware profile."
        },
        "osProfile": {
          "$ref": "#/definitions/OsProfile",
          "description": "The operating system profile."
        },
        "virtualNetworkProfile": {
          "$ref": "#/definitions/VirtualNetworkProfile",
          "description": "The virtual network profile."
        },
        "dataDisksGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataDisksGroups"
          },
          "description": "The data disks groups for the role."
        },
        "scriptActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScriptAction"
          },
          "description": "The list of script actions on the role."
        }
      },
      "description": "Describes a role on the cluster."
    },
    "ComputeProfile": {
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Role"
          },
          "description": "The list of roles in the cluster."
        }
      },
      "description": "Describes the compute profile."
    },
    "StorageAccount": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the storage account."
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether or not the storage account is the default storage account."
        },
        "container": {
          "type": "string",
          "description": "The container in the storage account, only to be specified for WASB storage accounts."
        },
        "fileSystem": {
          "type": "string",
          "description": "The filesystem, only to be specified for Azure Data Lake Storage Gen 2."
        },
        "key": {
          "type": "string",
          "description": "The storage account access key."
        },
        "resourceId": {
          "type": "string",
          "description": "The resource ID of storage account, only to be specified for Azure Data Lake Storage Gen 2."
        },
        "msiResourceId": {
          "type": "string",
          "description": "The managed identity (MSI) that is allowed to access the storage account, only to be specified for Azure Data Lake Storage Gen 2."
        }
      },
      "description": "The storage Account."
    },
    "StorageProfile": {
      "properties": {
        "storageaccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageAccount"
          },
          "description": "The list of storage accounts in the cluster."
        }
      },
      "description": "The storage profile."
    },
    "NetworkSettings": {
      "properties": {
        "publicNetworkAccess": {
          "type": "string",
          "description": "Specifies whether public network access is enabled for inbound and outbound, or outbound only.",
          "enum": [
            "InboundAndOutbound",
            "OutboundOnly"
          ],
          "x-ms-enum": {
            "name": "PublicNetworkAccess",
            "modelAsString": true
          }
        },
        "outboundOnlyPublicNetworkAccessType": {
          "type": "string",
          "description": "The mechanism through which the cluster will have outbound access to the public network.",
          "enum": [
            "PublicLoadBalancer",
            "UDR"
          ],
          "x-ms-enum": {
            "name": "OutboundOnlyPublicNetworkAccessType",
            "modelAsString": true
          }
        }
      },
      "description": "The network settings."
    },
    "ClusterCreateProperties": {
      "description": "The cluster create parameters.",
      "properties": {
        "clusterVersion": {
          "type": "string",
          "description": "The version of the cluster."
        },
        "osType": {
          "type": "string",
          "description": "The type of operating system.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OSType",
            "modelAsString": false
          }
        },
        "tier": {
          "type": "string",
          "description": "The cluster tier.",
          "enum": [
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "Tier",
            "modelAsString": false
          }
        },
        "clusterDefinition": {
          "$ref": "#/definitions/ClusterDefinition",
          "description": "The cluster definition."
        },
        "kafkaRestProperties": {
          "$ref": "#/definitions/KafkaRestProperties",
          "description": "The cluster kafka rest proxy configuration."
        },
        "securityProfile": {
          "$ref": "#/definitions/SecurityProfile",
          "description": "The security profile."
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "The compute profile."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "The storage profile."
        },
        "diskEncryptionProperties": {
          "$ref": "#/definitions/DiskEncryptionProperties",
          "description": "The disk encryption properties."
        },
        "encryptionInTransitProperties": {
          "$ref": "#/definitions/EncryptionInTransitProperties",
          "description": "The encryption-in-transit properties."
        },
        "minSupportedTlsVersion": {
          "type": "string",
          "description": "The minimal supported tls version."
        },
        "networkSettings": {
          "$ref": "#/definitions/NetworkSettings",
          "description": "The network settings."
        }
      }
    },
    "ClusterCreateParametersExtended": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the cluster."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        },
        "properties": {
          "$ref": "#/definitions/ClusterCreateProperties",
          "description": "The cluster create parameters."
        },
        "identity": {
          "$ref": "#/definitions/ClusterIdentity",
          "description": "The identity of the cluster, if configured."
        }
      },
      "description": "The CreateCluster request parameters."
    },
    "ClusterPatchParameters": {
      "properties": {
        "tags": {
          "type": "object",
          "x-nullable": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        }
      },
      "description": "The PatchCluster request parameters"
    },
    "QuotaInfo": {
      "description": "The quota properties for the cluster.",
      "properties": {
        "coresUsed": {
          "type": "integer",
          "format": "int32",
          "description": "The cores used by the cluster."
        }
      }
    },
    "Errors": {
      "description": "The error message associated with the cluster creation.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      }
    },
    "ConnectivityEndpoint": {
      "description": "The connectivity properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the endpoint."
        },
        "protocol": {
          "type": "string",
          "description": "The protocol of the endpoint."
        },
        "location": {
          "type": "string",
          "description": "The location of the endpoint."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port to connect to."
        }
      }
    },
    "ClusterGetProperties": {
      "description": "The properties of cluster.",
      "properties": {
        "clusterVersion": {
          "type": "string",
          "description": "The version of the cluster."
        },
        "osType": {
          "type": "string",
          "description": "The type of operating system.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "x-ms-enum": {
            "name": "OSType",
            "modelAsString": false
          }
        },
        "tier": {
          "type": "string",
          "description": "The cluster tier.",
          "enum": [
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "Tier",
            "modelAsString": false
          }
        },
        "clusterDefinition": {
          "$ref": "#/definitions/ClusterDefinition",
          "description": "The cluster definition."
        },
        "kafkaRestProperties": {
          "$ref": "#/definitions/KafkaRestProperties",
          "description": "The cluster kafka rest proxy configuration."
        },
        "securityProfile": {
          "$ref": "#/definitions/SecurityProfile",
          "description": "The security profile."
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "The compute profile."
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state, which only appears in the response.",
          "enum": [
            "InProgress",
            "Failed",
            "Succeeded",
            "Canceled",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "HDInsightClusterProvisioningState",
            "modelAsString": false
          }
        },
        "createdDate": {
          "type": "string",
          "description": "The date on which the cluster was created."
        },
        "clusterState": {
          "type": "string",
          "description": "The state of the cluster."
        },
        "quotaInfo": {
          "$ref": "#/definitions/QuotaInfo",
          "description": "The quota information."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Errors"
          },
          "description": "The list of errors."
        },
        "connectivityEndpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectivityEndpoint"
          },
          "description": "The list of connectivity endpoints."
        },
        "diskEncryptionProperties": {
          "$ref": "#/definitions/DiskEncryptionProperties",
          "description": "The disk encryption properties."
        },
        "encryptionInTransitProperties": {
          "$ref": "#/definitions/EncryptionInTransitProperties",
          "description": "The encryption-in-transit properties."
        },
        "minSupportedTlsVersion": {
          "type": "string",
          "description": "The minimal supported tls version."
        },
        "networkSettings": {
          "$ref": "#/definitions/NetworkSettings",
          "description": "The network settings."
        }
      },
      "required": [
        "clusterDefinition"
      ]
    },
    "Cluster": {
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "etag": {
          "type": "string",
          "description": "The ETag for the resource"
        },
        "properties": {
          "$ref": "#/definitions/ClusterGetProperties",
          "description": "The properties of the cluster."
        },
        "identity": {
          "$ref": "#/definitions/ClusterIdentity",
          "description": "The identity of the cluster, if configured."
        }
      },
      "description": "The HDInsight cluster."
    },
    "RuntimeScriptAction": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the script action."
        },
        "uri": {
          "type": "string",
          "description": "The URI to the script."
        },
        "parameters": {
          "type": "string",
          "description": "The parameters for the script"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of roles where script will be executed."
        },
        "applicationName": {
          "readOnly": true,
          "type": "string",
          "description": "The application name of the script action, if any."
        }
      },
      "required": [
        "name",
        "uri",
        "roles"
      ],
      "description": "Describes a script action on a running cluster."
    },
    "ExecuteScriptActionParameters": {
      "properties": {
        "scriptActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptAction"
          },
          "description": "The list of run time script actions."
        },
        "persistOnSuccess": {
          "type": "boolean",
          "description": "Gets or sets if the scripts needs to be persisted."
        }
      },
      "required": [
        "persistOnSuccess"
      ],
      "description": "The parameters for the script actions to execute on a running cluster."
    },
    "ClusterListPersistedScriptActionsResult": {
      "properties": {
        "value": {
          "description": "The list of Persisted Script Actions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptAction"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The link (url) to the next page of results."
        }
      },
      "description": "The ListPersistedScriptActions operation response."
    },
    "ScriptActionExecutionSummary": {
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of script action execution."
        },
        "instanceCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The instance count for a given script action execution status."
        }
      },
      "description": "The execution summary of a script action."
    },
    "RuntimeScriptActionDetail": {
      "allOf": [
        {
          "$ref": "#/definitions/RuntimeScriptAction"
        },
        {
          "properties": {
            "scriptExecutionId": {
              "readOnly": true,
              "type": "integer",
              "format": "int64",
              "description": "The execution id of the script action."
            },
            "startTime": {
              "readOnly": true,
              "type": "string",
              "description": "The start time of script action execution."
            },
            "endTime": {
              "readOnly": true,
              "type": "string",
              "description": "The end time of script action execution."
            },
            "status": {
              "readOnly": true,
              "type": "string",
              "description": "The current execution status of the script action."
            },
            "operation": {
              "readOnly": true,
              "type": "string",
              "description": "The reason why the script action was executed."
            },
            "executionSummary": {
              "readOnly": true,
              "type": "array",
              "items": {
                "$ref": "#/definitions/ScriptActionExecutionSummary"
              },
              "description": "The summary of script action execution result."
            },
            "debugInformation": {
              "readOnly": true,
              "type": "string",
              "description": "The script action execution debug information."
            }
          }
        }
      ],
      "description": "The execution details of a script action."
    },
    "ClusterListRuntimeScriptActionDetailResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptActionDetail"
          },
          "description": "The list of persisted script action details for the cluster."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The link (url) to the next page of results."
        }
      },
      "description": "The list runtime script action detail response."
    },
    "ClusterIdentity": {
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of cluster identity. This property will only be provided for a system assigned identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant id associated with the cluster. This property will only be provided for a system assigned identity."
        },
        "type": {
          "type": "string",
          "description": "The type of identity used for the cluster. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities.",
          "enum": [
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "principalId": {
                "readOnly": true,
                "type": "string",
                "description": "The principal id of user assigned identity."
              },
              "clientId": {
                "readOnly": true,
                "type": "string",
                "description": "The client id of user assigned identity."
              }
            }
          },
          "description": "The list of user identities associated with the cluster. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
        }
      },
      "description": "Identity for the cluster."
    },
    "ClusterListResult": {
      "properties": {
        "value": {
          "description": "The list of Clusters.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The link (url) to the next page of results."
        }
      },
      "description": "The List Cluster operation response."
    },
    "ClusterResizeParameters": {
      "properties": {
        "targetInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The target instance count for the operation."
        }
      },
      "description": "The Resize Cluster request parameters."
    },
    "ClusterDiskEncryptionParameters": {
      "properties": {
        "vaultUri": {
          "type": "string",
          "description": "Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net"
        },
        "keyName": {
          "type": "string",
          "description": "Key name that is used for enabling disk encryption."
        },
        "keyVersion": {
          "type": "string",
          "description": "Specific key version that is used for enabling disk encryption."
        }
      },
      "description": "The Disk Encryption Cluster request parameters."
    },
    "DiskEncryptionProperties": {
      "description": "The disk encryption properties",
      "properties": {
        "vaultUri": {
          "type": "string",
          "description": "Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net"
        },
        "keyName": {
          "type": "string",
          "description": "Key name that is used for enabling disk encryption."
        },
        "keyVersion": {
          "type": "string",
          "description": "Specific key version that is used for enabling disk encryption."
        },
        "encryptionAlgorithm": {
          "type": "string",
          "description": "Algorithm identifier for encryption, default RSA-OAEP.",
          "enum": [
            "RSA-OAEP",
            "RSA-OAEP-256",
            "RSA1_5"
          ],
          "x-ms-enum": {
            "name": "JsonWebKeyEncryptionAlgorithm",
            "modelAsString": true
          }
        },
        "msiResourceId": {
          "type": "string",
          "description": "Resource ID of Managed Identity that is used to access the key vault."
        }
      }
    },
    "EncryptionInTransitProperties": {
      "description": "The encryption-in-transit properties.",
      "properties": {
        "isEncryptionInTransitEnabled": {
          "type": "boolean",
          "default": false,
          "description": "Indicates whether or not inter cluster node communication is encrypted in transit."
        }
      }
    },
    "UpdateGatewaySettingsParameters": {
      "properties": {
        "restAuthCredential.isEnabled": {
          "type": "boolean",
          "default": true,
          "x-ms-client-name": "isCredentialEnabled",
          "description": "Indicates whether or not the gateway settings based authorization is enabled."
        },
        "restAuthCredential.username": {
          "type": "string",
          "x-ms-client-name": "userName",
          "description": "The gateway settings user name."
        },
        "restAuthCredential.password": {
          "type": "string",
          "x-ms-client-name": "password",
          "description": "The gateway settings user password."
        }
      },
      "description": "The update gateway settings request parameters."
    },
    "GatewaySettings": {
      "properties": {
        "restAuthCredential.isEnabled": {
          "type": "string",
          "x-ms-client-name": "isCredentialEnabled",
          "description": "Indicates whether or not the gateway settings based authorization is enabled.",
          "readOnly": true
        },
        "restAuthCredential.username": {
          "type": "string",
          "x-ms-client-name": "userName",
          "description": "The gateway settings user name.",
          "readOnly": true
        },
        "restAuthCredential.password": {
          "type": "string",
          "x-ms-client-name": "password",
          "description": "The gateway settings user password.",
          "readOnly": true
        }
      },
      "description": "Gateway settings."
    },
    "OperationResource": {
      "properties": {
        "status": {
          "type": "string",
          "description": "The async operation state.",
          "enum": [
            "InProgress",
            "Succeeded",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "AsyncOperationState",
            "modelAsString": false
          }
        },
        "error": {
          "$ref": "#/definitions/Errors",
          "description": "The operation error information."
        }
      },
      "description": "The azure async operation response."
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ScriptAction": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the script action."
        },
        "uri": {
          "type": "string",
          "description": "The URI to the script."
        },
        "parameters": {
          "type": "string",
          "description": "The parameters for the script provided."
        }
      },
      "required": [
        "name",
        "uri",
        "parameters"
      ],
      "description": "Describes a script action on role on the cluster."
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "ApplicationGetHttpsEndpoint": {
      "description": "Gets the application HTTP endpoints.",
      "type": "object",
      "properties": {
        "accessModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of access modes for the application."
        },
        "location": {
          "type": "string",
          "description": "The location of the endpoint."
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32",
          "description": "The destination port to connect to."
        },
        "publicPort": {
          "type": "integer",
          "format": "int32",
          "description": "The public port to connect to."
        },
        "subDomainSuffix": {
          "type": "string",
          "description": "The subdomain suffix of the application."
        },
        "disableGatewayAuth": {
          "type": "boolean",
          "description": "The value indicates whether to disable GatewayAuth."
        }
      }
    },
    "ApplicationGetEndpoint": {
      "description": "Gets the application SSH endpoint",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the endpoint."
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32",
          "description": "The destination port to connect to."
        },
        "publicPort": {
          "type": "integer",
          "format": "int32",
          "description": "The public port to connect to."
        }
      }
    },
    "ApplicationProperties": {
      "description": "The HDInsight cluster application GET response.",
      "type": "object",
      "properties": {
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "The list of roles in the cluster."
        },
        "installScriptActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptAction"
          },
          "description": "The list of install script actions."
        },
        "uninstallScriptActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuntimeScriptAction"
          },
          "description": "The list of uninstall script actions."
        },
        "httpsEndpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationGetHttpsEndpoint"
          },
          "description": "The list of application HTTPS endpoints."
        },
        "sshEndpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationGetEndpoint"
          },
          "description": "The list of application SSH endpoints."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state of the application."
        },
        "applicationType": {
          "type": "string",
          "description": "The application type."
        },
        "applicationState": {
          "readOnly": true,
          "type": "string",
          "description": "The application state."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Errors"
          },
          "description": "The list of errors."
        },
        "createdDate": {
          "readOnly": true,
          "type": "string",
          "description": "The application create date time."
        },
        "marketplaceIdentifier": {
          "readOnly": true,
          "type": "string",
          "description": "The marketplace identifier."
        }
      }
    },
    "Application": {
      "description": "The HDInsight cluster application",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "etag": {
          "description": "The ETag for the application",
          "type": "string"
        },
        "tags": {
          "description": "The tags for the application.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The properties of the application."
        }
      }
    },
    "ApplicationListResult": {
      "description": "Result of the request to list cluster Applications. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Application"
          },
          "description": "The list of HDInsight applications installed on HDInsight cluster."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of operation list results if there are any."
        }
      }
    },
    "VersionSpec": {
      "description": "The version properties.",
      "properties": {
        "friendlyName": {
          "type": "string",
          "description": "The friendly name"
        },
        "displayName": {
          "type": "string",
          "description": "The display name"
        },
        "isDefault": {
          "type": "string",
          "description": "Whether or not the version is the default version."
        },
        "componentVersions": {
          "type": "object",
          "description": "The component version property.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "readOnly": true
    },
    "VersionsCapability": {
      "description": "The version capability.",
      "properties": {
        "available": {
          "description": "The list of version capabilities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VersionSpec"
          }
        }
      },
      "readOnly": true
    },
    "RegionsCapability": {
      "description": "The regions capability.",
      "properties": {
        "available": {
          "description": "The list of region capabilities.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "readOnly": true
    },
    "VmSizesCapability": {
      "description": "The virtual machine sizes capability.",
      "properties": {
        "available": {
          "description": "The list of virtual machine size capabilities.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "readOnly": true
    },
    "VmSizeCompatibilityFilter": {
      "description": "The virtual machine type compatibility filter.",
      "properties": {
        "FilterMode": {
          "description": "The mode for the filter.",
          "type": "string"
        },
        "Regions": {
          "description": "The list of regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ClusterFlavors": {
          "description": "The list of cluster types available.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NodeTypes": {
          "description": "The list of node types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ClusterVersions": {
          "description": "The list of cluster versions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmsizes": {
          "description": "The list of virtual machine sizes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "readOnly": true
    },
    "RegionalQuotaCapability": {
      "description": "The regional quota capacity.",
      "properties": {
        "region_name": {
          "description": "The region name.",
          "type": "string"
        },
        "cores_used": {
          "description": "The number of cores used in the region.",
          "type": "integer",
          "format": "int64"
        },
        "cores_available": {
          "description": "The number of cores available in the region.",
          "type": "integer",
          "format": "int64"
        }
      },
      "readOnly": true
    },
    "QuotaCapability": {
      "description": "The regional quota capability.",
      "properties": {
        "cores_used": {
          "description": "The number of cores used in the subscription.",
          "type": "integer",
          "format": "int64"
        },
        "max_cores_allowed": {
          "description": "The number of cores that the subscription allowed.",
          "type": "integer",
          "format": "int64"
        },
        "regionalQuotas": {
          "description": "The list of region quota capabilities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegionalQuotaCapability"
          }
        }
      },
      "readOnly": true
    },
    "CapabilitiesResult": {
      "description": "The Get Capabilities operation response.",
      "properties": {
        "versions": {
          "description": "The version capability.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/VersionsCapability"
          }
        },
        "regions": {
          "description": "The virtual machine size compatibility features.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RegionsCapability"
          }
        },
        "vmSizes": {
          "description": "The virtual machine sizes.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/VmSizesCapability"
          }
        },
        "vmSize_filters": {
          "description": "The virtual machine size compatibility filters.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VmSizeCompatibilityFilter"
          }
        },
        "features": {
          "description": "The capability features.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "quota": {
          "description": "The quota capability.",
          "$ref": "#/definitions/QuotaCapability"
        }
      },
      "readOnly": true
    },
    "LocalizedName": {
      "description": "The details about the localizable name of a type of usage.",
      "properties": {
        "value": {
          "description": "The name of the used resource.",
          "type": "string"
        },
        "localizedValue": {
          "description": "The localized name of the used resource.",
          "type": "string"
        }
      },
      "readOnly": true
    },
    "Usage": {
      "description": "The details about the usage of a particular limited resource.",
      "properties": {
        "unit": {
          "description": "The type of measurement for usage.",
          "type": "string"
        },
        "currentValue": {
          "description": "The current usage.",
          "type": "integer"
        },
        "limit": {
          "description": "The maximum allowed usage.",
          "type": "integer"
        },
        "name": {
          "description": "The details about the localizable name of the used resource.",
          "$ref": "#/definitions/LocalizedName"
        }
      },
      "readOnly": true
    },
    "UsagesListResult": {
      "description": "The response for the operation to get regional usages for a subscription.",
      "properties": {
        "value": {
          "description": "The list of usages.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Usage"
          }
        }
      },
      "readOnly": true
    },
    "BillingResponseListResult": {
      "type": "object",
      "description": "The response for the operation to get regional billingSpecs for a subscription.",
      "properties": {
        "vmSizes": {
          "description": "The virtual machine sizes to include or exclude.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmSizeFilters": {
          "description": "The virtual machine filtering mode. Effectively this can enabling or disabling the virtual machine sizes in a particular set.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VmSizeCompatibilityFilterV2"
          }
        },
        "billingResources": {
          "description": "The billing and managed disk billing resources for a region.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BillingResources"
          }
        }
      }
    },
    "VmSizeCompatibilityFilterV2": {
      "type": "object",
      "description": "This class represent a single filter object that defines a multidimensional set. The dimensions of this set are Regions, ClusterFlavors, NodeTypes and ClusterVersions. The constraint should be defined based on the following: FilterMode (Exclude vs Include), VMSizes (the vm sizes in affect of exclusion/inclusion) and the ordering of the Filters. Later filters override previous settings if conflicted.",
      "properties": {
        "filterMode": {
          "description": "The filtering mode. Effectively this can enabling or disabling the VM sizes in a particular set.",
          "type": "string",
          "enum": [
            "Exclude",
            "Include"
          ],
          "x-ms-enum": {
            "name": "FilterMode",
            "modelAsString": true
          }
        },
        "regions": {
          "description": "The list of regions under the effect of the filter.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterFlavors": {
          "description": "The list of cluster flavors under the effect of the filter.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nodeTypes": {
          "description": "The list of node types affected by the filter.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterVersions": {
          "description": "The list of cluster versions affected in Major.Minor format.",
          "type": "array",
          "items": {
[...]
